<!--head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1, maximum-scale = 2, user-scalable=1" />
    <script src="//use.typekit.net/[redacted-a].js"></script>
    <script>try{Typekit.load();}catch(e){}</script>    
</head>

<body>

	<%# provide(:title, 'Blog') %>

<%#= render 'shared/public_header' %>
        <%#= image_tag("top bar.png", :id => "top_bar", :class => "image") %>
        <p id="_The_spoken_word_perishes_but_the_written_word_endures_-_Anc">
        "The spoken word perishes, but the written word endures." - Ancient Roman Proverb
        </p>
        <p id="Contactv">
        Blog
        </p>
        <p id="Contact_us_to_set_up_your_free_consultation_">
        Coming Soon
        </p>
        <%#= image_tag("bottom bar.png", :id => "bottom_bar", :class => "image") %>
        <div id="boxv2" class="clearfix">
        </div>

</body-->
