<head>

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
    <meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">
</head>
    
<div id="ThemeCoverPhotoTimelineCarma" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">TIMELINE</span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">A CHRONOLOGICAL REVIEW</span><br />
            </span>

            <span id="ChapterSectionIndex"><br/><br/><br/><div class="invisichar">
                </div>
            </span>

</div>


<iframe src='https://s3.amazonaws.com/cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=1391HsXK8VgOztOrBRfkmVzZDkVv1Zn6mVPib9NS5pBI&font=Rancho-Gudea&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>


<!--iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0AmlsQ45rr2mSdEVEOGV0ZEVPbzE5LXVmaVpqUV9mbnc&font=PlayfairDisplay-Muli&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe-->      

        <span id="ChapterHeading">
            <span id="textspanlichapter9">N</span><span id="textspanlichapter10">o</span><span id="textspanlichapter11"> 1 &nbsp;</span>
            <span id="textspanlichapter13">SEASONS </span>
        </span>
        <div id="HorizontalDivider" class="clearfix">
        </div>
        <div class="ChapterVideoDiv">
            <div class="ChapterVideo">
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/196379753&amp;color=ccc9c8&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            </div>
        </div>
        <span id="ChapterQuoteAudio">
        “I am happy to be here and I have no desire to go back to another time.” 
        </span>
<div id="ChapterText" class="clearfix">
        <span id="ChapterParagraphOne">

        I have one thought I have framed in the office; it’s up on my shelf, and I’d like to share that with you. “I want to enjoy all the seasons of my life. I feel blessed to have reached my winter season. I am happy to be here and I have no desire to go back to another time. Thank you Heavenly Father for allowing me to live all my seasons.” Isn’t that priceless? I don’t know where I got that, but it’s priceless.
        </span>
</div>

        <div class="bottom-menu">
            <p id="bottommenuli">
            <%= link_to 'HOME', carma_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', carma_childhood_1_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', carma_guestbook_path %><br />
            </p>
        </div>