<head>
  <script language="javascript" type="text/javascript">
    function showHide(shID) {
      if (document.getElementById(shID)) {
        if (document.getElementById(shID+'-show').style.display != 'none') {
          document.getElementById(shID+'-show').style.display = 'none';
          document.getElementById(shID).style.display = 'block';
        }
        else {
          document.getElementById(shID+'-show').style.display = 'inline';
          document.getElementById(shID).style.display = 'none';
        }
      }
    }

          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');

  </script>
</head>

<% provide(:title, 'Help') %>

        <%= link_to image_tag("AnthoLogoNew.png", :id => "AnthoLogo", :class => "image"), root_path %>
        
        <br /><br />
         <div id="boxw55" class="clearfix">
                            <span id="Bring_your_family_story_to_life">
                            Bring your family story to life
                            </span>
                            <p id="Celebrate_their_lives_with_an_interactive_online_museum_">
                            Celebrate their lives with an interactive online museum 
                            </p>
         </div>
<!--div class="wrap">
  <div id="help">
      <div class="top">
          <h1>Help</h1>
          <br>
          <p>
            Yes, help. We all need it! Below are some FAQ. 
          </p>
      </div>
      <div id="helpfaq">
          <div class="helpme">
              <h3>Getting Started</h3>
          </div>    
                     
              <div class="hideform2">
                <p><a href="#" id="example-show" class="showLink" onclick="showHide('example');return false;"><h2>What does Antho mean?</h2></a></p>
                <div id="example" class="more">
                  <p><a href="#" id="example-hide" class="hideLink" onclick="showHide('example');return false;"></a></p>
                  <div class="answer">
                      <p>Antho’s name comes from the word “anthology,” defined simply as a collection of stories and writings from various authors. </p>
                  </div>  
                </div>
              </div>
     
          
              <div class="hideform2">
                <p><a href="#" id="example2-show" class="showLink" onclick="showHide('example2');return false;"><h2>What is an anthology?</h2></a></p>
                <div id="example2" class="more">
                  <p><a href="#" id="example2-hide" class="hideLink" onclick="showHide('example2');return false;"></a></p>
                  <div class="answer">
                  <p>An anthology is a person's life story, made up of a collection of memories deposited by that person's friends and family. Contributions generally consist of noteworthy pictures and significant anecdotes. These stories focus on the impact the person has had on the contributor's life, whether it be through treasured and shared moments or as a role model and exemplar.</p>
                  </div>  
                </div>
              </div>
          
              <div class="hideform2">
                <p><a href="#" id="example3-show" class="showLink" onclick="showHide('example3');return false;"><h2>What should I contribute to someone's anthology?</h2></a></p>
                <div id="example3" class="more">
                  <p><a href="#" id="example3-hide" class="hideLink" onclick="showHide('example3');return false;"></a></p>
                  <div class="answer">
                      <p>Think of impressional moments you've shared with that person. Focus on interactions that you've had on a one-on-one basis.When you upload a photo, be picky. We especially encourage you to post about the following:</p>
                      <br>
                      <p>Acts of courage &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Acts of service</p>
                      <p>Acts of sacrifice  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  Acts of love </p>        
                      <p>Acts of friendship&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Acts of forgiveness</p>
                      <p>Gestures of kindness&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Feats of greatness</p>
                      <p>Reflections &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Transformations</p>
                      <p>Epiphanies &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Changes of heart</p>
                      <p>Turning points  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
                  </div>  
                </div>
              </div>    
              <div class="hideform2">
                <p><a href="#" id="example4-show" class="showLink" onclick="showHide('example4');return false;"><h2>What are some guiding principles as I decide what to post on Antho?</h2></a></p>
                <div id="example4" class="more">
                  <p><a href="#" id="example4-hide" class="hideLink" onclick="showHide('example4');return false;"></a></p>
                  <div class="answer">               
                      
                          <p>Quality over quantity</p>
                          <p>Less is more</p> 
                          <p>More <strong>why</strong> than <strong>what</strong></p>
                          <p>Everyone has a story to tell</p>
                          <p>Think timeless</p>
                      
                  </div>  
                </div>
              </div>            
              <div class="hideform2">
                <p><a href="#" id="example5-show" class="showLink" onclick="showHide('example5');return false;"><h2>How should I write the stories on an anthology?</h2></a></p>
                <div id="example5" class="more">
                  <p><a href="#" id="example5-hide" class="hideLink" onclick="showHide('example5');return false;"></a></p>
                  <div class="answer">
                      <p>Since you're paying tribute, bring out the best writing you have. Soon, we'll feature the option to upload audio and video content, but for now, the pen -- or keyboard, rather! -- is your mightiest companion. When we envisioned Antho, we thought of words that could describe the kinds of stories that were appropriate to fill its pages. We felt that the essence of the content can be authentic, candid, humorous, or mundane. It could also be triumphant, beautiful, epic, or extraordinary.</p>

                      <p>We also imagined how others would experience reading stories on Antho. We felt that when our writing does justice to the events we record, we expect friends and family to leave feeling touched, enchanted, even moved in some way. By drawing out as much meaning as you can from your stories, you can leave your audience <br>invigorated, fascinated, enriched, or inspired.</p>
                  </div>  
                </div>
              </div>
              <div class="hideform2">
                <p><a href="#" id="example8-show" class="showLink" onclick="showHide('example8');return false;"><h2>Give me some more tips to get started!</h2></a></p>
                <div id="example8" class="more">
                  <p><a href="#" id="example8-hide" class="hideLink" onclick="showHide('example8');return false;"></a></p>
                  <div class="answer">
                      <p>Dig through old photographs, and choose the ones you’d upload to a loved one’s anthology. Imagine that an anthology is a museum, and your job is to curate an exhibit; what photographs best represent this person’s presence in your life?</p>

                      <p>Look through both traditional and nontraditional archives, such as journals, e-mail logs, genealogy transcripts, exchanged letters, and organizational records to elicit memories of the past.</p>

                      <p>Start thinking of people who’ve made an impact on you throughout your life. Take a mental or digital note of anyone you come up with, and start reserving time in your schedule to write down their stories.</p>
                  </div>  
                </div>
              </div>
          <div class="helpme"> 
              <br><br>
              <h3>Miscellaneous</h3>
          </div>
              <div class="hideform2">
                <p><a href="#" id="example6-show" class="showLink" onclick="showHide('example6');return false;"><h2>Why do some anthologies have admins and some don't?</h2></a></p>
                <div id="example6" class="more">
                  <p><a href="#" id="example6-hide" class="hideLink" onclick="showHide('example6');return false;"></a></p>
                  <div class="answer">
                      <p>Anthologies for individuals who are no longer with us or are too young to have their own full-fledged account need an admin to manage the account. Admins can, in place of the subject, accept people as kin, edit or delete stories, and change other settings. Usually, the admin is the user who started the anthology. </p>
                  </div>  
                </div>
              </div>      
                  
              <div class="hideform2">
                <p><a href="#" id="example7-show" class="showLink" onclick="showHide('example7');return false;"><h2>What is the maximum length of a story?</h2></a></p>
                <div id="example7" class="more">
                  <p><a href="#" id="example7-hide" class="hideLink" onclick="showHide('example7');return false;"></a></p>
                  <div class="answer">
                     <p>Each story can be up to eight thousand characters (approximately three pages single-spaced), but remember that less is more. A comment can be up to 1000 characters.</p> 
                  </div>  
                </div>
              </div>

              <div class="hideform2">
                <p><a href="#" id="exampleA-show" class="showLink" onclick="showHide('exampleA');return false;"><h2>Who can view the stories I write? How about those on my antho?</h2></a></p>
                <div id="exampleA" class="more">
                  <p><a href="#" id="exampleA-hide" class="hideLink" onclick="showHide('exampleA');return false;"></a></p>
                  <div class="answer">
                     <p>Only your kin and the kin of your story's subject can view the stories you publish. If you'd like to keep it more private, you can "personalize" the story, which would make the story visible only between the story's author and subject.</p>  
                  </div>  
                </div>
              </div>

              <div class="hideform2">
                <p><a href="#" id="example9-show" class="showLink" onclick="showHide('example9');return false;"><h2>Who should I add as my kin?</h2></a></p>
                <div id="example9" class="more">
                  <p><a href="#" id="example9-hide" class="hideLink" onclick="showHide('example9');return false;"></a></p>
                  <div class="answer">
                     <p>You should add close friends and family as kin. Kin should not be mere acquaintances or business contacts, but those you'd consider like family. Note: You do not need to add someone as kin to contribute to their anthology.</p> 
                  </div>  
                </div>
              </div-->

              <!--div class="hideform2">
                <p><a href="#" id="exampleB-show" class="showLink" onclick="showHide('exampleB');return false;"><h2>How secure is this site? How safe is my content?</h2></a></p>
                <div id="exampleB" class="more">
                  <p><a href="#" id="exampleB-hide" class="hideLink" onclick="showHide('exampleB');return false;"></a></p>
                  <div class="answer">
                     <p>Currently we store encrypted versions of user passwords into our database. This is standard procedure in consumer websites, and we will continue to upgrade the site's defense as time</p> 
                     <p> We've pledged to users to prioritize security in our product development. As the site grows in numbers, we will update you on any added security measures we've implemented to keep your data safe from malicious individuals.</p> 
                  </div>  
                </div>
              </div-->

              <!--br><br>
        <div id="bottomtext">
          <p>Have a question or issue not resolved here? Shoot us an e-mail at admin@antho.co. <br>We promise we'll get back to you within 12 hours -- and often much sooner!</p>
          <br>
        </div>
      </div>
      <br><br>
      <div class="bottom"-->
          <%#= image_tag("Helpic1.png", :size => "100x100", :id => "helpic1") %>
          <%#= image_tag("Helpic2.png", :size => "100x100", :id => "helpic2") %>
          <%#= image_tag("Helpic3.png", :size => "100x100", :id => "helpic3") %>
          <%#= image_tag("Helpic4.png", :size => "100x100", :id => "helpic4") %>
      <!--/div>
  </div>
</div-->
