
        <%= image_tag('pictureboard.png') %>
        <%= image_tag(pictureboard.png.image_url'http://antho-proto.s3.amazonaws.com/pictureboard.png') %>
<!--head>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '[redacted-g]']);
      _gaq.push(['_setDomainName', 'antho.co']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head-->

<%#= provide(:title, 'Jobs') %>
<!--div class="wrap">
    <div id="jobs">
        <div class="top">
            <h1>Jobs</h1>
            <br>
            <p>We work with purpose and we do it with style.<br>Join team Antho and revolutionize the family history and social media worlds.</p>
        </div>
        <div class="position">
            <h2>Team Antho</h2>
            <br>
            <p>We're not actively recruiting teammates at the moment, but feel free to send us an e-mail if you'd like to know more about Antho or are interested in working with us in the future!</p>
            <br>
            <p><strong>Alex Cheung, CEO:</strong> alex@antho.co</p> 
            <br>
            <p><strong>Nicole Cheung, President:</strong> nicole@antho.co</p>
        </div>
        <br><br>
        <div class="bottom"-->
            <%#= image_tag("Jobspic1.png", :size => "100x100", :id => "jobspic1") %>
            <%#= image_tag("Jobspic2.png", :size => "100x100", :id => "jobspic2") %>
            <%#= image_tag("Anthologowhite.png", :size => "100x100", :id => "anthologo2") %>
            <%#= image_tag("Jobspic3.png", :size => "100x100", :id => "jobspic3") %>
            <%#= image_tag("Jobspic4.png", :size => "100x100", :id => "jobspic4") %>
        <!--/div-->
    <!--/div-->
<!--/div-->