<head>
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 3.0">
            <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
    <meta name="viewport" content="width=device-width; initial-scale=1.0,maximum-scale = 3.0">
</head>

<div id="ThemeCoverPhotoFamilyTree" class="clearfix">
            <span id="ThemeTitle">
                <span id="textspanlichapter">FAMILY TREE</span><span id="textspanlichapter1"><br /></span><span id="textspanlichapter2">LINKS &amp; RELATIONS</span><br />
            </span>

            <span id="ChapterSectionIndex"><br/><br/><br/><div class="invisichar">
                </div>
            </span>

</div>
        <!--div id="Title_Line_f1" class="clearfix">
        </div>
        <p id="FAMILY">
        <span id="textspandsf">FAMILY TREE</span> 
        </p>
        <div id="Title_Line_f2" class="clearfix">
        </div-->

<div class="lifamilytree">
<!--div id="familytreemosaic"-->
        <%= image_tag("li/tree/lifamilytree-small.png", :id => "LiFamilyTree", :class => "image") %>
        <%#= image_tag("li/tree/litree1.png", :id => "LiFamilyTree1", :class => "image") %>
        <%#= image_tag("li/tree/litree2.png", :id => "LiFamilyTree2", :class => "image") %>
        <%#= image_tag("li/tree/litree3.png", :id => "LiFamilyTree3", :class => "image") %>
        <%#= image_tag("li/tree/litree4.png", :id => "LiFamilyTree4", :class => "image") %>
        <%#= image_tag("li/tree/litree5.png", :id => "LiFamilyTree5", :class => "image") %>
        <%#= image_tag("li/tree/litree6.png", :id => "LiFamilyTree6", :class => "image") %>
        <%#= image_tag("li/tree/litree7.png", :id => "LiFamilyTree7", :class => "image") %>
</div>
<!--/div-->

        <div class="bottom-menu">
        <p id="bottommenuli">
        <%= link_to 'HOME', li_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'NEXT EXHIBIT', li_progress_one_path %> &nbsp; <span id="textspanlichapter15">/</span> &nbsp; <%= link_to 'GUESTBOOK', li_guestbook_path %><br />
        </p>
        </div>