<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale = 1, maximum-scale = 2, user-scalable=1" />
    <script src="//use.typekit.net/[redacted-a].js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
    
<body>

<% provide(:title, 'Mission') %>

<%= render 'shared/public_header' %>
    <div id="boxu1" class="clearfix">
        <p id="Missionu">
        Mission
        </p>
        <p id="It_is_stories_that_move_us_along_give_us_shape_and_spark_our_">
        It is stories that move us along, give us shape, and spark our future.<br /><br />By assisting in the passage of wisdom, experience, and moral values from one generation to the next, we dream of inspiring greater intergenerational progress in the human race. <br /><br />By creating a dedicated space for family stories, we are hoping to help plug the gaps and heal the wounds that separate families from one another, and in the process forge the bonds that set us free.  <br /><br />In a world sometimes impoverished of meaning, we are building wealth here, in families, in significances, and in the narratives that wrap us all together as one.
        </p>
    </div>

</body>
