
    <script>

        $(document).ready(function () {
            $("#nicole_-_seatbelt_videob").fitVids();
        });

    </script>



        <div id="nicole_-_seatbelt_videob">
        <iframe width="1280" height="720" src="//www.youtube.com/embed/L00NHgR53Ac?rel=0" frameborder="0" allowfullscreen></iframe></div>
     