<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale = 1, maximum-scale = 2, user-scalable=1" />
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '[redacted-g]', 'antho.co');
          ga('send', 'pageview');
    </script>
</head>
    
<body>

<% provide(:title, 'Randy Bird: Boyhood') %>

        <%= image_tag("B O Y H O O D.png", :id => "B_O_Y_H_O_O_D", :class => "image") %>
        <audio src="skip_1_meatloaf.aif"></audio> <!--width="640" height="480" controls autoplay preload="auto">hello</audio-->
        <p id="Beginnings_Born_in_an_Idaho_Falls_hospital_in_1957_I_was_the_">
        <span id="textspane">Beginnings<br /></span><span id="textspane1"><br />Born in an Idaho Falls hospital in 1957, I was the fifth child and fourth son, sandwiched in between my older sister Debi and younger sister Janet. I shared a room with my sisters until I was eight years old at the farmhouse that was built by my Grandpa Bird. My father was raised on the same farm, which he eventually bought from his dad years later. When my father got married, the family moved to the farm and all my siblings and I were born there.</span>
        </p>
        <%= image_tag("carmakensuitcase.png", :id => "carmakensuitcase", :class => "image") %>
        <p id="Dad_had_raspberries_and_always_had_a_huge_garden_north_of_the_">
        Dad had raspberries and always had a huge garden, north of the stockyards near the cattle. We had almost an acre garden. Lots of corn, squash and beans. He also had an orchard, of which I remember pear and apple trees. We were probably 15-20 fruit trees south of the house. There were also huge cottonwood trees that stretched high into the sky. They were so big we were worried they’d come crashing down in a windstorm on the house. 
        </p>
        <%= image_tag("cribbaby.png", :id => "cribbaby", :class => "image") %>
        <%= image_tag("cyndiprofile.png", :id => "cyndiprofile", :class => "image") %>
        
        
        <%#= audio_tag("skip_1_meatloaf.flac") %>
        <audio src="assets/audios/skip_1_meatloaf.flac" width="640" height="480"></audio>
        <!-- controls autoplay preload="auto" loop poster="myVideoPoster.jpg">What, do you mean you don't understand HTML5?</video-->

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/163731336&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
</body>

