<p><%= @user.name %>,</p>

<p>Welcome to Antho!</p>

<p>Click the URL below to verify your e-mail address.</p> 

<p><%= edit_invite_url(@user.invite_token) %></p>

<p>Regards,</p>
<p>Team Antho</p>

<p><%= image_tag attachments["AnthoLogoNew.jpg"].url, :size => "114x32" %></p>
