<p><%= @user.name %>,</p>


<p>Thank you for joining the movement to pay lasting tribute to family, friends, and mentors!</p>

<p>We hope you enjoy visiting and contributing to the life stories on our site.</p>

<p>Wishing you well,</p>
<p>Team Antho</p>

<p><%= image_tag attachments["AnthoLogoNew.jpg"].url, :size => "114x32" %></p>
