  <p>
    <div id="whiteboxbg">
	    <a data-target="#myModal" data-toggle="modal">

	    		<div id="outerboxbutton_pages" class="clearfix">
	                  <div id="buttonborder" class="clearfix">
	                      <p id="CONTRIBUTE">
	                      CONTRIBUTE
	                      </p>
	                      <p id="ADD_YOUR_STORY_">
	                      ADD YOUR STORY 
	                      </p>
	                  </div>
	            </div>
	    </a>
	</div>
  </p>
<%= render "shared/login" %>
<%#= render "shared/modal_signup" %>

