  <p>
    <button type="button" data-toggle="modal" data-target="#myModal" id="modality" role="button" class="button3">Add Your Story</button>
  </p>
<%= render "shared/login" %>
<%#= render "shared/modal_signup" %>

