
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#nicoleportrait {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#Nicole_Cheung_Curator_Editor_In_2012_Nicole_learned_of_her {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin: 0px 0% 0px 7%;
    clear: none;
    min-width: 0px;
    max-width: 800px;
}

#textspanx33 {
    float: none;
    font-size: 1.5em;
    line-height: 36px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: trajan-pro-3;
}

#textspanx34 {
    float: none;
    font-size: 0.875em;
    line-height: 20px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx35 {
    float: none;
    font-size: 0.825em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0em;
    text-decoration: none;
    font-family: georgia;
}

#textspanx36 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx37 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx38 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx39 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx40 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx41 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx42 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx43 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx44 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx45 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx46 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx47 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx48 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx49 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#_Books_We_also_design_and_print_tangible_mementos_most_notabl {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    clear: both;
    min-width: 0px;
    max-width: 800px;
    margin-top: 75px;
    margin-bottom: 0px;
    margin-left: 10%;
    padding-bottom: 50px;
}

#textspanx14 {
    float: none;
    font-size: 1.5em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: trajan-pro-3;
}

#textspanx15 {
    float: none;
    font-size: 1.25em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: trajan-pro-3;
}

#textspanx16 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#pictureboard {
    float: left;
    width: 79.998597%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin: 20px 0px 0px 10%;
    clear: none;
}

#alexportrait1 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin: 0px 0px 0px 7%;
    clear: none;
}

#bookdemo {
    float: left;
    width: 75%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin: 75px 0% 0px 10%;
    clear: both;
    border: 1px solid black;
}

#Alex_Cheung_Engineer_Designer_Alex’s_father_passed_away_whe {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin: 0px 0px 0px 0%;
    clear: none;
    min-width: 0px;
    max-width: 800px;
}

#textspanx17 {
    float: none;
    font-size: 1.5em;
    line-height: 36px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: trajan-pro-3;
}

#textspanx18 {
    float: none;
    font-size: 0.825em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.0em;
    text-decoration: none;
    font-family: georgia;
}

#textspanx19 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx20 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx21 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx22 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx23 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx24 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx25 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx26 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx27 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx28 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx29 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx30 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx31 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx32 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#Online_Museums_We_build_interactive_digital_museums_where_visi {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin: 75px 0% 0px 10%;
    clear: both;
    min-width: 0px;
    max-width: 800px;
}

#textspanx8 {
    float: none;
    font-size: 1.5em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: trajan-pro-3;
}

#textspanx9 {
    float: none;
    font-size: 0.75em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx10 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#MISSIONx {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(24, 24, 24);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 22;
    margin-top: 0px;
    margin-left: 22.180437%;
    clear: none;
    margin-right: 0%;
}

#Meet_the_Team {
    float: left;
    font-size: 2.25em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(2, 2, 2);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    font-family: trajan-pro-3;
    margin: 100px 0px 0px 9.998306%;
    clear: both;
}

#HIRE_USx {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(24, 24, 24);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin-top: 0px;
    margin-left: 2.639826%;
    clear: none;
    margin-right: 0%;
}

#AnthoLogo {
    float: none;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 27;
    margin: 30px auto 0px;
    margin-left: auto;
    clear: none;
    display: block;
}

#BLOGx {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(24, 24, 24);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 24;
    margin-top: 0px;
    margin-left: 22.180437%;
    clear: none;
    margin-right: 0%;
}

#Our_Services_We_collaborate_with_you_in_gathering_materials_a {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin: 50px 0% 0px 10%;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    max-width: 800px;
}

#textspanx5 {
    float: none;
    font-size: 2.25em;
    line-height: 1.2em;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: trajan-pro-3;
}


#textspanx6 {
    float: none;
    font-size: 0.75em;
    line-height: normal;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx7 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#METHODx {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(24, 24, 24);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 23;
    margin-top: 0px;
    margin-left: 22.062456%;
    clear: none;
    margin-right: 0%;
}

#Antho_Antho_provides_services_and_products_to_help_you_preserv {
    float: left;
    font-size: 1em;
    width: 49.764923%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin: 50px 0px 0px 9.998306%;
    clear: both;
    max-width: 800px;
}

#textspanx {
    float: none;
    font-size: 2.25em;
    line-height: normal;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: trajan-pro-3;
}



#textspanx3 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx4 {
    float: none;
    font-size: 0.875em;
    line-height: 20px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#About {
    float: left;
    font-size: 3em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    color: rgb(2, 2, 2);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    font-family: trajan-pro-3;
    margin: 75px 0px 0px 9.998306%;
    clear: both;
}

#boxx {
    float: none;
    height: auto;
    margin: 61px auto 0px;
    clear: none;
    width: 68.686301%;
}

#boxx1 {
    float: left;
    height: auto;
    margin: 50px 0% 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
    background-color: rgb(246, 246, 246);
}

#boxx2 {
    float: left;
    height: 452px;
    margin: 75px 0% 0px 10%;
    clear: both;
    width: 75%;
    border: 1px solid black;
    background-image: url("img/menusample.png");
    background-attachment: scroll;
    background-size: cover;
    display: block;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#boxx3 {
    float: left;
    height: auto;
    margin-left: 9.998306%;
    margin-top: 50px;
    clear: both;
    width: 79.999766%;
}

#boxx4 {
    float: left;
    height: auto;
    margin-left: 9.998306%;
    margin-top: 100px;
    clear: both;
    width: 79.999766%;
    padding-bottom: 50px;
}

#boxx2:hover {
    opacity: 0.9;
    display: block;
}

#alexportrait {
    float: left;
    width: 39.998815%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin: 245px 0px 0px -101.905443%;
    clear: none;
    visibility: visible;
    display: none;
}

#textspanx2 {
    float: none;
    font-size: 2.25em;
    line-height: normal;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: trajan-pro-3;
}

#textspanx1 {
    float: none;
    font-size: 2.25em;
    line-height: normal;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: trajan-pro-3;
}

#Online_Museums_We_build_interactive_digital_museums_where_visi1 {
    float: left;
    font-size: 1em;
    width: 82%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin: 25px 0% 0px 9.188386%;
    clear: both;
    min-width: 0px;
    max-width: 800px;
    display: none;
}

#textspanx11 {
    float: none;
    font-size: 1.5em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: trajan-pro-3;
}

#textspanx12 {
    float: none;
    font-size: 0.75em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspanx13 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

    #BLOGx:hover {
        opacity: 0.6;
    }

    #METHODx:hover {
        opacity: 0.6;
    }

    #MISSIONx:hover {
        opacity: 0.6;
    }

    #HIRE_USx:hover {
        opacity: 0.6;
    }

@media only screen and (max-width: 1233px) {
    #bookdemo {
        width: 80%;
        max-width: none;
    }

    #boxx2 {
        width: 80%;
        background-image:url("img/menusample.png");
        background-attachment: scroll;
        background-size: cover;
        background-position: 50% 0%;
        background-repeat: no-repeat no-repeat;
    }

    #Antho_Antho_provides_services_and_products_to_help_you_preserv {
        width: 64.996778%;
        max-width: none;
        margin-top: 50px;
        margin-left: 9.997815%;
        clear: both;
    }

    #Our_Services_We_collaborate_with_you_in_gathering_materials_a {
        width: 65%;
        max-width: none;
    }

    #Online_Museums_We_build_interactive_digital_museums_where_visi {
        width: 65%;
        max-width: none;
    }

    #_Books_We_also_design_and_print_tangible_mementos_most_notabl {
        width: 65%;
        max-width: none;
    }

    #boxx1 {
        width: 100%;
        margin-top: 50px;
        margin-left: 0%;
        clear: both;
    }

    #alexportrait1 {
        width: 39.998993%;
        margin: 0px 0px 0px 7%;
        clear: none;
    }

    #nicoleportrait {
        width: 40%;
    }

    #Alex_Cheung_Engineer_Designer_Alex’s_father_passed_away_whe {
        width: 52.998624%;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0%;
        clear: none;
    }

    #Nicole_Cheung_Curator_Editor_In_2012_Nicole_learned_of_her {
        width: 53%;
    }

    #boxx {
        margin-top: 61px;
        margin-left: auto;
        clear: none;
        width: 70.238671%;
        margin-right: auto;
    }

    #pictureboard {
        width: 79.994899%;
    }

    #boxx3 {
        width: 79.99752%;
        margin-top: 50px;
        margin-left: 9.997815%;
        clear: both;
    }

    #boxx4 {
        width: 79.996241%;
        margin: 100px 0px 0px 10%;
        clear: both;
    }

    #alexportrait {
        width: 39.998993%;
        visibility: visible;
        margin-top: 0px;
        margin-left: 6.795986%;
        clear: none;
        display: none;
    }

    #AnthoLogo {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }

    #About {
        margin-top: 75px;
        margin-left: 9.997815%;
        clear: both;
    }

    #Meet_the_Team {
        margin-top: 100px;
        margin-left: 9.997815%;
        clear: both;
    }

    #Online_Museums_We_build_interactive_digital_museums_where_visi1 {
        width: 65%;
        max-width: none;
        display: none;
    }
}

@media only screen and (max-width: 971px) {
    #textspanx5 {
        font-size: 1.875em;
    }
}

@media only screen and (max-width: 917px) {
    #boxx {
        margin-top: 61px;
        margin-left: auto;
        clear: none;
        width: 64.008287%;
        margin-right: auto;
    }

    #pictureboard {
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 10%;
        clear: none;
        width: 79.993417%;
    }

    #Antho_Antho_provides_services_and_products_to_help_you_preserv {
        width: 69.996902%;
        margin-top: 50px;
        margin-left: 9.997503%;
        clear: both;
    }

    #boxx1 {
        width: 100%;
        margin-top: 50px;
        margin-left: 0%;
        clear: both;
    }

    #boxx3 {
        width: 79.993417%;
        margin-top: 50px;
        margin-left: 9.997503%;
        clear: both;
    }

    #boxx4 {
        width: 79.993417%;
        margin-top: 100px;
        margin-left: 9.997503%;
        clear: both;
    }

    #BLOGx {
        margin-left: 18%;
    }

    #METHODx {
        margin-left: 18%;
    }

    #MISSIONx {
        margin-left: 18%;
    }

    #_Books_We_also_design_and_print_tangible_mementos_most_notabl {
        width: 70%;
    }

    #Online_Museums_We_build_interactive_digital_museums_where_visi {
        width: 70%;
    }

    #Our_Services_We_collaborate_with_you_in_gathering_materials_a {
        width: 70%;
    }

    #alexportrait {
        visibility: hidden;
    }

    #AnthoLogo {
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
    }

    #About {
        margin-top: 75px;
        margin-left: 9.997503%;
        clear: both;
    }

    #Meet_the_Team {
        margin-top: 100px;
        margin-left: 9.997503%;
        clear: both;
    }

    #Online_Museums_We_build_interactive_digital_museums_where_visi1 {
        width: 70%;
        display: none;
    }
}

@media only screen and (max-width: 776px) {
    #boxx {
        margin: 45px auto 0px;
        clear: none;
        width: 63.520263%;
    }

    #pictureboard {
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 5%;
        clear: none;
        width: 90%;
    }

    #Antho_Antho_provides_services_and_products_to_help_you_preserv {
        width: 69.991438%;
        margin-top: 50px;
        margin-left: 9.996547%;
        clear: both;
    }

    #boxx1 {
        width: 100%;
        margin-top: 50px;
        margin-left: 0%;
        clear: both;
    }

    #boxx3 {
        width: 79.989536%;
        margin-top: 50px;
        margin-left: 9.996547%;
        clear: both;
    }

    #boxx4 {
        width: 79.989536%;
        margin-top: 100px;
        margin-left: 9.996547%;
        clear: both;
    }

    #MISSIONx {
        margin-left: 14%;
    }

    #METHODx {
        margin-left: 14%;
    }

    #BLOGx {
        margin-left: 14%;
    }

    #boxx2 {
        width: 90%;
        margin-left: 5%;
    }

    #bookdemo {
        width: 90%;
        margin-left: 5%;
    }

    #Alex_Cheung_Engineer_Designer_Alex’s_father_passed_away_whe {
        clear: none;
    }

    #alexportrait1 {
        clear: none;
    }

    #alexportrait {
        clear: none;
        visibility: hidden;
    }

    #AnthoLogo {
        margin: 30px auto 0px;
        margin-left: auto;
        float: none;
        clear: none;
        width: 26%;
    }

    #About {
        margin-top: 75px;
        margin-left: 9.996547%;
        clear: both;
    }

    #Meet_the_Team {
        margin-top: 100px;
        margin-left: 9.996547%;
        clear: both;
    }

    #Online_Museums_We_build_interactive_digital_museums_where_visi1 {
        display: none;
    }
}

@media only screen and (max-width: 662px) {
    #Nicole_Cheung_Curator_Editor_In_2012_Nicole_learned_of_her {
        clear: left;
        width: 90%;
        margin: 50px 0% 0px 5%;
    }

    #alexportrait {
        width: 80%;
        margin: 0px 0px 0px 10%;
        clear: none;
        visibility: visible;
        max-width: none;
        display: block;
    }

    #AnthoLogo {
        margin: 20px auto 0px;
        margin-left: auto;
        clear: none;
        float: none;
    }

    #Alex_Cheung_Engineer_Designer_Alex’s_father_passed_away_whe {
        margin: 50px 0px 0px 4.998967%;
        clear: both;
        width: 89.996164%;
    }

    #alexportrait1 {
        margin-top: 714px;
        margin-left: -87.99315%;
        clear: none;
        width: 39.997463%;
        visibility: hidden;
        display: none;
    }

    #boxx3 {
        margin-top: 50px;
        margin-left: 9.995478%;
        clear: both;
        width: 79.984009%;
        height: auto;
    }

    #About {
        margin-top: 75px;
        margin-left: 9.995478%;
        clear: both;
    }

    #Antho_Antho_provides_services_and_products_to_help_you_preserv {
        margin-top: 50px;
        margin-left: 9.995478%;
        clear: both;
        width: 79.997335%;
    }

    #boxx1 {
        margin-top: 50px;
        margin-left: 0%;
        clear: both;
        width: 100%;
    }

    #Meet_the_Team {
        margin: 75px 0px 0px 9.99799%;
        clear: both;
    }

    #boxx4 {
        margin: 75px 0px 0px 9.99799%;
        clear: both;
        width: 79.984009%;
    }

    #nicoleportrait {
        width: 80%;
        max-width: none;
        margin-left: 10%;
    }

    #textspanx2 {
        float: none;
        font-size: 1em;
        line-height: 1em;
    }

    #textspanx1 {
        float: none;
        font-size: 2.25em;
        line-height: 1em;
    }

    #textspanx {
        font-size: 2.25em;
    }

    #Our_Services_We_collaborate_with_you_in_gathering_materials_a {
        width: 80%;
    }

    #Online_Museums_We_build_interactive_digital_museums_where_visi {
        width: 82%;
    }

    #_Books_We_also_design_and_print_tangible_mementos_most_notabl {
        width: 80%;
    }

    #boxx {
        margin: 35px auto 0px;
        clear: none;
        width: 72.208156%;
    }

    #pictureboard {
        width: 89.998667%;
        margin-left: 5%;
        clear: none;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #METHODx {
        margin-left: 11%;
    }

    #BLOGx {
        margin-left: 11%;
    }

    #MISSIONx {
        margin-left: 11%;
    }

    #Online_Museums_We_build_interactive_digital_museums_where_visi1 {
        width: 82%;
        display: none;
    }
}

@media only screen and (max-width: 626px) {
    #textspanx5 {
        font-size: 1.5em;
    }

}

@media only screen and (max-width: 494px) {
    #boxx2 {
        background-image:url("img/menusample.png");
        background-attachment: scroll;
        background-size: cover;
        margin: 50px 0% 0px 4.99747%;
        width: 89.998735%;
        height: 452px;
        clear: both;
        background-position: 70% 0%;
        background-repeat: no-repeat no-repeat;
    }

    #AnthoLogo {
        margin: 20px auto 0px;
        margin-left: auto;
        width: 25.998056%;
        clear: none;
    }

    #About {
        margin: 50px 0px 0px 9.998102%;
        clear: both;
    }

    #Antho_Antho_provides_services_and_products_to_help_you_preserv {
        margin: 30px 0px 0px 9.998102%;
        width: 79.994019%;
        clear: both;
    }

    #Our_Services_We_collaborate_with_you_in_gathering_materials_a {
        margin: 30px 0% 0px 10%;
        width: 79.99747%;
    }

    #Online_Museums_We_build_interactive_digital_museums_where_visi {
        margin: 50px 0% 0px 9.998102%;
        width: 81.99962%;
        clear: both;
        display: none;
    }

    #bookdemo {
        margin: 25px 0% 0px 4.99747%;
        clear: both;
        width: 89.998735%;
    }

    #_Books_We_also_design_and_print_tangible_mementos_most_notabl {
        margin: 50px 0px 0px 9.998102%;
        width: 79.99747%;
        clear: both;
    }

    #boxx1 {
        width: 100%;
        height: auto;
        margin-top: 50px;
        margin-left: 0%;
        clear: both;
    }

    #BLOGx {
        margin-left: 8%;
    }

    #METHODx {
        margin-left: 8%;
    }

    #MISSIONx {
        margin-left: 8%;
    }

    #boxx {
        margin: 35px auto 0px;
        clear: none;
        width: 77.126944%;
    }

    #pictureboard {
        width: 89.993272%;
        margin: 20px 0px 0px 5%;
        clear: none;
    }

    #boxx3 {
        width: 79.982805%;
        margin-top: 50px;
        margin-left: 9.994939%;
        clear: both;
    }

    #boxx4 {
        width: 79.982805%;
        margin-top: 75px;
        margin-left: 9.994939%;
        clear: both;
    }

    #Online_Museums_We_build_interactive_digital_museums_where_visi1 {
        margin: 25px 0% 0px 9.188386%;
        width: 82%;
        clear: both;
        display: block;
    }

    #Meet_the_Team {
        margin-top: 75px;
        margin-left: 9.994939%;
        clear: both;
    }
}

@media only screen and (max-width: 447px) {
    #AnthoLogo {
        min-width: 110px;
        width: 26.506024%;
        margin: 20px auto 0px;
        margin-left: auto;
    }
}

@media only screen and (max-width: 445px) {
    #textspanx5 {
        font-size: 1.33em;
    }
}


@media only screen and (max-width: 380px) {
    #boxx1 {
        width: 100%;
    }

    #MISSIONx {
        margin-left: 7%;
    }

    #METHODx {
        margin-left: 7%;
    }

    #BLOGx {
        margin-left: 7%;
    }

    #boxx {
        margin-top: 35px;
        margin-left: auto;
        clear: none;
        width: 88.561407%;
        margin-right: auto;
    }

    #AnthoLogo {
        width: 33.536585%;
        min-width: 110px;
        margin-left: auto;
        margin-top: 10px;
    }

    #pictureboard {
        width: 89.9918%;
    }

    #Antho_Antho_provides_services_and_products_to_help_you_preserv {
        width: 79.992711%;
    }

    #boxx3 {
        width: 79.979045%;
    }

    #boxx4 {
        width: 79.979045%;
    }
}

