@charset "UTF-8";
.primaryContainer {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: 100%;
}

#landingtext {
    float: left;
    font-size: 1em;
    width: 80%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin: 50px 0% 0px 4.996665%;
    clear: both;
    max-width: 630px;
}

#boxww17 {
  width: 33%;
  margin: 0;
}

#boxww18 {
  width: 33%;
  margin: 0;
  clear: none;
}

#boxww19 {
  width: 33%;
  margin: 0;
}

#CONTACT_USw {
  float: left;
  font-size: 1.88em;
  width: 100%;
  height: auto;
  text-align: center;
  font-weight: normal;
  line-height: 2em;
  color: black;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 43;
  font-family: jaf-domus-titling-web;
  margin-top: 0%;
  margin-left: 0%;
  clear: none;
  margin-right: 0%;
}

#rainforest {
  float: left;
  width: 80%;
  max-width: 100%;
  height: auto;
  color: black;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 44;
  margin-top: 30px;
  margin-left: 10%;
  clear: both;
  margin-right: 0%;
}

#Sample_Museum {
  float: left;
  font-size: 1.875em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: #060606;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 45;
  font-family: trajan-pro-3;
  margin-top: 30px;
  margin-left: 10%;
  clear: both;
  margin-right: 0px;
  margin-bottom: 0px;
}

#line_1 {
  float: left;
  width: 100%;
  max-width: 100%;
  height: auto;
  color: black;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 41;
  margin-top: 50px;
  margin-left: 0px;
  clear: both;
  margin-right: 0px;
  margin-bottom: 0px;
}

#•_give_your_family_a_voice_a_face_through_audio_and_film_ {
  float: left;
  font-size: 1em;
  width: 50%;
  height: auto;
  text-align: center;
  font-weight: normal;
  line-height: normal;
  color: #101010;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 70;
  margin-top: 0px;
  margin-left: 0%;
  clear: none;
  margin-right: 0%;
  margin-bottom: 0px;
}

#•_preserve_cherish_your_priceless_memories_today_•_send_ {
  float: left;
  font-size: 1em;
  width: 50%;
  height: auto;
  font-weight: normal;
  line-height: normal;
  color: #101010;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 71;
  margin-top: 0px;
  margin-left: 0%;
  clear: none;
  margin-right: 0px;
  margin-bottom: 0px;
  text-align: center;
}

#MISSIONw {
  float: left;
  font-size: 0.75em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: #181818;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 77;
  margin-top: 0px;
  margin-left: 110.05625px;
  clear: none;
  margin-right: 0%;
}

#Celebrate_their_lives_with_an_interactive_online_museum_ {
  float: left;
  font-size: 1.25em;
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: normal;
  line-height: normal;
  color: #101010;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 72;
  font-family: jaf-domus-titling-web;
  margin-top: 4px;
  margin-left: auto;
  clear: both;
  margin-right: auto;
}

#HIRE_USw {
  float: left;
  font-size: 0.75em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: #181818;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 76;
  margin-top: 0px;
  margin-left: 0%;
  clear: none;
  margin-right: 0%;
}

#AnthoLogow {
  float: left;
  width: 206.296875px;
  max-width: 100%;
  height: auto;
  color: black;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 82;
  margin-top: 75px;
  margin-left: 40%;
  clear: none;
  margin-right: auto;
  margin-bottom: 0px;
}

#Bring_your_family_story_to_life {
  float: left;
  font-size: 2.625em;
  width: 100%;
  height: 56px;
  text-align: center;
  font-weight: normal;
  line-height: normal;
  color: #101010;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 73;
  font-family: trajan-pro-3;
  margin-top: 12px;
  margin-left: auto;
  clear: none;
  margin-right: auto;
  margin-bottom: 0px;
}

#BLOGw {
  float: left;
  font-size: 0.75em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: #181818;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 79;
  margin-top: 0px;
  margin-left: 110.05625px;
  clear: none;
  margin-right: 0%;
}

#METHODw {
  float: left;
  font-size: 0.75em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: #181818;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 78;
  margin-top: 0px;
  margin-left: 110.05625px;
  clear: none;
  margin-right: 0%;
}

#collect_photos_videos_stories_you_already_have {
  float: left;
  font-size: 0.875em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: #060606;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 56;
  margin-top: 0px;
  margin-left: 10%;
  clear: none;
  margin-right: 0%;
}

#free_consultation_to_discuss_options_timeline_pricing1 {
  float: left;
  font-size: 0.875em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: #060606;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 60;
  margin-top: 0px;
  margin-left: 0%;
  clear: none;
  margin-right: 0%;
}

#Relax_While_we_tackle_the_hard_stuff_ {
  float: left;
  font-size: 1em;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: normal;
  line-height: 1em;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 52;
  margin-top: 0px;
  margin-left: 17.2%;
  clear: none;
  margin-right: 0%;
}

#Relax_While_we_tackle_the_hard_stuff_:hover {
  opacity: 0.6;
}

#textspanw {
  float: none;
  font-size: 0.875em;
  line-height: normal;
  color: #060606;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
}

#textspanw1 {
  float: none;
  font-size: 0.875em;
  line-height: normal;
  color: #060606;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-decoration: underline;
  font-family: jaf-domus-titling-web;
}

#textspanw2 {
  float: none;
  font-size: 0.875em;
  line-height: normal;
  color: #060606;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
}

#Gather_Your_Media1 {
  float: left;
  font-size: 1.33em;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: normal;
  line-height: normal;
  color: #060606;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 57;
  font-family: trajan-pro-3;
  margin-top: 0px;
  margin-left: 20.21746%;
  clear: none;
  margin-right: 0%;
}

#Let_Us_Take_Care_of_the_Rest {
  float: left;
  font-size: 1.33em;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: normal;
  line-height: normal;
  color: #060606;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 53;
  font-family: trajan-pro-3;
  margin-top: 0px;
  margin-left: 19.732172%;
  clear: none;
  margin-right: 0%;
}

#Meet_with_Us1 {
  float: left;
  font-size: 1.5em;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: normal;
  line-height: normal;
  color: #060606;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 61;
  font-family: trajan-pro-3;
  margin-top: 0px;
  margin-left: 0%;
  clear: none;
  margin-right: 0%;
}

#Steps {
  float: left;
  font-size: 2.125em;
  text-align: center;
  width: 100%;
  height: auto;
  font-weight: normal;
  line-height: normal;
  color: #060606;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 64;
  font-family: trajan-pro-3;
  margin-top: 30px;
  margin-left: 0%;
  clear: both;
  margin-right: 0px;
  margin-bottom: 0px;
}

#boxwt {
  float: left;
  height: auto;
  margin-left: 389.921875px;
  margin-top: 35px;
  clear: both;
  width: 595px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#boxw5 {
  float: left;
  height: 115px;
  margin-left: 0.00153186%;
  margin-top: 0px;
  clear: both;
  width: 99.998468%;
  background-color: white;
  margin-right: 0%;
  min-width: 0px;
  opacity: 1;
  margin-bottom: 0px;
}

#boxw55 {
  float: left;
  height: 115px;
  margin-left: 0.00153186%;
  margin-top: 0px;
  clear: both;
  width: 99.998468%;
  background-color: black;
  margin-right: 0%;
  min-width: 0px;
  opacity: 1;
  margin-bottom: 0px;
}

#boxw2 {
  float: left;
  height: 573px;
  margin-left: 0px;
  margin-top: 20px;
  clear: none;
  width: 100%;
  background-image: url("img/Randy%2058%20-%20Version%202%20(1).jpg");
  background-position: 0% 20%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 118%;
  margin-right: 0px;
  margin-bottom: 0px;
}

#boxw4 {
  float: left;
  height: 10px;
  margin-left: 0%;
  margin-top: 0px;
  clear: none;
  width: 99.998468%;
  margin-right: 0%;
  background-color: white;
  opacity: 0.73;
  min-width: 0px;
}

#boxw6 {
  float: left;
  height: 10px;
  margin-left: 0.00153186%;
  margin-top: 0px;
  clear: both;
  width: 99.998469%;
  margin-right: 0%;
  opacity: 0.73;
  min-width: 0px;
  background-color: white;
  margin-bottom: 0px;
}

#boxw3 {
  float: left;
  height: auto;
  margin-left: 0%;
  margin-top: 403px;
  clear: none;
  width: 101%;
}

#boxw8 {
  float: left;
  height: 478px;
  margin-left: 0.046875px;
  margin-top: 20px;
  clear: both;
  width: 100%;
  background-image: url("img/mountainbg.png");
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 100%;
  margin-right: 0px;
  margin-bottom: 0px;
}

#boxw16 {
  float: left;
  height: auto;
  margin-left: 0%;
  margin-top: 0px;
  clear: none;
  width: 100%;
  margin-right: 0%;
}

#boxw20 {
  float: left;
  height: auto;
  margin-left: 12.809245%;
  margin-top: 92.5px;
  clear: both;
  width: 82.405599%;
  margin-right: 0px;
  margin-bottom: 0px;
}

#boxw21 {
  float: left;
  height: auto;
  margin-left: 0%;
  margin-top: 104px;
  clear: both;
  width: 100%;
  margin-right: 0%;
}

#boxw22 {
  float: left;
  height: 10px;
  margin-left: 0%;
  margin-top: 0px;
  clear: none;
  width: 99.998468%;
  margin-right: 0%;
  opacity: 0.73;
  min-width: 0px;
  background-color: white;
}

#boxw23 {
  float: left;
  height: 59px;
  margin-left: 0.00153186%;
  margin-top: 0px;
  clear: both;
  width: 99.998468%;
  margin-right: 0%;
  min-width: 0px;
  opacity: 1;
  margin-bottom: 0px;
  background-color: white;
}

#boxw25 {
  float: left;
  height: 10px;
  margin-left: 0.00153186%;
  margin-top: 0px;
  clear: both;
  width: 99.998469%;
  margin-right: 0%;
  opacity: 0.73;
  min-width: 0px;
  margin-bottom: 0px;
  background-color: white;
}

#boxw24 {
  float: left;
  height: auto;
  margin-left: 7.528599%;
  margin-top: 10px;
  clear: none;
  width: 90.342988%;
  margin-right: 0%;
}

#boxw17 {
  float: left;
  height: 125px;
  margin-left: 33%;
  margin-top: 0px;
  clear: none;
  width: 33%;
  margin-right: 0%;
  background-image: url("img/circles-1.png");
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 100%;
  margin-bottom: 0px;
}

#boxw18 {
  float: left;
  height: auto;
  margin-left: 33%;
  margin-top: 0px;
  display: block;
  clear: none;
  width: 33%;
  margin-right: 0%;
  background-image: url("img/circles-2.png");
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 100%;
  margin-bottom: 0px;
}

#boxw19 {
  float: left;
  height: 125px;
  margin-left: 27%;
  margin-top: 0px;
  clear: none;
  width: 125px;
  margin-right: 0%;
  background-image: url("img/circles-3.png");
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 100%;
  margin-bottom: 0px;
}

#boxw34 {
  float: left;
  height: 4%;
  margin-left: 10%;
  margin-top: 8%;
  clear: none;
  width: 80%;
  border: 1px solid black;
  /* background-image: url("img/forestbutton2.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto; */
  margin-right: 0px;
  margin-bottom: 0px;
}

#imagew {
  float: left;
  width: auto;
  max-width: 100%;
  height: 60px;
  margin-left: 7.52545%;
  margin-top: 0px;
  clear: none;
  color: black;
  margin-right: 0%;
}

#imagew1 {
  float: left;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-left: 0%;
  margin-top: 669px;
  clear: both;
  color: black;
  margin-right: 0px;
  margin-bottom: 0px;
}

#boxw1 {
  float: left;
  height: auto;
  margin-left: 0%;
  margin-top: 0px;
  clear: both;
  width: 100%;
}

#boxw9 {
  float: left;
  height: 110px;
  margin-left: -90.488873%;
  margin-top: -721px;
  clear: none;
  width: 12.00728%;
  margin-right: 0%;
  margin-bottom: 0px;
  background-image: url("img/circles-1.png");
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 100%;
  visibility: hidden;
}

#boxw15 {
  float: left;
  height: 110px;
  margin-left: -94.40992%;
  margin-top: -478px;
  clear: none;
  width: 12.00728%;
  margin-right: 0%;
  margin-bottom: 0px;
  background-image: url("img/circles-2.png");
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 100%;
  visibility: hidden;
}

#boxw30 {
  float: left;
  height: 110px;
  margin-left: 0%;
  margin-top: -472px;
  clear: none;
  width: 12.00728%;
  margin-right: 0%;
  margin-bottom: 0px;
  background-image: url("img/circles-3.png");
  background-position: 0% 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 100%;
  visibility: hidden;
}

#Meet_with_Us {
  float: left;
  font-size: 1.5em;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: normal;
  line-height: normal;
  color: #060606;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 61;
  font-family: trajan-pro-3;
  margin-top: -1203.5px;
  margin-left: -36.18312%;
  clear: none;
  margin-right: 0%;
  visibility: hidden;
}

#Gather_Your_Media {
  float: left;
  font-size: 1.5em;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: normal;
  line-height: normal;
  color: #060606;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 57;
  font-family: trajan-pro-3;
  margin-top: -975.5px;
  margin-left: -26.895419%;
  clear: none;
  margin-right: 0%;
  visibility: hidden;
}

#Let_Us_Take_Care_of_the_Rest1 {
  float: left;
  font-size: 1.5em;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: normal;
  line-height: normal;
  color: #060606;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 53;
  font-family: trajan-pro-3;
  margin-top: -963px;
  margin-left: 93.418561%;
  clear: none;
  margin-right: 0%;
  visibility: hidden;
}

#boxw10 {
  float: left;
  height: auto;
  margin-left: -87.2529%;
  margin-top: -538px;
  clear: none;
  width: 79.999704%;
  margin-right: 0%;
  visibility: hidden;
}

#boxw11 {
  float: left;
  height: 10px;
  margin-left: 0%;
  margin-top: 0px;
  clear: none;
  width: 99.998468%;
  margin-right: 0%;
  opacity: 0.73;
  min-width: 0px;
  background-color: white;
}

#boxw12 {
  float: left;
  height: auto;
  margin-left: 0.00153186%;
  margin-top: 0px;
  clear: both;
  width: 99.998468%;
  margin-right: 0%;
  min-width: 0px;
  opacity: 1;
  margin-bottom: 0px;
  background-color: white;
}

#boxw13 {
  float: left;
  height: auto;
  margin-left: 7.528599%;
  margin-top: 10px;
  clear: none;
  width: 83.342988%;
  margin-right: 0%;
}

#free_consultation_to_discuss_options_timeline_pricing {
  float: left;
  font-size: 0.875em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: #060606;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 60;
  margin-top: 0px;
  margin-left: 0%;
  clear: none;
  margin-right: 0%;
}

#boxw14 {
  float: left;
  height: 10px;
  margin-left: 0.00153186%;
  margin-top: 0px;
  clear: both;
  width: 99.998469%;
  margin-right: 0%;
  opacity: 0.73;
  min-width: 0px;
  margin-bottom: 0px;
  background-color: white;
}

#boxw26 {
  float: left;
  height: auto;
  margin-left: 0%;
  margin-top: -426px;
  clear: both;
  width: 125%;
  margin-right: 0%;
  visibility: hidden;
}

#boxw27 {
  float: left;
  height: 10px;
  margin-left: 0%;
  margin-top: 0px;
  clear: none;
  width: 99.998468%;
  margin-right: 0%;
  opacity: 0.73;
  min-width: 0px;
  background-color: white;
}

#boxw28 {
  float: left;
  height: auto;
  margin-left: 0%;
  margin-top: 0px;
  clear: both;
  width: 100%;
  margin-right: 0%;
  min-width: 0px;
  opacity: 1;
  margin-bottom: 0px;
  background-color: white;
}

#Boxw {
  float: left;
  height: auto;
  margin-left: 7.528599%;
  margin-top: 10px;
  clear: none;
  width: 83.342988%;
  margin-right: 0%;
}

#collect_photos_videos_stories_you_already_have1 {
  float: left;
  font-size: 0.875em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: #060606;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 56;
  margin-top: 0px;
  margin-left: 10%;
  clear: none;
  margin-right: 0%;
}

#boxw29 {
  float: left;
  height: 10px;
  margin-left: 0.00153186%;
  margin-top: 0px;
  clear: both;
  width: 99.998469%;
  margin-right: 0%;
  opacity: 0.73;
  min-width: 0px;
  margin-bottom: 0px;
  background-color: white;
}

#boxw31 {
  float: left;
  height: auto;
  margin-left: -10.6105%;
  margin-top: -173px;
  clear: none;
  width: 125%;
  margin-right: 0%;
  visibility: hidden;
}

#boxw32 {
  float: left;
  height: 10px;
  margin-left: 0%;
  margin-top: 0px;
  clear: none;
  width: 99.998468%;
  margin-right: 0%;
  opacity: 0.73;
  min-width: 0px;
  background-color: white;
}

#Boxw1 {
  float: left;
  height: auto;
  margin-left: 0.00153186%;
  margin-top: 0px;
  clear: both;
  width: 99.998468%;
  margin-right: 0%;
  min-width: 0px;
  opacity: 1;
  margin-bottom: 0px;
  background-color: white;
}

#Boxw2 {
  float: left;
  height: auto;
  margin-left: 7.528599%;
  margin-top: 10px;
  clear: none;
  width: 83.342988%;
  margin-right: 0%;
}

#Relax_While_we_tackle_the_hard_stuff_1 {
  float: left;
  font-size: 1em;
  width: auto;
  height: auto;
  text-align: center;
  font-weight: normal;
  line-height: 1em;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 52;
  margin-top: 0px;
  margin-left: 12.2%;
  clear: none;
  margin-right: 0%;
}

#textspanw3 {
  float: none;
  font-size: 1em;
  line-height: normal;
  color: #060606;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
}

#textspanw4 {
  float: none;
  font-size: 1em;
  line-height: normal;
  color: #060606;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-decoration: underline;
  font-family: jaf-domus-titling-web;
}

#textspanw5 {
  float: none;
  font-size: 0.875em;
  line-height: normal;
  color: #060606;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
}

#boxw33 {
  float: left;
  height: 10px;
  margin-left: 0.00153186%;
  margin-top: 0px;
  clear: both;
  width: 99.998469%;
  margin-right: 0%;
  opacity: 0.73;
  min-width: 0px;
  margin-bottom: 0px;
  background-color: white;
}

#boxw7 {
  float: left;
  height: 240px;
  margin-left: 0px;
  margin-top: 50px;
  clear: both;
  width: 100%;
  text-align: center;
  margin-right: 0%;
  max-width: none;
  #min-width: 426px;
}

#boxw34:hover {
  opacity: 0.9;
}

#rainforest:hover {
  opacity: 0.9;
}

#Relax_While_we_tackle_the_hard_stuff_1:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 2927px) {
  #boxw16 {
    margin-top: 0px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0%;
  }

  #boxw20 {
    margin-top: 20px;
  }

  #boxw21 {
    margin-top: 50px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0%;
  }

  #imagew {
    margin-top: 19px;
    margin-left: 7.52545%;
    clear: both;
  }

  #boxw26 {
    margin-top: -425px;
    margin-left: 0%;
    clear: both;
  }

  #boxw30 {
    margin-top: -471px;
    margin-left: 0%;
    clear: none;
  }

  #Let_Us_Take_Care_of_the_Rest1 {
    margin-top: -962px;
    margin-left: 93.418561%;
    clear: none;
  }

  #boxw31 {
    margin-top: -172px;
    margin-left: -10.6105%;
    clear: none;
  }

  #boxw1 {
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    float: none;
  }

  #AnthoLogow {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }

  #boxwt {
    margin-top: 35px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    float: none;
    clear: none;
  }

  #boxw2 {
    margin-top: 20px;
    width: 100%;
    height: 573px;
  }

  #imagew1 {
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    width: 100%;
  }

  #boxw8 {
    background-image: url("img/mountainbg.png");
    background-attachment: scroll;
    background-size: 100%;
    width: 100%;
    height: 478px;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
  }

  #•_give_your_family_a_voice_a_face_through_audio_and_film_ {
    margin-left: 0%;
    height: auto;
    margin-top: 0px;
    clear: none;
    width: 50%;
  }

  #boxw7 {
    margin-left: 0px;
    width: 100%;
  }

  #line_1 {
    width: 100%;
  }

  #boxw34 {
    width: 80%;
    height: 4%;
  }

  #BLOGw:hover {
    opacity: 0.6;
  }

  #METHODw:hover {
    opacity: 0.6;
  }

  #MISSIONw:hover {
    opacity: 0.6;
  }

  #HIRE_USw:hover {
    opacity: 0.6;
  }

  #HIRE_USw {
    display: block;
  }

  #MISSIONw {
    display: block;
  }

  #METHODw {
    display: block;
  }

  #BLOGw {
    display: block;
  }
}
@media only screen and (max-width: 1220px) {
  #boxw2 {
    width: 100%;
    margin-top: 0px;
    clear: none;
    height: 573px;
  }

  #boxw3 {
    width: 101%;
  }

  #Bring_your_family_story_to_life {
    font-size: 2.27em;
  }

  #Celebrate_their_lives_with_an_interactive_online_museum_ {
    font-size: 1.1em;
  }

  #boxw1 {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    clear: none;
    height: auto;
  }

  #boxw8 {
    width: 100%;
    background-image: url("img/mountainbg.png");
    background-attachment: scroll;
    background-size: 100%;
    margin-top: 20px;
    margin-left: 0.0625px;
    clear: both;
    height: 420px;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
  }

  #•_give_your_family_a_voice_a_face_through_audio_and_film_ {
    margin-top: 0px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0%;
  }

  #boxw16 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    clear: none;
    width: 100%;
  }

  #boxw20 {
    margin-top: -120px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10%;
    clear: both;
    width: 92.741855%;
  }

  #boxw21 {
    margin-top: -30px;
    margin-right: 0%;
    margin-bottom: -30px;
    margin-left: 0%;
    clear: both;
    width: 100%;
  }

  #imagew {
    margin-top: 47px;
    margin-left: 7.604818%;
    clear: both;
    height: 30px;
    margin-right: 0%;
    visibility: hidden;
  }

  #boxw17 {
    width: 33%;
    padding-top: 33%;
    margin-top: 100px;
    background-image: url("img/circles-1.png");
    background-attachment: scroll;
    margin-left: 33%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
  }

  #boxw19 {
    width: 33%;
    padding-top: 33%;
    margin-top: 100px;
    background-image: url("img/circles-3.png");
    background-attachment: scroll;
    background-size: 100%;
    margin-top: 0px;
    margin-left: 25.452161%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
  }

  #boxw18 {
    width: 33%;
    padding-top: 33%;
    margin-top: 100px;
    background-image: url("img/circles-2.png");
    display: block;
    background-attachment: scroll;
    background-size: 100%;
    margin-left: 33%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
  }

  #Gather_Your_Media1 {
    margin-left: 18%;
    margin-top: 0px;
    clear: none;
  }

  #Let_Us_Take_Care_of_the_Rest {
    margin-left: 8%;
    margin-top: 0px;
    clear: none;
  }

  #AnthoLogow {
    width: 206.296875px;
    margin-left: 40%;
    clear: none;
  }

  #boxwt {
    margin-top: 35px;
    margin-left: auto;
    clear: none;
    width: 595px;
    margin-right: auto;
    float: none;
    margin-bottom: 0px;
  }

  #boxw24 {
    width: 100%;
    height: auto;
    margin-left: 5%;
  }

  #Relax_While_we_tackle_the_hard_stuff_ {
    margin-top: 0px;
    margin-left: 7%;
    clear: none;
    margin-right: 0%;
  }

  #free_consultation_to_discuss_options_timeline_pricing1 {
    margin-top: 0px;
    margin-left: -1%;
    clear: none;
  }

  #collect_photos_videos_stories_you_already_have {
    margin-top: 0px;
    margin-left: 6%;
    clear: none;
  }

  #boxw34 {
    margin-left: 10%;
    margin-top: 4%;
    clear: none;
    height: 4%;
  }

  #Steps {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    text-align: center;
    clear: both;
  }

  #boxw9 {
    width: 12.008576%;
    height: 110px;
    margin-top: -4px;
    margin-left: -1.735372%;
    clear: none;
    background-image: url("img/circles-1.png");
    background-attachment: scroll;
    background-size: 100%;
    margin-right: 0%;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
  }

  #line_1 {
    margin-top: 50px;
    margin-left: 0px;
    clear: both;
    width: 100%;
    max-width: none;
  }

  #imagew1 {
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    clear: both;
    width: 100%;
    max-width: none;
  }

  #Sample_Museum {
    margin-top: 30px;
    margin-left: 10%;
    clear: both;
  }

  #rainforest {
    margin-top: 30px;
    margin-left: 10%;
    clear: both;
  }

  #boxw15 {
    width: 12.008576%;
    height: 110px;
    margin-top: 103px;
    margin-left: -87.157239%;
    clear: none;
    background-image: url("img/circles-2.png");
    background-attachment: scroll;
    background-size: 100%;
    margin-right: 0%;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
  }

  #boxw30 {
    width: 12.008576%;
    height: 110px;
    margin-top: 0px;
    margin-left: 0%;
    clear: both;
    background-image: url("img/circles-3.png");
    background-attachment: scroll;
    background-size: 100%;
    margin-right: 0%;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
  }

  #Meet_with_Us {
    margin-top: -516.5px;
    margin-right: 0%;
    margin-left: 42.295516%;
    clear: none;
    visibility: hidden;
  }

  #Gather_Your_Media {
    margin-left: -19.64187%;
    margin-top: -394.5px;
    clear: none;
    margin-right: 0%;
    visibility: hidden;
  }

  #Let_Us_Take_Care_of_the_Rest1 {
    margin-left: 93.41865%;
    margin-top: -601px;
    clear: both;
    margin-right: 0%;
  }

  #boxw10 {
    margin-top: 43px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 12.750632%;
    clear: both;
    width: 79.999665%;
  }

  #boxw13 {
    width: 91.489588%;
    height: auto;
    margin-left: 5%;
  }

  #free_consultation_to_discuss_options_timeline_pricing {
    margin-top: 0px;
    margin-left: 0.19638282%;
    clear: none;
  }

  #boxw26 {
    margin-top: 73px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 12.750632%;
    clear: both;
    width: 79.999665%;
  }

  #Boxw {
    width: 100%;
    height: auto;
    margin-left: 0%;
  }

  #collect_photos_videos_stories_you_already_have1 {
    margin-top: 0px;
    margin-left: 6%;
    clear: none;
  }

  #boxw31 {
    margin-top: 73px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 12.750632%;
    clear: none;
    width: 79.999665%;
  }

  #Boxw2 {
    width: 100%;
    height: auto;
    margin-left: 0%;
    text-align: center;
  }

  #Relax_While_we_tackle_the_hard_stuff_1 {
    margin-top: 0px;
    margin-left: 10%;
    clear: none;
    margin-right: 0%;
  }

  #boxw7 {
    margin-left: 0px;
    margin-top: 30px;
    clear: both;
    width: 100%;
    height: 240px;
  }
}
@media only screen and (max-width: 1092px) {
  #boxw34 {
    margin-left: 10%;
    margin-top: 4%;
    clear: none;
    height: 4%;
  }

  #Bring_your_family_story_to_life {
    text-align: center;
    margin-left: 3.900392%;
    height: auto;
    min-height: 0px;
    margin-top: 2px;
    clear: none;
    width: 92.593035%;
    font-size: 2.2em;
  }

  #boxw2 {
    background-image: url("img/Randy%2058%20-%20Version%202%20(1).jpg");
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: 557px;
    background-position: 0% 20%;
    background-repeat: no-repeat no-repeat;
  }

  #boxw16 {
    margin-left: 0%;
    width: 100%;
    overflow-y: visible;
    overflow-x: visible;
    visibility: hidden;
    margin-top: 0px;
    clear: none;
    display: none;
  }

  #boxw20 {
    margin-left: -77.431594%;
    width: 91.405831%;
    margin-top: -74px;
    clear: none;
    overflow-y: visible;
    overflow-x: visible;
    visibility: hidden;
    display: none;
  }

  #boxw21 {
    width: 100%;
    margin-top: -63px;
    margin-left: -86.563621%;
    clear: none;
    overflow-y: visible;
    overflow-x: visible;
    visibility: hidden;
    display: none;
  }

  #imagew {
    height: 90px;
    margin-top: 168px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 11.292614%;
    clear: both;
    visibility: visible;
    display: none;
  }

  #Gather_Your_Media1 {
    margin-left: 19.36%;
  }

  #Let_Us_Take_Care_of_the_Rest {
    margin-left: 9.72%;
  }

  #Celebrate_their_lives_with_an_interactive_online_museum_ {
    margin-left: auto;
    text-align: center;
    margin-top: -4px;
    clear: none;
    height: auto;
    width: 100%;
    font-size: 1em;
  }

  #boxw8 {
    background-image: url("img/mountainbg.png");
    background-attachment: scroll;
    background-size: cover;
    height: 1217px;
    margin-top: 30px;
    margin-left: 0.0625px;
    clear: both;
    width: 100%;
    background-position: 100% 0%;
    background-repeat: no-repeat no-repeat;
  }

  #imagew1 {
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    clear: both;
    width: 100%;
    max-width: none;
  }

  #Sample_Museum {
    margin-top: 20px;
    margin-left: 10%;
    clear: both;
  }

  #rainforest {
    margin-top: 30px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 10%;
    clear: both;
  }

  #line_1 {
    width: 100%;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    clear: both;
    max-width: none;
  }

  #Gather_Your_Media {
    margin-left: auto;
    margin-top: 11px;
    clear: none;
    margin-right: auto;
    visibility: visible;
    float: none;
  }

  #Let_Us_Take_Care_of_the_Rest1 {
    margin-left: auto;
    margin-top: 11px;
    clear: none;
    margin-right: auto;
    visibility: visible;
    float: none;
  }

  #boxw10 {
    width: 100%;
    margin-top: 20px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0%;
    clear: none;
    visibility: visible;
  }

  #Meet_with_Us {
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    clear: none;
    visibility: visible;
    float: none;
  }

  #boxw15 {
    margin-top: 150px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    clear: none;
    width: 12.001431%;
    height: 110px;
    visibility: visible;
    float: none;
  }

  #boxw9 {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 92.296875px;
    clear: none;
    height: 110px;
    visibility: visible;
    float: none;
  }

  #Steps {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    text-align: center;
    width: 100%;
    clear: both;
  }

  #boxw30 {
    margin-top: 160px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    clear: none;
    width: 12.003219%;
    height: 110px;
    visibility: visible;
    float: none;
  }

  #boxw1 {
    margin-top: 15px;
    margin-left: 0%;
    clear: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 0px;
  }

  #AnthoLogow {
    margin-left: 40%;
    clear: none;
    width: 206.296875px;
    margin-right: auto;
    margin-bottom: 0px;
  }

  #boxwt {
    margin-top: 35px;
    margin-left: auto;
    clear: none;
    width: 595px;
    margin-right: auto;
    float: none;
    margin-bottom: 0px;
  }

  #boxw26 {
    width: 100%;
    margin-top: 20px;
    margin-left: 0%;
    clear: both;
    margin-right: 0%;
    visibility: visible;
  }

  #boxw31 {
    width: 100%;
    margin-top: 20px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
    visibility: visible;
  }

  #collect_photos_videos_stories_you_already_have1 {
    margin-top: 0px;
    margin-left: auto;
    clear: none;
    text-align: center;
    margin-right: auto;
    float: none;
  }

  #free_consultation_to_discuss_options_timeline_pricing {
    margin-top: 0px;
    margin-left: auto;
    clear: none;
    text-align: center;
    margin-right: auto;
    float: none;
  }

  #Relax_While_we_tackle_the_hard_stuff_1 {
    margin-top: 0px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    float: none;
  }

  #boxw3 {
    margin-top: 362px;
    clear: none;
    height: 100px;
    width: 101%;
  }

  #boxw5 {
    height: 83px;
  }

  #•_preserve_cherish_your_priceless_memories_today_•_send_ {
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
  }

  #•_give_your_family_a_voice_a_face_through_audio_and_film_ {
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
  }

  #boxw7 {
    margin-left: 0px;
    width: 100%;
    height: 240px;
    margin-top: 30px;
    clear: both;
  }

  #boxw23 {
    display: none;
  }
}

@media only screen and (max-width: 971px) {
  #boxw5 {
    height: 95px;
  }

  #Bring_your_family_story_to_life {
    height: auto;
    width: 90.191898%;
    margin-top: 5px;
    margin-left: 5.051219%;
    clear: none;
    font-size: 2.2em;
  }

  #Celebrate_their_lives_with_an_interactive_online_museum_ {
    margin-top: 0px;
    margin-left: auto;
    text-align: center;
    clear: none;
    width: 97%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    height: auto;
  }

  #boxw3 {
    margin-top: 350px;
    clear: none;
    height: 216px;
    width: 101%;
  }

  #boxw4 {
    height: 15px;
  }

  #boxw6 {
    height: 15px;
  }

  #•_give_your_family_a_voice_a_face_through_audio_and_film_ {
    clear: none;
    margin: 0px 0% 0px 0%;
    height: auto;
    width: 50%;
    font-size: 0.88em;
  }

  #•_preserve_cherish_your_priceless_memories_today_•_send_ {
    margin-left: 0%;
    margin-top: 0px;
    width: 50%;
    clear: none;
    margin-right: 0px;
    height: auto;
    font-size: 0.88em;
  }

  #line_1 {
    margin-top: 10.5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    clear: both;
  }

  #rainforest {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    clear: both;
  }

  #boxwt {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
    margin-top: 35px;
    margin-bottom: 0px;
  }

  #AnthoLogow {
    margin-left: 37%;
    width: 26%;
  }

  #Sample_Museum {
    margin-left: 0;
    margin-top: 20px;
    clear: both;
    width: 100%;
    text-align: center;
  }

  #boxw2 {
    height: 590px;
    background-image: url("img/Randy%2058%20-%20Version%202%20(1).jpg");
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    background-position: 50% 20%;
    background-repeat: no-repeat no-repeat;
  }

  #boxw8 {
    width: 100%;
    height: 1217px;
    margin-top: 30px;
    margin-left: 0.0625px;
    clear: both;
  }

  #imagew1 {
    width: 100%;
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    clear: both;
  }

  #boxw34 {
    height: 3%;
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    padding-bottom: 0%; /* used to be 33% */
    background-size: contain;
  }

  #Gather_Your_Media {
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    clear: none;
    float: none;
  }

  #boxw15 {
    height: 99px;
    width: 93.21875px;
    margin-top: 145px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    float: none;
  }

  #boxw9 {
    width: 92.296875px;
    height: 99px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }

  #boxw10 {
    width: 100%;
    margin-top: 20px;
    margin-left: 0%;
    clear: none;
  }

  #boxw16 {
    width: 100%;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
  }

  #boxw20 {
    width: 91.406576%;
    margin-top: -233px;
    margin-left: -80.28281%;
    clear: none;
  }

  #boxw21 {
    width: 100%;
    margin-top: -222px;
    margin-left: -75.439682%;
    clear: none;
  }

  #boxw26 {
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    float: none;
  }

  #boxw30 {
    width: 93.234375px;
    height: 99px;
    margin-top: 50px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    float: none;
  }

  #boxw31 {
    width: 100%;
    margin-top: 20px;
    margin-left: 0%;
    clear: none;
  }

  #imagew {
    height: 90px;
    margin-top: 129px;
    margin-left: 11.064958%;
    clear: both;
  }

  #Meet_with_Us {
    margin-top: 11px;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    float: none;
  }

  #Let_Us_Take_Care_of_the_Rest1 {
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    clear: none;
    float: none;
  }

  #Steps {
    margin-top: 10px;
    margin-left: 0%;
    clear: both;
  }

  #boxw7 {
    margin-top: 25px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0px;
    clear: both;
    width: 100%;
    height: 240px;
  }

  #boxw1 {
    margin-top: 15px;
    margin-left: 0%;
    clear: none;
  }

  #Relax_While_we_tackle_the_hard_stuff_1 {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }
}

@media only screen and (max-width: 817px) {
  #boxw5 {
    height: 85px;
  }
}

@media only screen and (max-width: 811px) {
  #•_preserve_cherish_your_priceless_memories_today_•_send_ {
    margin-left: 0%;
    font-size: 0.75em;
    margin-top: 0px;
    width: 50%;
    clear: none;
    margin-right: 0px;
    height: auto;
  }

  #Bring_your_family_story_to_life {
    height: auto;
    width: 90.191898%;
    margin-top: 5px;
    margin-left: 5.051219%;
    clear: none;
    font-size: 1.65em;
  }

  #boxw8 {
    background-image: url("img/mountainbg.png");
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: 1217px;
    background-position: 95% 0%;
    background-repeat: no-repeat no-repeat;
  }

  #•_give_your_family_a_voice_a_face_through_audio_and_film_ {
    margin-top: 0px;
    clear: none;
    width: 50%;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0%;
    font-size: 0.75em;
    text-align: center;
  }

  #collect_photos_videos_stories_you_already_have1 {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }

  #free_consultation_to_discuss_options_timeline_pricing {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }

  #Relax_While_we_tackle_the_hard_stuff_1 {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }

  #boxw30 {
    margin-left: auto;
    height: 99px;
    margin-top: 50px;
    clear: none;
    width: 93.234375px;
    margin-right: auto;
    float: none;
    margin-bottom: 0px;
  }

  #Let_Us_Take_Care_of_the_Rest1 {
    margin-left: auto;
    margin-top: 11px;
    clear: none;
    margin-right: auto;
    float: none;
  }

  #boxw15 {
    margin-left: auto;
    height: 99px;
    margin-top: 160px;
    clear: none;
    width: 93.21875px;
    margin-right: auto;
    float: none;
  }

  #Gather_Your_Media {
    margin-left: auto;
    margin-top: 11px;
    clear: none;
    margin-right: auto;
    float: none;
  }

  #boxw9 {
    margin-left: auto;
    width: 93px;
    height: 99px;
    margin-right: auto;
    float: none;
    clear: none;
  }

  #Meet_with_Us {
    margin-left: auto;
    margin-top: 11px;
    clear: none;
    margin-right: auto;
    float: none;
  }

  #boxw34 {
    /* background-image: url("img/forestbutton2.png");
    background-attachment: scroll;
    background-size: contain; */
    width: 80%;
    margin-left: 10%;
    margin-top: 6%;
    /* background-position: 0% 0%;
    background-repeat: no-repeat no-repeat; */
    padding-bottom: 0%; /* used to be 13% */
  }

  #boxw2 {
    width: 100%;
    height: 608.5px;
  }

  #boxw7 {
    width: 100%;
    margin-left: 0px;
  }

  #line_1 {
    width: 100%;
  }

  #imagew1 {
    width: 100%;
  }

  #rainforest {
    width: 80%;
  }

  #Sample_Museum {
    margin-left: 0;
  }

  #Steps {
    margin-left: 0%;
  }

  #MISSIONw {
    margin-left: 13%;
  }

  #METHODw {
    margin-left: 13%;
  }

  #BLOGw {
    margin-left: 13%;
  }

  #boxwt {
    width: 435px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  #AnthoLogow {
    width: 25.999753%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 37%;
  }

  #boxw1 {
    width: 100%;
    margin-top: 15px;
    margin-left: 0%;
    clear: none;
  }

  #imagew {
    margin-top: -1385px;
    margin-left: -111.532286%;
    clear: none;
    display: none;
  }

  #boxw10 {
    margin-top: 20px;
    margin-left: 0%;
    clear: none;
    width: 100%;
  }

  #boxw16 {
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    width: 100%;
  }

  #boxw20 {
    margin-top: 0px;
    margin-left: -138.457737%;
    clear: none;
    width: 91.407095%;
  }

  #boxw21 {
    margin-top: 11px;
    margin-left: -133.615085%;
    clear: none;
    width: 100%;
  }

  #boxw26 {
    margin-top: 20px;
    margin-left: 0%;
    clear: none;
    width: 100%;
  }

  #boxw31 {
    margin-top: 20px;
    margin-left: 0%;
    clear: none;
    width: 100%;
  }

  #line_1 {
    margin-top: -15px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0.0px;
    width: 100%;
    clear: both;
  }
}

@media only screen and (max-width: 626px) {
  #•_preserve_cherish_your_priceless_memories_today_•_send_ {
    margin-left: 0%;
    margin-top: 0px;
    width: 50%;
    clear: none;
    margin-right: 0px;
    text-align: center;
    height: auto;
    font-size: 0.7em;
  }

  #•_give_your_family_a_voice_a_face_through_audio_and_film_ {
    width: 50%;
    margin-left: 0%;
    font-size: 0.7em;
    text-align: center;
  }

  #Bring_your_family_story_to_life {
    font-size: 1.66em;
    width: 70%;
    margin-left: 15%;
  }

  #Steps {
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
  }

  #boxw9 {
    margin-left: auto;
  }

  #boxw15 {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }

  #boxw30 {
    margin-left: auto;
    margin-right: auto;
  }

  #Meet_with_Us {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }

  #Gather_Your_Media {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
    text-align: center;
  }

  #boxw8 {
    background-image: url("img/mountainbg.png");
    background-attachment: scroll;
    background-size: cover;
    width: 100%;
    height: 1117px;
    margin-top: 30px;
    margin-left: 0.0625px;
    clear: both;
    background-position: 95% 0%;
    background-repeat: no-repeat no-repeat;
  }

  #boxw7 {
    margin-top: 25px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    clear: both;
  }

  #Let_Us_Take_Care_of_the_Rest1 {
    margin-left: 0%;
    margin-right: 0%;
    float: none;
    clear: none;
  }

  #Relax_While_we_tackle_the_hard_stuff_1 {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }

  #collect_photos_videos_stories_you_already_have1 {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }

  #free_consultation_to_discuss_options_timeline_pricing {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }

  #Sample_Museum {
    height: auto;
    margin-top: 20px;
    margin-left: 0%;
    clear: both;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
  }

  #rainforest {
    margin-top: 20px;
    margin-left: 10%;
    clear: both;
    width: 80%;
  }

  #boxw2 {
    width: 100%;
    height: 726.5px;
    background-image: url("img/Randy%2058%20-%20Version%202%20(1).jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: 45% 20%;
    background-repeat: no-repeat no-repeat;
  }

  #line_1 {
    width: 100%;
    margin-top: -40px;
    margin-left: 0px;
    clear: both;
  }

  #imagew1 {
    width: 100%;
    margin-top: 50px;
    margin-left: 0%;
    clear: both;
  }

  #boxw34 {
    height: 4%;
    width: 80%;
    margin-top: 7%;
    margin-left: 10%;
    clear: none;
    padding-bottom: 0%; /* #used to be 33% */
  }

  #boxw3 {
    margin-top: 420px;
    height: 273.5px;
    width: 101%;
  }

  #boxw5 {
    height: auto;
  }

  #boxw4 {
    width: 99.996621%;
    height: 15px;
  }

  #boxw6 {
    width: 99.996621%;
    height: 15px;
  }

  #Celebrate_their_lives_with_an_interactive_online_museum_ {
    margin-top: 0px;
    margin-left: 6%;
    width: 88%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    text-align: center;
    clear: both;
    font-size: 0.88em;
  }

  #CONTACT_USw {
    font-size: 1.1em;
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
    clear: none;
    text-align: center;
  }

  #boxwt {
    width: 435px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    clear: none;
    float: none;
  }

  #AnthoLogow {
    width: 26.677316%;
    min-width: 167px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    float: none;
    clear: none;
    margin-top: 50px;
  }

  #boxw1 {
    width: 100%;
    margin-top: 15px;
    margin-left: 0%;
    clear: none;
  }

  #imagew {
    margin-top: -1014.5px;
    margin-left: -111.530672%;
    clear: none;
  }

  #boxw16 {
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
  }
}

@media only screen and (max-width: 520px) {
  #Steps {
    display: none;
  }
}

@media only screen and (max-width: 514px) {
  #MISSIONw {
    margin-left: 8%;
    margin-top: 0px;
    clear: none;
  }

  #METHODw {
    margin-left: 8%;
    margin-top: 0px;
    clear: none;
  }

  #BLOGw {
    margin-left: 8%;
    margin-top: 0px;
    clear: none;
  }

  #HIRE_USw {
    margin-top: 0px;
    margin-left: -0.11698538%;
    clear: none;
  }

  #•_preserve_cherish_your_priceless_memories_today_•_send_ {
    font-size: 0.88em;
    width: 100%;
    margin-left: 0%;
    text-align: center;
  }

  #•_give_your_family_a_voice_a_face_through_audio_and_film_ {
    margin-top: 16px;
    clear: both;
    margin-left: 0%;
    width: 100%;
    text-align: center;
    font-size: 0.88em;
  }

  #AnthoLogow {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 34%;
    width: 28.997462%;
    min-width: 0px;
  }

  #boxwt {
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 350px;
    float: none;
    clear: none;
  }

  #boxw1 {
    width: 100%;
    margin-top: 10px;
    margin-left: 0%;
    clear: none;
  }

  #Steps {
    margin-top: 40px;
    margin-left: 0%;
    clear: both;
    font-size: 1.88em;
  }

  #boxw2 {
    width: 100%;
    height: 594px;
    background-image: url("img/Randy%2058%20-%20Version%202%20(1).jpg");
    background-attachment: scroll;
    background-size: 270%;
    background-position: 45% 0px;
    background-repeat: no-repeat no-repeat;
  }

  #boxw7 {
    margin-top: 40px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0px;
    clear: both;
    width: 100%;
  }

  #line_1 {
    margin-top: 260px;
    margin-left: 0px;
    width: 100%;
  }

  #boxw8 {
    margin-top: -25px;
    margin-left: 0.0625px;
    clear: both;
    width: 100%;
    height: 1045px;
  }

  #imagew1 {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0%;
    clear: both;
    width: 100%;
  }

  #Sample_Museum {
    margin-top: 25px;
    margin-left: 0%;
    clear: both;
    width: 100%;
    text-align: center;
  }

  #rainforest {
    margin-top: 15px;
    margin-left: 10%;
    clear: both;
    width: 80%;
    min-width: 0px;
  }

  #boxw34 {
    width: 80%;
    height: 4%;
    margin-left: 10%;
    margin-top: 10%;
    padding-bottom: 0%; /* used to be 20% */
  }

  #boxw15 {
    margin-top: 148px;
    margin-left: auto;
    clear: none;
    width: 93.21875px;
    height: 99px;
    margin-right: auto;
    float: none;
  }

  #boxw9 {
    margin-left: auto;
    width: 92.296875px;
    height: 99px;
    margin-right: auto;
    float: none;
    clear: none;
  }

  #boxw30 {
    margin-left: auto;
    margin-top: 50px;
    clear: none;
    width: 93.234375px;
    height: 99px;
    margin-right: auto;
    float: none;
  }

  #Meet_with_Us {
    margin-left: auto;
    margin-top: 11px;
    clear: none;
    margin-right: auto;
    float: none;
    font-size: 1.33em;
  }

  #Gather_Your_Media {
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    margin-right: auto;
    float: none;
    font-size: 1.33em;
  }

  #Let_Us_Take_Care_of_the_Rest1 {
    margin-left: auto;
    margin-top: 11px;
    clear: none;
    margin-right: auto;
    float: none;
    font-size: 1.33em;
  }

  #Relax_While_we_tackle_the_hard_stuff_1 {
    margin-left: 0%;
    margin-right: 0px;
    font-size: 0.7em;
    float: left;
    clear: none;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }

  #collect_photos_videos_stories_you_already_have1 {
    margin-left: auto;
    height: auto;
    margin-right: auto;
    float: none;
    clear: none;
    font-size: 0.7em;
    text-align: center;
  }

  #free_consultation_to_discuss_options_timeline_pricing {
    margin-left: auto;
    height: auto;
    margin-right: auto;
    float: none;
    font-size: 0.7em;
    clear: none;
  }

  #imagew {
    clear: none;
    margin-top: -474px;
    margin-left: -111.266139%;
    visibility: hidden;
  }

  #boxw10 {
    margin-top: 20px;
    margin-left: -0.20219994%;
    clear: none;
    width: 100%;
    margin-right: 0px;
    float: left;
  }

  #boxw16 {
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    width: 100%;
  }

  #boxw20 {
    margin-top: -141px;
    margin-left: -11.266139%;
    clear: none;
    width: 91.403174%;
  }

  #boxw21 {
    margin-top: -141px;
    margin-left: -11.266139%;
    clear: none;
    width: 100%;
  }

  #boxw26 {
    margin-top: 20px;
    margin-left: 0%;
    clear: none;
    width: 100%;
  }

  #boxw31 {
    margin-top: 20px;
    margin-left: 0%;
    clear: none;
    width: 100%;
  }

  #boxw13 {
    width: 75%;
    margin-top: 10px;
    margin-left: 12.5%;
    clear: none;
  }

  #Boxw {
    width: 60%;
    margin-top: 10px;
    margin-left: 20%;
    clear: none;
  }

  #Boxw2 {
    width: 100%;
    margin-left: 0%;
  }

  #boxw3 {
    margin-top: 380.5px;
    clear: none;
    height: 174.5px;
    width: 101%;
  }

  #Bring_your_family_story_to_life {
    font-size: 1.33em;
    width: 80%;
    line-height: 1.45em;
    margin-left: 10%;
  }

  #Celebrate_their_lives_with_an_interactive_online_museum_ {
    font-size: 0.88em;
  }

  #boxw6 {
    margin-top: 0px;
    margin-right: 0%;
    margin-bottom: 0px;
    margin-left: 0%;
    clear: both;
    width: 99.995436%;
    height: 15px;
  }

  #boxw5 {
    height: 127.5px;
    width: 99.998468%;
  }

  #boxw4 {
    width: 99.995436%;
    height: 15px;
  }

  #CONTACT_USw {
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
  }
}

@media only screen and (max-width: 514px) {
  #boxw4 {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 445px) {
  #Bring_your_family_story_to_life {
    width: 87%;
    margin-left: 6.5%;
  }

    #MISSIONw {
    font-size: 0.66em;
    margin-left: 5%;
    margin-top: 0px;
    clear: none;
  }

  #METHODw {
    font-size: 0.66em;
    margin-left: 5%;
    margin-top: 0px;
    clear: none;
  }

  #BLOGw {
    font-size: 0.66em;
    margin-left: 5%;
    margin-top: 0px;
    clear: none;
  }

  #HIRE_USw {
    font-size: 0.66em;
    margin-top: 0px;
    margin-left: 1.5%;
    clear: none;
  }

  #Sample_Museum {
    font-size: 1.33em;
  }

  #boxwt {
    margin-left: auto;
    width: 283px;
    margin-right: auto;
  }


}
@media only screen and (max-width: 397px) {
  #boxwt {
    margin-left: auto;
    width: 213px;
    margin-right: auto;
  }

  #BLOGw {
    display: none;
  }

  #AnthoLogow {
    margin-left: auto;
    width: 109.3125px;
    margin-right: auto;
    float: none;
    clear: none;
    margin-top: 35px;
  }

  #boxw7 {
    margin-left: 0px;
    width: 100%;
    min-width: 0px;
  }

  #•_preserve_cherish_your_priceless_memories_today_•_send_ {
    font-size: 0.66em;
  }

  #•_give_your_family_a_voice_a_face_through_audio_and_film_ {
    font-size: 0.66em;
  }

  #boxw2 {
    width: 100%;
    height: 594px;
  }

  #boxw8 {
    width: 100%;
    height: 1105px;
  }

  #boxw1 {
    margin-left: 0%;
    width: 100%;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  #boxw34 {
    width: 80%;
    height: 4%;
    display: block;
    margin-left: 10%;
    margin-top: 10%;
  }

  #line_1 {
    width: 100%;
  }

  #imagew1 {
    width: 100%;
  }

  #rainforest {
    width: 80%;
    margin-left: 10%;
    display: block;
  }

  #Steps {
    margin-left: 0%;
    width: 100%;
    margin-top: -110px;
    text-align: center;
  }

  #Relax_While_we_tackle_the_hard_stuff_1 {
    display: block;
  }

  #CONTACT_USw {
    font-size: 0.88em;
    margin-top: 0%;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    line-height: 30px;
    float: none;
    clear: none;
  }
}
