.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

.sponsor-line {
    margin: 0.7em 0px 0px 7.39%;
    font-family: 'Adobe Garamond Pro';
    font-size: 0.75em;
    letter-spacing: 0.1em;
    float: left;
    font-style: italic;
}

.sponsor-pic {
    width: 25px;
}

.bottom-menu {
    margin-left: 0%;
    margin-top: 2em;
    float: left;
    clear: both;
    margin-bottom: 2em;
    width: 100%;
    text-align: center;
}

#LiFamilyTree {
    overflow-x: scroll;
}

#PREPARED_with_LOVE_by_ANTHO_ {
    float: left;
    /* font-size: 1em; */
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin: 35px 0px 0px 0%;
    clear: none;
    color: rgb(238, 238, 238);
}

#textspanli6 {
    float: none;
    font-size: 1.875em;
    line-height: 1em;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanli7 {
    float: none;
    font-size: 1.25em;
    line-height: 1em;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspanli8 {
    float: none;
    font-size: 1.875em;
    line-height: 1em;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanli11 {
    float: none;
    font-size: 1.875em;
    line-height: 1em;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspanli12 {
    float: none;
    font-size: 1.875em;
    line-height: 1em;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
}

#conclusiverect {
    float: left;
    height: 95px;
    width: 100%;
    background-color: rgb(22, 26, 27);
    border: 2px solid rgb(7, 9, 9);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin-top: 5em;
    margin-left: 0%;
    clear: none;
}

#Life_Summaryli {
    float: left;
    font-size: 1.38em;
    width: 99.991589%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.4em;
    color: rgb(0, 0, 0);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 82;
    margin: 1.5em 0px 0px 0.00841202%;
    clear: both;
    font-family: adobe-garamond-pro;
}

#LIFE_SUMMARY_Title {
    float: left;
    font-size: 2em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 800;
    line-height: 1em;
    color: rgb(0, 0, 0);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 83;
    margin-top: 0em;
    margin-left: 0%;
    clear: none;
    font-family: futura-pt;
    margin-right: 0%;
}

#THE_LIFE_STORY_OF_LISA_JIM_SUM_LI {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 89;
    margin: 1.5em 0px 0px 0%;
    clear: none;
    font-family: adobe-garamond-pro;
    min-width: 0px;
    padding-bottom: 5em;
}

#textspanli1 {
    float: none;
    font-size: 5.25em;
    line-height: 1.5em;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: lust-script-display;
}

#menucoverphoto {
    float: left;
    width: 100%;
    height: 2000px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 86;
    /* background-image:url("img/HK%20Scene%202.png"); */
    background-image:url("img/LiCOVER-small.jpg"); 
    -webkit-background-size: cover;
    background-size: cover;
    margin: -10px 0px 0px 0%;
    clear: none;
    background-attachment: scroll;
    min-width: 0px;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#menucoverphotocarma {
    float: left;
    width: 100%;
    height: 2000px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 86;
    /* background-image:url("img/HK%20Scene%202.png"); */
    background-image:url("img/carmacover3.jpg"); 
    -webkit-background-size: cover;
    background-size: cover;
    margin: -10px 0px 0px 0%;
    clear: none;
    background-attachment: scroll;
    min-width: 0px;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

@media only screen and (max-width: 1675px) {
    #menucoverphoto {
        height: 1800px;
    }

        #menucoverphotocarma {
        height: 1800px;
    }
}

@media only screen and (max-width: 1490px) {
    #menucoverphoto {
        height: 1600px;
    }

    #menucoverphotocarma {
        height: 1600px;
    }
}

@media only screen and (max-width: 1350px) {
    #menucoverphoto {
        height: 1300px;
    }

    #menucoverphotocarma {
        height: 1300px;
    }
}

@media only screen and (max-width: 1100px) {
    #menucoverphoto {
        height: 1100px;
    }

    #menucoverphotocarma {
        height: 1100px;
    }
}

@media only screen and (max-width: 950px) {
    #menucoverphoto {
        height: 950px;
    }

    #menucoverphotocarma {
        height: 950px;
    }
}

@media only screen and (max-width: 830px) {
    #menucoverphoto {
        height: 850px;
    }

    #menucoverphotocarma {
        height: 850px;
    }
}

@media only screen and (max-width: 735px) {
    #menucoverphoto {
        height: 785px;
    }

    #menucoverphotocarma {
        height: 785px;
    }
}

@media only screen and (max-width: 666px) {
    #menucoverphoto {
        height: 700px;
    }

    #menucoverphotocarma {
        height: 700px;
    }
}

@media only screen and (max-width: 600px) {
    #menucoverphoto {
        height: 630px;
    }

    #menucoverphotocarma {
        height: 630px;
    }
}

@media only screen and (max-width: 530px) {
    #menucoverphoto {
        height: 550px;
    }

    #menucoverphoto {
        height: 550px;
    }
}


@media only screen and (max-width: 460px) {
    #menucoverphoto {
        height: 460px;
    }

    #menucoverphotocarma {
        height: 460px;
    }
}

@media only screen and (max-width: 390px) {
    #menucoverphoto {
        height: 410px;
    }

    #menucoverphotocarma {
        height: 410px;
    }
}



#calligraphytext {
    float: left;
    width: 4.95%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 75;
    margin: -6% 0px 0px 66.53%;
    clear: none;
    padding-bottom: 1.8em;
    padding-top: 1.8em;
}

#calligraphytext3char {
    float: left;
    width: 7%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 75;
    margin: -6% 0px 0px 66.53%;
    clear: none;
    padding-bottom: 1.8em;
    padding-top: 1.8em;
}

#menuthemequote {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.4em;
    color: rgb(0, 0, 0);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 74;
    margin-top: 2em;
    margin-left: 0%;
    clear: both;
    margin-right: 0%;
    font-family: adobe-garamond-pro;
    min-width: 0px;
    padding-right: 3px;
}

#PROGRESS_I_Adversity_in_Wartorn_China {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 76;
    margin-top: 2em;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
    min-width: 0px;
}

#menuthemepic {
    float: left;
    width: 65.291566%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 78;
    margin: 0em 0px 0px 0%;
    clear: none;
}

#centerlogo {
    float: none;
    width: 8%;
    max-width: 100%;
    height: auto;
    margin-left: 46%;
    margin-top: 120px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

#menutitleright {
    float: left;
    height: 99.740933%;
    margin: 0em 0px 0px 4.107401%;
    clear: none;
    width: 30.601244%;
    min-height: 0px;
    border-top-color: rgb(197, 197, 197);
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 0px;
    border-bottom-style: solid;
}

#textspanli {
    float: none;
    font-size: 2em;
    line-height: 1em;
    color: rgb(255, 255, 255);
    font-family: futura-pt;
    letter-spacing: 0.2em;
    font-weight: 100;
}

#summarybox {
    float: left;
    height: auto;
    margin: 5em 0px 0px 7.39%;
    clear: none;
    width: 40.85%;
}

#menuhorizontal {
    float: left;
    height: auto;
    margin: 5em 0px 0px 7.39%;
    clear: none;
    width: 85.192614%;
}

#menuhorizontal:hover {
    opacity: 0.9;
    background-color: rgb(228, 228, 228);
}

#menuhorizontalsuccessive {
    float: left;
    height: auto;
    margin: 2em 0px 0px 7.39%;
    clear: none;
    width: 85.192614%;
}

#menuhorizontalsuccessive:hover {
    opacity: 0.9;
    background-color: rgb(228, 228, 228);
}

/* #boxw34:hover {
  opacity: 0.9;
} */

#Underline {
    float: left;
    height: 2px;
    margin: -1px 0px 0px 66.53%;
    clear: none;
    width: 26.07%;
    min-height: 0px;
    border-top-width: 1px;
    border-top-color: rgb(197, 197, 197);
    border-top-style: solid;
    display: block;
}

#textspanli5 {
    float: none;
    font-size: 1.25em;
    line-height: 1em;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.15em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanli10 {
    float: none;
    font-size: 1.25em;
    line-height: 1em;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanli9 {
    float: none;
    font-size: 1.875em;
    line-height: 1em;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.15em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanli13 {
    float: none;
    font-size: 1.875em;
    line-height: 1em;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.15em;
    text-decoration: none;
    font-family: futura-pt;
}

#summarytitletext {
    float: none;
    line-height: 1em;
    letter-spacing: 0.15em;
}

#summarytext {
    font-size: 1em;
    float: left;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.6em;
    color: #444343;
    font-style: normal;
    letter-spacing: 0.015em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 41;
    margin-top: 1.11em;
    margin-left: 0%;
    clear: both;
    font-family: adobe-garamond-pro;
    margin-right: 0%;

}

#textspanli3 {
    float: none;
    line-height: 40px;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-decoration: none;
    font-family: futura-pt;
    font-size: 2em;
}

#textspanli2 {
    float: none;
    line-height: 30px;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-decoration: none;
    font-family: futura-pt;
    font-size: 2em;
}

#textspanli4 {
    float: none;
    font-size: 1.7em;
    line-height: 1.5em;
    font-family: adobe-garamond-pro;
    font-style: italic;
    color: rgb(153, 152, 152);
    letter-spacing: 0.06em;
}

@media only screen and (max-width: 1400px) {
    #summarybox {
        width: 55.64%;
    }

    #calligraphytext {
        margin-top: -7%;
    }

    #calligraphytext3char {
        margin-top: -7%;
    }

    #summarytext {
        float: none;
        font-size: 0.75em;
        line-height: 1.6em;
        margin-top: 1.375em; 

    }

    #Life_Summaryli {
        font-size: 1.38em;
    }

    #centerlogo {
        margin-top: 90px;
    }

    #PREPARED_with_LOVE_by_ANTHO_ {
        clear: none;
        float: left;
        text-align: center;
    }

    #textspanli4 {
        font-size: 1.5em;
        line-height: 1.4em;
    }
}

@media only screen and (max-width: 1280px) {
    #menuthemequote {
        margin-top: 1.2em;
    }

    #textspanli1 {
        font-size: 4.25em;
        line-height: 1.6em;
    }

    #textspanli {
        font-size: 1.7em;
    }

    #centerlogo {
        width: 8%;
    }

    #LIFE_SUMMARY_Title {
        font-size: 1.7em;
    }

    #PROGRESS_I_Adversity_in_Wartorn_China {
        font-size: 1em;
        margin: 1.7em 0% 0px;
    }

    #textspanli3 {
        float: none;
        font-size: 1.7em;
        line-height: 1em;
    }

    #calligraphytext {
        margin-top: -8%;
    }

    #calligraphytext3char {
        margin-top: -8%;
    }

    #textspanli2 {
        font-size: 1.7em;
    }

    #textspanli4 {
        font-size: 1.33em;
        line-height: 1.33em;
    }

    #THE_LIFE_STORY_OF_LISA_JIM_SUM_LI {
        padding-bottom: 4em;
    }
}

@media only screen and (max-width: 1120px) {
    #textspanli1 {
        font-size: 3.55em;
    }

    #textspanli {
        font-size: 1.38em;
    }

    #PROGRESS_I_Adversity_in_Wartorn_China {
        margin-top: 1em;
        font-size: 0.8em;
    }

    #menuthemequote {
        margin-top: 1.7em;
    }

    #textspanli4 {
        line-height: 1.2em;
        letter-spacing: 0.05em;
    }

    #THE_LIFE_STORY_OF_LISA_JIM_SUM_LI {
        padding-bottom: 3.5em;
    }

    #calligraphytext {
        margin: -8.25% 0px 0px 66.53%;
    }

    #calligraphytext3char {
        margin: -8.25% 0px 0px 66.53%;
    }

    #PREPARED_with_LOVE_by_ANTHO_ {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 980px) {
    #calligraphytext {
        margin: -8.75% 0px 0px 66.53%;
    }
    
    #calligraphytext3char {
        margin: -8.75% 0px 0px 66.53%;
    }

    #summarybox {
        margin-top: 4em;
    }

    #menuhorizontal {
        margin-top: 4em;
    }

    #PREPARED_with_LOVE_by_ANTHO_ {
        font-size: 0.66em;
        margin-top: 20px;
    }

    #conclusiverect {
        height: 65px;
        margin-top: 4em;
    }

    #THE_LIFE_STORY_OF_LISA_JIM_SUM_LI {
        margin-top: 1.25em;
    }

    #centerlogo {
        margin-top: 70px;
        margin-left: 46%;
    }
}

@media only screen and (max-width: 850px) {
    #Life_Summaryli {
        font-size: 1.25em;
    }

    #calligraphytext {
        margin-top: -9%;
        width: 6%;
    }

    #calligraphytext3char {
        margin-top: -9%;
        width: 8%;
    }

    #menuthemequote {
        margin-top: 0.8em;
        font-size: 0.88em;
    }

    #summarybox {
        margin-top: 3em;
    }

    #menuhorizontal {
        margin-top: 3em;
    }

    #THE_LIFE_STORY_OF_LISA_JIM_SUM_LI {
        padding-bottom: 3em;
    }

    #centerlogo {
        margin-top: 60px; 
        margin-left: 46%;
    }

    #textspanli5 {
        font-size: 1.875em;
    }

    #textspanli7 {
        font-size: 1.875em;
    }
}

/* menu changes dramatically here */

@media only screen and (max-width: 785px) {

    .sponsor-line {
        display: none;
    }

    #menutitleright {
        clear: left;
        width: 100%;
        border-top-color: rgb(255, 255, 255);
        margin-left: 0%;
    }

    #textspanli4 {
        line-height: 1em;
    }

    #menuthemepic {
        width: 100%;
        max-width: none;
    }

    #summarybox {
        width: 85.19%;
    }

    #conclusiverect {
        margin-top: 3em;
        height: 45px;
    }

    #menuthemequote {
        width: 100%;
        font-size: 1em;
        margin-top: 1.2em;
    }

    #Underline {
        visibility: visible;
        display: none;
    }

    #calligraphytext {
        clear: left;
        margin-left: 7.39%;
        margin-top: 2%;
        padding-top: 0em;
        padding-bottom: 0em;
        width: 7.5%;
    }

    #calligraphytext3char {
        clear: left;
        margin-left: 7.39%;
        margin-top: 2%;
        padding-top: 0em;
        padding-bottom: 0em;
        width: 10%;
    }

    #textspanli1 {
        font-size: 3em;
    }

    #textspanli {
        font-size: 1.2em;
    }

    #THE_LIFE_STORY_OF_LISA_JIM_SUM_LI {
        margin-top: 0.7em;
        padding-bottom: 2.7em;
    }

    #centerlogo {
        width: 10%;
        margin-top: 55px;
        margin-left: 45%;
    }

    #PREPARED_with_LOVE_by_ANTHO_ {
        font-size: 0.5em;
        margin-top: 12px;
    }

    #LIFE_SUMMARY_Title {
        font-size: 1.66em;
    }
}

@media only screen and (max-width: 524px) {
    #LiFamilyTree {
        margin-left: -100px;
        width: 2888px;
        height: 902px;
    } 

    #menuthemequote {
        width: 100%;
    }

    #summarybox {
        width: 85.19%;
        margin-top: 2em;
    }

    #textspanli1 {
        font-size: 2.5em;
    }

    #THE_LIFE_STORY_OF_LISA_JIM_SUM_LI {
        padding-bottom: 2.2em;
        padding-right: 5%;
        padding-left: 5%;
    }

    #centerlogo {
        width: 12%;
        margin-top: 50px;
        margin-left: 44%;
    }

    #calligraphytext {
        width: 10.5%;
    }

    #calligraphytext3char {
        width: 14%;
    }

    #Life_Summaryli {
        margin-top: 1em;
    }

    #menuhorizontal {
        margin-top: 2em;
    }

    #conclusiverect {
        margin-top: 2em;
    }

    #LIFE_SUMMARY_Title {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 434px) {
    #centerlogo {
        margin-top: 25px;
    }

    #textspanli1 {
        font-size: 2.1em;
        line-height: 1.3em;
    }

    #THE_LIFE_STORY_OF_LISA_JIM_SUM_LI {
        padding-bottom: 2em;
    }
}

@media only screen and (max-width: 384px) {
    #textspanli1 {
        line-height: 1.5em;
    }

    /* #menucoverphoto {
        background-image:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 0.290196) 0%, rgba(124, 87, 87, 0.14902) 0%),url("img/HK%20Scene%202.png");
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.290196) 0%, rgba(124, 87, 87, 0.14902) 0%), url("img/HK%20Scene%202.png"); 
        background-attachment: scroll;
        -webkit-background-size: auto, cover;
        background-size: auto, cover;
        background-position: 0% 0%;
        background-repeat: repeat, no-repeat;
    } */
}

