.vidvid {
    width: 100%;
}

#ChapterHeadingCoverPhoto {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 28;
    margin: 5em 0px 0px;
    clear: none;
}

#ChapterSectionIndex {
    float: left;
    font-size: 1.5em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 252, 253);
    font-style: normal;
    letter-spacing: 0.25em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 53;
    margin: 1.5em 0px 0px;
    clear: left;
    font-family: futura-pt;
    min-width: 0px;
    margin-bottom: 40px;
    a {
    	color: white;
    }
}

.invisichar {
	color: white;
}

.anchorup {
	margin-top: -200px;
	margin-left: 7.38%;
	
	color: white;
	float: left;
}

.GalleryTitle {
	font-size: 1.5em;
	font-family: futura-pt;
	color: rgb(35, 31, 32);
	font-weight: 800;
	float: left;
}


#SEE_MORE {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 800;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 31;
    margin-top: 2em;
    margin-left: 0%;
    clear: none;
    font-family: futura-pt;
    margin-right: 0%;
}

#Timespan {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 54;
    margin-top: 8px;
    margin-left: 0%;
    clear: none;
    min-width: 0px;
}

#textspanlichapter4 {
    float: none;
    font-size: 1.4100705em;
    line-height: 1em;
    color: rgb(253, 250, 252);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanlichapter5 {
    float: none;
    font-size: 1.440072em;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: futura-pt;
}

.fboxImageSize {
  max-width: 1000px;
  max-height: 210px;
}

#ChapterParagraphTwo {
    float: left;
    font-size: 1.25em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.66em;
    color: #444343;
    font-style: normal;
    letter-spacing: 0.015em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 41;
    margin-top: 1.11em;
    margin-left: 0%;
    clear: both;
    font-family: adobe-garamond-pro;
    margin-right: 0%;
}

#TimespanBox {
    float: left;
    height: 40px;
    width: 15%;
    border: 2px solid rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 55;
    margin-top: 3em;
    margin-left: 42.5%;
    clear: none;
    display: none;
}

#ThemeTitle {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 56;
    margin-top: 16em;
    margin-left: 0%;
    clear: none;
    font-family: adobe-garamond-pro;
    min-width: 0px;
}

#textspanlichapter3 {
    float: none;
    font-size: 6.437821875000001em;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
}

#ChapterByline {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 42;
    margin-top: 0em;
    margin-left: 0%;
    clear: none;
    letter-spacing: 0.1em;
    margin-right: 0%;
}

#textspanlichapter23 {
    float: none;
    font-size: 1.5em;
    line-height: 22px;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanlichapter24 {
    float: none;
    font-size: 1.125em;
    line-height: 1.5em;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-family: futura-pt;
    letter-spacing: 0.1em;
}

#ThemeCoverPhotoProgress1 {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/family%20upbringing.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/family%20upbringing.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoProgress2 {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/immigration1.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.207843) 0%), url("img/immigration1.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 15%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoProgress3 {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/turningpointCOVER%201.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/turningpointCOVER%201.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoGrace {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/childhood%20COVER.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/childhood%20COVER.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoSpirituality {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/spiritualjourneyCOVER.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/spiritualjourneyCOVER.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoGuestbook {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/prideinkids1.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/prideinkids1.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoFamilyTree {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/treesitting.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/treesitting.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoTimeline {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/manapuatruck.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.207843) 0%), url("img/manapuatruck.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 50%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoFarmerandNurse {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/farmerandnurse1.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/farmerandnurse1.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoFarmerandNurse2 {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/farmerandnurse2.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/farmerandnurse2.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}


#ThemeCoverPhotoAnnex {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/annex.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/annex.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoChildhood1 {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/childhood1.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/childhood1.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoChildhood2 {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/childhood2.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/childhood2.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoChocolate {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/chocolate.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/chocolate.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoFarm {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/farm.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/farm.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoGuestbookCarma {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/guestbook.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/guestbook.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoIcandohard1 {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/icandohard1.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/icandohard1.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoIcandohard2 {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/Icandohard2.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/Icandohard2.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoMissionaryservice1 {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/missionaryservice1.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/missionaryservice1.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoMissionaryservice2 {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/missionaryservice2.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/missionaryservice2.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoTimelineCarma {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/timeline.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/timeline.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ThemeCoverPhotoTownLiving {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-image:-webkit-linear-gradient(270deg, white 0%, rgba(0, 0, 0, 0.407843) 0%),url("img/townliving.jpg");
    background-image: linear-gradient(180deg, white 0%, rgba(0, 0, 0, 0.407843) 0%), url("img/townliving.jpg");
    background-attachment: scroll;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    opacity: 1;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    background-position: 0% 0%;
    background-repeat: repeat, no-repeat;
}

#ChapterQuote {
    float: left;
    font-size: 1.66em;
    width: 26.07%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.45em;
    color: rgb(35, 31, 32);
    font-style: italic;
    letter-spacing: 0.01em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 43;
    margin-top: 4em;
    margin-left: 1.75%;
    clear: none;
    font-family: adobe-garamond-pro;
    margin-right: 0%;
}

#ChapterQuoteAudio {
    float: left;
    font-size: 1.66em;
    width: 26.07%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.45em;
    color: rgb(35, 31, 32);
    font-style: italic;
    letter-spacing: 0.01em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 43;
    margin-top: 2em;
    margin-left: 1.75%;
    clear: none;
    font-family: adobe-garamond-pro;
    margin-right: 0%;
}

.StoryQuote {
    float: left;
    font-size: 1.66em;
    width: 85.22%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.45em;
    color: rgb(35, 31, 32);
    font-style: italic;
    letter-spacing: 0.01em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 43;
    margin-top: 2em;
    margin-left: 0%;
    clear: none;
    font-family: adobe-garamond-pro;
    margin-right: 0%;
    margin-left: 7.388014%
}

.StoryQuoteByline {
    float: none;
    font-size: 0.75em;
    line-height: 1.5em;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-family: futura-pt;
    letter-spacing: 0.1em;
}

.ChapterVideo {
    float: left;
    width: 96.95%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 45;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#RightVerticalBorder {
    float: left;
    height: 100%;
    width: 1px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 217, 212);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 44;
    margin-top: 0px;
    margin-left: 4.258262%;
    clear: none;
    margin-right: 0%;
    display: none;
}

#ChapterPictureGallery {
    float: left;
    height: 230px;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 34;
    margin-top: 1.8em;
    margin-left: 0%;
    clear: both;
    border: 1px solid rgb(153, 152, 152);
    margin-right: 0%;
    overflow-x: scroll;
}

#GalleryBumper {
	padding-top: 10px;
	padding-bottom: 10px;
	overflow-x: scroll; 
}

ol.GalleryPics {
	/* display: -webkit-box; */
    display: inline-flex;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
	padding-top: 9px;
	list-style: none;
    float: left;

	li {
		padding-right: 5px;
	}
}

ol.GalleryPics li:hover {
    opacity: 0.9;
    
}

#HorizontalDivider {
    float: left;
    height: 1px;
    width: 85.22%;
    background-color: rgb(255, 255, 255);
    border-width: 1px 0px 0px;
    border-style: solid;
    border-color: rgb(153, 152, 152);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 46;
    margin-top: 0.5em;
    margin-left: 7.312612%;
    clear: both;
}

#ChapterHeading {
    float: left;
    font-size: 1em;
    width: 87.29927%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 47;
    margin-top: 5em;
    margin-left: 7.386618%;
    clear: both;
}

#textspanlichapter9 {
    float: none;
    font-size: 1.6250812500000003em;
    line-height: normal;
    color: rgb(19, 19, 19);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanlichapter10 {
    float: none;
    font-size: 1.6250812500000003em;
    line-height: normal;
    color: rgb(19, 19, 19);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: underline;
    font-family: futura-pt;
}

#textspanlichapter11 {
    float: none;
    font-size: 1.6250812500000003em;
    line-height: normal;
    color: rgb(19, 19, 19);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanlichapter12 {
    float: none;
    font-size: 2.2501125em;
    line-height: normal;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanlichapter14 {
    float: none;
    font-size: 2.2501125em;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanlichapter15 {
    float: none;
    font-size: 2.2501125em;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspanlichapter17 {
    float: none;
    font-size: 2.2501125em;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanlichapter18 {
    float: none;
    font-size: 2.2501125em;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspanlichapter19 {
    float: none;
    font-size: 2.2501125em;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanlichapter1 {
    float: none;
    font-size: 6.437821875000001em;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.17em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanlichapter2 {
    float: none;
    font-size: 1.8750937500000002em;
    line-height: 1.75em;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 100;
    letter-spacing: 0.3em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanlichapter13 {
    float: none;
    font-size: 2.2501125em;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
}

#textspanlichapter16 {
    float: none;
    font-size: 2.2501125em;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
}

#bottommenuli {
    float: none;
    font-size: 2.2501125em;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
    padding-left: 10px;
    padding-right: 10px;
}

#textspanlichapter20 {
    float: none;
    font-size: 2.2501125em;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: futura-pt;
}

.ChapterVideoDiv {
    float: left;
    height: auto;
    margin-left: 7.386618%;
    margin-top: 1.496872%;
    clear: both;
    width: 57.39%;
    border-right-width: 1px;
    border-right-color: rgb(153, 152, 152);
    border-right-style: solid;
}

#textspanlichapter22 {
    float: none;
    font-size: 1.5em;
    line-height: 1em;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: 800;
    text-decoration: none;
    font-family: futura-pt;
    letter-spacing: 0.1em;
}

/* #textspanlichapter21 {
    float: none;
    font-size: 1em;
    line-height: 1.25em;
} */

#ChapterText {
    float: left;
    height: auto;
    margin-left: 7.388014%;
    margin-top: 2em;
    clear: both;
    width: 55.64%; /* used to be 55.6% */
    max-width: 700px;
}

#ChapterParagraphOne {
    float: left;
    font-size: 1.25em;
    width: 99.997848%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.66em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 41;
    margin: 2em 0% 0px;
    clear: both;
    color: #444343;
    font-style: normal;
    letter-spacing: 0.015em;
    text-decoration: none;
    font-family: adobe-garamond-pro;
}

#textspanlichapter25 {
    float: none;
    font-size: 2em;
    line-height: 45px;
    color: rgb(35, 31, 32);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.015em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspanlichapter {
    float: none;
    font-size: 6.437821875000001em;
    line-height: normal;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.17em;
    text-decoration: none;
    font-family: futura-pt;
}

#box {
    float: left;
    height: 19px;
    margin-left: 7.311862%;
    margin-top: 19.40625px;
    clear: both;
    width: 82.857143%;
    border: 2px solid rgb(255, 255, 255);
    display: none;
}

#text {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 19.50431%;
    margin-top: 7px;
    clear: none;
    min-height: 0px;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 1285px) {
    #ChapterQuote {
        margin-top: 3em;
    }

    #ChapterQuoteAudio {
        margin-top: 2em;
    }
}

@media only screen and (max-width: 1173px) {
    #ChapterQuote {
        margin: 2em 0% 0px 1.75%;
    }

    #ChapterQuoteAudio {
        margin: 2em 0% 0px 1.75%;
    }

    #ChapterSectionIndex {
        font-size: 1.2em;
    }

    #Timespan {
        font-size: 0.88em;
    }

    #textspanlichapter {
        float: none;
        font-size: 5em;
        line-height: 1em;
    }

    #textspanlichapter2 {
        font-size: 1.5em;
        line-height: 0.75em;
    }

    #ChapterParagraphOne {
        margin-top: 1.2em;
    }
}

@media only screen and (max-width: 1104px) {
    #ChapterQuote {
        font-size: 1.66em;
        margin: 3em 0% 0px 1.75%;
    }

    #ChapterQuoteAudio {
        font-size: 1.66em;
        margin: 2em 0% 0px 1.75%;
    }

    .StoryQuote {
        font-size: 1.66em;
    }


    #ThemeCoverPhotoProgress1 {
        height: auto;
    }

    #ThemeTitle {
        margin-top: 12em;
    }
}

@media only screen and (max-width: 1041px) {
    #ChapterQuote {
        margin-top: 2em;
        font-size: 1.5em;
    }

    #ChapterQuoteAudio {
        margin-top: 2em;
        font-size: 1.5em;
    }

    .StoryQuote {
        font-size: 1.5em;
    }    

    #textspanlichapter13 {
        font-size: 2em;
    }

    #textspanlichapter14 {
        font-size: 2em;
    }

    #textspanlichapter15 {
        font-size: 2em;
    }

    #textspanlichapter16 {
        font-size: 2em;
    }

    #bottommenuli {
        font-size: 2em;
    }

    #textspanlichapter17 {
        font-size: 2em;
    }

    #textspanlichapter18 {
        font-size: 2em;
    }

    #textspanlichapter19 {
        font-size: 2em;
    }

    #textspanlichapter20 {
        font-size: 2em;
    }

    #ThemeCoverPhotoProgress1 {
        height: auto;
    }
}

@media only screen and (max-width: 823px) {

	#ChapterText {
        width: 85.22%;
    }

    #intelligence_perseverance {
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .ChapterVideoDiv {
        border-right-width: 0px;
        width: 85.22%;
        margin-top: 1em;
    }

    .ChapterVideo {
        width: 100%;
        max-width: none;
        margin-top: 0em;
    }

    #HorizontalDivider {
        margin-top: 0.25em;
    }

    #ChapterQuote {
        margin-left: 7.39%;
        width: 85.22%;
        margin-top: 1em;
        font-size: 1.25em;
        line-height: 1.65em;
    }

    #ChapterQuoteAudio {
        margin-left: 7.39%;
        width: 85.22%;
        margin-top: 1em;
        font-size: 1.25em;
        line-height: 1.65em;
    }

    .StoryQuote {
        font-size: 1.25em;
        line-height: 1.65em;
        width: 85.22%
    }

    #TimespanBox {
        width: 25%;
        margin-left: 37.5%;
        margin-top: -12em;
        display: none;
    }

    #ChapterSectionIndex {
        margin-top: 2em;
        width: 100%;
        margin-left: 0%;
        text-align: center;
        font-size: 1em;
        margin-bottom: 25px;
    }

    #textspanlichapter13 {
        font-size: 1.7em;
    }

    #textspanlichapter14 {
        font-size: 1.7em;
    }

    #textspanlichapter15 {
        font-size: 1.7em;
    }

    #textspanlichapter16 {
        font-size: 1.7em;
    }

    #bottommenuli {
        font-size: 1.7em;
    }

    #textspanlichapter17 {
        font-size: 1.7em;
    }

    #textspanlichapter18 {
        font-size: 1.7em;
    }

    #textspanlichapter19 {
        font-size: 1.7em;
    }

    #textspanlichapter20 {
        font-size: 1.7em;
    }

    #textspanlichapter9 {
        font-size: 1.33em;
    }

    #textspanlichapter10 {
        font-size: 1.33em;
    }

    #textspanlichapter11 {
        font-size: 1.33em;
    }

/*    #textspanlichapter21 {
        font-size: 1.2em;
    } */

    #ThemeTitle {
        font-size: 0.88em;
        margin: 10em 0px 0px 0%;
    }

    #ThemeCoverPhotoProgress1 {
        height: auto;
    }

    #ChapterParagraphOne {
        margin: 1.2em 0% 0px;
        font-size: 1.25em;
        line-height: 1.66em;
        text-align: left;
        font-weight: normal;
        color: rgb(35, 31, 32);
        font-style: normal;
        letter-spacing: 0.015em;
        text-decoration: none;
        z-index: 41;
        font-family: adobe-garamond-pro;
    }

    #ChapterHeading {
        margin: 3em 0px 0px 7.39%;
    }

    #ChapterByline {
        font-size: 0.88em;
    }
}

@media only screen and (max-width: 658px) {
    #ChapterHeading {
        font-size: 0.8em;
    }

    #SEE_MORE {
        font-size: 0.8em;
    }

    #ThemeTitle {
        font-size: 0.75em;
    }

    #ThemeCoverPhotoProgress1 {
        height: auto;
    }

    #ChapterParagraphOne {
        font-size: 1.25em;
        line-height: 1.66em;
    }

    #ChapterParagraphTwo {
        font-size: 1.25em;
        line-height: 1.66em;
    }

    #ChapterByline {
        font-size: 0.75em;
    }

    #ChapterQuote {
        font-size: 1.1em;
        line-height: 1.45em;
    }

    #ChapterQuoteAudio {
        font-size: 1.1em;
        line-height: 1.45em;
    }

    .StoryQuote {
        font-size: 1.1em;
        line-height: 1.45em;
    }

    #textspanlichapter2 {
        font-size: 1.75em;
    }

    #bottommenuli {
        font-size: 1.4em;
    }

}

@media only screen and (max-width: 549px) {
    #ChapterByline {
        font-size: 0.75em;
    }

    #ChapterHeading {
        font-size: 0.7em;
    }

    #SEE_MORE {
        font-size: 0.7em;
    }

    #ThemeTitle {
        font-size: 0.66em;
        margin-top: 10em;
    }

    #ChapterSectionIndex {
        font-size: 1em;
        letter-spacing: 0.2em;
    }

    #ThemeCoverPhotoProgress1 {
        height: auto;
    }

    #box {
        float: left;
        height: 18px;
        margin-left: -1%;
        margin-top: 6%;
        clear: both;
        width: 82.857143%;
        border: 1px solid rgb(255, 255, 255);
        display: none;
    }

    #text {
        float: left;
        font-size: 1em;
        width: auto;
        height: auto;
        text-align: left;
        font-weight: normal;
        line-height: 1em;
        margin-left: 0%;
        margin-top: -2px;
        clear: none;
        min-height: 0px;
        color: rgb(255, 255, 255);
        font-family: futura-pt;
    }

    #textspanlichapter8 {
        float: none;
        font-size: 1.2em;
        line-height: 1em;
    }

    #textspanlichapter7 {
        float: none;
        font-size: 1.2em;
        line-height: 1em;
    }

    #textspanlichapter6 {
        float: none;
        font-size: 1.2em;
        line-height: 1em;
    }

    #ChapterQuote {
        font-size: 0.95em;
    }

    #ChapterQuoteAudio {
        font-size: 0.95em;
    }

    .StoryQuote {
        font-size: 0.95em;
    }

    #bottommenuli {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 443px) {
    #ThemeTitle {
        margin-top: 7.5em;
        font-size: 0.55em;
    }

    #ThemeCoverPhotoProgress1 {
        height: auto;
    }

    #ChapterSectionIndex {
		margin-bottom: 15px;
    }

    #bottommenuli {
        font-size: 1em;
    }

}

@media only screen and (max-width: 353px) {
    #ThemeTitle {
        font-size: 0.5em;
    }
}

.containguestbookquote {
    width: 30%;
    margin-left: 35%;
}

