#subtitler {
    float: none;
    font-size: 1.75em;
    line-height: normal;
    color: rgb(2, 2, 2);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: trajan-pro-3;
}