/* Edit */

.editstoryform {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
.editstory {
	margin: 0 auto;
	width: 50%;
	.field {
	width: 450px;
	}
	select {
	font-family: Georgia, serif; 
	}
}

#draft-content-italicize {
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 0.875em;
}


/* Show */

div.loverlist ol { /* this doesn't work...yet...*/
	text-align: left;
	padding-left: 0px;
	line-height: 18px;	
}

/* Show_Comments */

.story {
	width: 600px;
	margin: 0 auto;
	background-color: white;
	border: 2px solid #d1d2d4;
}
.storytop h4, h5 {
	font-family: Century Gothic, sans-serif;
	padding-bottom: 10px;
	margin-left: -40px;
}
.storytop p { 
	font-family: Century Gothic, sans-serif; 
} 

#storycontent {
	padding-left: 10px;
	padding-right: 50px;
	padding-bottom: 30px;
	line-height: 24px;
	font-family: Georgia, serif;
	font-size: 14px;

}

#storycontent2 {
	padding-left: 10px;
	margin-left: -40px;
	padding-right: 10px;
	padding-bottom: 30px;
	line-height: 24px;
	font-family: Georgia, serif;
	font-size: 14px;

}

.storybottom {
	border-top: 2px solid #d1d2d4;
	border-bottom: 2px solid #d1d2d4;
	padding-top: 8px;
	padding-left: 50px;
	min-height: 80px;
}
#storyimage {
	text-align: center;
	margin: 0 auto;
	width: 596px;
}

#storyimage2 {
	text-align: center;
	margin: 0 auto;
	width: 311px;
	margin-top: -10px;
}

.commentsection {
	width: 400px;
	margin: 0 auto;
	font-family: Georgia, serif; 
}
.postinfo {
	font-family: Century Gothic, sans-serif;
}
.love_form {
	
}

#drafttopic {
	font-size: 11px;

}

#showtitle {
	h1 {
	margin-top: 0px;
	}
}