
/* line 3, ../../app/assets/stylesheets/mission.css.scss */
.primaryContainer {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: 100%;
}

/* line 11, ../../app/assets/stylesheets/mission.css.scss */
#It_is_stories_that_move_us_along_give_us_shape_and_spark_our_ {
  float: left;
  font-size: 1.13em;
  width: 70.634921%;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: 30px;
  color: #fefdfd;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 2;
  font-family: trajan-pro-3;
  margin-top: 50px;
  margin-left: 14.484127%;
  clear: both;
}

/* line 33, ../../app/assets/stylesheets/mission.css.scss */
#Missionu {
  float: left;
  font-size: 3em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: 24px;
  color: #fcfbfb;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 12;
  font-family: trajan-pro-3;
  margin: 100px 0% 0px 14.49%;
  clear: none;
}

/* line 54, ../../app/assets/stylesheets/mission.css.scss */
#MISSIONu {
  float: left;
  font-size: 0.75em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: #181818;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 5;
  margin-top: 0px;
  margin-left: 18.873423%;
  clear: none;
  margin-right: 0%;
}

/* line 77, ../../app/assets/stylesheets/mission.css.scss */
#HIRE_USu {
  float: left;
  font-size: 0.75em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: #181818;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 4;
  margin-top: 0px;
  margin-left: 0.06171146%;
  clear: none;
  margin-right: 0%;
}

/* line 100, ../../app/assets/stylesheets/mission.css.scss */
#AnthoLogou {
  float: left;
  width: auto;
  max-width: 100%;
  height: auto;
  color: black;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 10;
  margin: 75px auto 0px;
  clear: none;
}

/* line 114, ../../app/assets/stylesheets/mission.css.scss */
#BLOGu {
  float: left;
  font-size: 0.75em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: #181818;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 7;
  margin-top: 0px;
  margin-left: 18.53401%;
  clear: none;
  margin-right: 0%;
}

/* line 137, ../../app/assets/stylesheets/mission.css.scss */
#METHODu {
  float: left;
  font-size: 0.75em;
  width: auto;
  height: auto;
  text-align: left;
  font-weight: normal;
  line-height: normal;
  color: #181818;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: jaf-domus-titling-web;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 6;
  margin-top: 0px;
  margin-left: 19.089413%;
  clear: none;
  margin-right: 0%;
}

/* line 160, ../../app/assets/stylesheets/mission.css.scss */
#boxu1 {
  float: none;
  height: 1514px;
  margin: 20px auto 0px;
  clear: none;
  width: 1008px;
  background-image: url("img/sfcitybg.png");
  background-attachment: scroll;
  background-size: auto;
  background-position: 0% 0%;
  background-repeat: repeat repeat;
}

/* line 173, ../../app/assets/stylesheets/mission.css.scss */
#boxu {
  float: none;
  height: auto;
  margin-left: auto;
  margin-top: 65px;
  clear: none;
  width: 33.967391%;
  margin-right: auto;
}

/* line 183, ../../app/assets/stylesheets/mission.css.scss */
#HIRE_USu:hover {
  opacity: 0.6;
}

/* line 187, ../../app/assets/stylesheets/mission.css.scss */
#MISSIONu:hover {
  opacity: 0.6;
}

/* line 191, ../../app/assets/stylesheets/mission.css.scss */
#METHODu:hover {
  opacity: 0.6;
}

/* line 195, ../../app/assets/stylesheets/mission.css.scss */
#BLOGu:hover {
  opacity: 0.6;
}

@media only screen and (max-width: 1346px) {
  /* line 200, ../../app/assets/stylesheets/mission.css.scss */
  #boxu {
    margin-top: 65px;
    margin-left: auto;
    clear: none;
    width: 48.706813%;
    margin-right: auto;
  }

  /* line 208, ../../app/assets/stylesheets/mission.css.scss */
  #boxu1 {
    width: 1008px;
    height: 1514px;
  }
}
@media only screen and (max-width: 1090px) {
  /* line 215, ../../app/assets/stylesheets/mission.css.scss */
  #boxu1 {
    width: 84.99968%;
    height: 1514px;
  }

  /* line 220, ../../app/assets/stylesheets/mission.css.scss */
  #AnthoLogou {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: none;
  }

  /* line 227, ../../app/assets/stylesheets/mission.css.scss */
  #boxu {
    margin-top: 48px;
    clear: none;
    width: 59.294862%;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 235, ../../app/assets/stylesheets/mission.css.scss */
  #BLOGu {
    display: block;
  }

  /* line 239, ../../app/assets/stylesheets/mission.css.scss */
  #METHODu {
    display: block;
  }

  /* line 243, ../../app/assets/stylesheets/mission.css.scss */
  #MISSIONu {
    display: block;
  }

  /* line 247, ../../app/assets/stylesheets/mission.css.scss */
  #HIRE_USu {
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  /* line 253, ../../app/assets/stylesheets/mission.css.scss */
  #AnthoLogou {
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    float: none;
    clear: none;
    width: 26%;
  }

  /* line 262, ../../app/assets/stylesheets/mission.css.scss */
  #boxu {
    margin: 40px auto 0px;
    clear: none;
    width: 63.324805%;
  }

  /* line 268, ../../app/assets/stylesheets/mission.css.scss */
  #boxu1 {
    margin: 20px auto 0px;
    clear: none;
    width: 84.996902%;
    height: 1514px;
  }

  /* line 275, ../../app/assets/stylesheets/mission.css.scss */
  #BLOGu {
    margin-left: 15%;
  }

  /* line 279, ../../app/assets/stylesheets/mission.css.scss */
  #MISSIONu {
    margin-left: 15%;
  }

  /* line 283, ../../app/assets/stylesheets/mission.css.scss */
  #METHODu {
    margin-left: 15%;
  }
}
@media only screen and (max-width: 588px) {
  /* line 289, ../../app/assets/stylesheets/mission.css.scss */
  #It_is_stories_that_move_us_along_give_us_shape_and_spark_our_ {
    font-size: 1em;
    margin: 40px 0px 0px 14.48%;
  }

  /* line 294, ../../app/assets/stylesheets/mission.css.scss */
  #Missionu {
    margin: 65px 0% 0px 14.49%;
  }

  /* line 298, ../../app/assets/stylesheets/mission.css.scss */
  #boxu {
    width: 81.28066%;
    margin-left: auto;
    margin-top: 40px;
    clear: none;
    margin-right: auto;
  }

  /* line 306, ../../app/assets/stylesheets/mission.css.scss */
  #boxu1 {
    margin: 20px auto 0px;
    clear: none;
    width: 84.994104%;
    height: 1514px;
    background-image: url("img/sfcitybg.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: 100% 0%;
    background-repeat: repeat repeat;
  }

  /* line 318, ../../app/assets/stylesheets/mission.css.scss */
  #AnthoLogou {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 456px) {
  /* line 324, ../../app/assets/stylesheets/mission.css.scss */
  #AnthoLogou {
    width: 110px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  /* line 331, ../../app/assets/stylesheets/mission.css.scss */
  #BLOGu {
    margin-left: 8%;
  }

  /* line 335, ../../app/assets/stylesheets/mission.css.scss */
  #MISSIONu {
    margin-left: 8%;
  }

  /* line 339, ../../app/assets/stylesheets/mission.css.scss */
  #METHODu {
    margin-left: 8%;
  }

  /* line 343, ../../app/assets/stylesheets/mission.css.scss */
  #It_is_stories_that_move_us_along_give_us_shape_and_spark_our_ {
    font-size: 0.78em;
    margin-top: 40px;
    margin-left: 14.476311%;
    clear: none;
  }

  /* line 350, ../../app/assets/stylesheets/mission.css.scss */
  #Missionu {
    margin-left: 10%;
    margin-right: 0px;
    float: left;
    clear: none;
  }

  /* line 357, ../../app/assets/stylesheets/mission.css.scss */
  #boxu1 {
    margin: 20px auto 0px;
    width: 84.98819%;
    height: 1514px;
  }

  /* line 363, ../../app/assets/stylesheets/mission.css.scss */
  #boxu {
    margin-top: 40px;
    margin-left: 65px;
    clear: none;
    width: 82.072129%;
    margin-right: auto;
  }
}
@media only screen and (max-width: 352px) {
  /* line 373, ../../app/assets/stylesheets/mission.css.scss */
  #boxu1 {
    margin-top: 18px;
    clear: none;
    width: 84.987571%;
    height: 1514px;
    background-image: url("img/sfcitybg.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: 50% 0%;
    background-repeat: repeat repeat;
  }

  /* line 385, ../../app/assets/stylesheets/mission.css.scss */
  #AnthoLogou {
    width: 110px;
    margin-top: 35px;
  }

  /* line 390, ../../app/assets/stylesheets/mission.css.scss */
  #boxu {
    width: 84.343928%;
    margin-left: 38px;
    margin-top: 40px;
    clear: none;
    margin-right: auto;
  }

  /* line 398, ../../app/assets/stylesheets/mission.css.scss */
  #Missionu {
    font-size: 2.66em;
  }
}
