.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#roos_guestbook_button {
    float: left;
    margin-left: 9.299101%;
    width: 81.36%;
    height: 150px;
        
}

#roos_guestbook_button:hover {
    opacity: 0.7;
}

#arrow_motif_right_copy {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin-top: 14px;
    margin-left: 10px;
    clear: none;
    margin-right: 0%;
}

#arrow_motif_left_copy {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin-top: 14px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#Watercolor {
    float: left;
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-image:url("img/Watercolor.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 4em 0px 0px 0%;
    clear: right;
    min-width: 0px;
    background-attachment: fixed;
    padding-bottom: 0em;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}

#GrayBG {
    float: left;
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #f4f4f4;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 4em 0px 0px 0%;
    clear: right;
    min-width: 0px;
    background-attachment: fixed;
    padding-bottom: 0em;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
}


#MWL_black {
    float: left;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: normal;
    color: rgb(4, 4, 4);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin-top: 0px;
    margin-left: 10px;
    clear: none;
    margin-right: 0%;
    min-width: 0px;
}

#Contribute_Your_Story {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 11px;
    margin-left: 16.796875%;
    clear: both;
}

#Sponsorship_Mod {
    float: right;
    font-size: 0.625em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(3, 3, 3);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 82;
    margin-top: 0em;
    margin-left: 0px;
    clear: both;
    margin-right: 9.296272%;
}

#Guestbook {
    float: left;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin-top: 50px;
    margin-left: 32.421875%;
    clear: none;
}

#Chronology_of_Events {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin-top: 11px;
    margin-left: 16.015625%;
    clear: both;
}

#Row_1_Container_copy_2 {
    float: left;
    height: 472px;
    width: 82.53493%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 30;
    margin-top: 646px;
    margin-left: -90.699253%;
    clear: none;
    display: none;
}

#Exhibit_5_Subtitle_Mod {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 42;
    margin-top: 9px;
    margin-left: 10.15625%;
    clear: both;
}

#Row_1_Container_copy {
    float: left;
    height: 472px;
    width: 82.53493%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 54;
    margin-top: 646px;
    margin-left: -90.699253%;
    clear: none;
    display: none;
}

#arrow_motif_right {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 84;
    margin-top: 10px;
    margin-left: 10px;
    clear: none;
}

#Rectangle_1_copy_6 {
    float: left;
    height: 139px;
    width: 25.548902%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin-top: 646px;
    margin-left: -90.699253%;
    clear: none;
    display: none;
}

#Timeline {
    float: left;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin-top: 49px;
    margin-left: 37.890625%;
    clear: none;
}

#Exhibit_5_Title_Mod {
    float: left;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 43;
    margin-top: 45px;
    margin-left: 25%;
    clear: none;
}

#Exhibit_2_Subtitle_Mod {
    float: none;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: 1.5em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 66;
    margin-top: 0.7em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding: 0px 5px 10%;
}

#arrow_motif_left {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 86;
    margin-top: 11px;
    margin-left: 0%;
    clear: none;
}

#Guestbook_Menu_Photo {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin-top: 646px;
    margin-left: -90.699253%;
    clear: none;
    display: none;
}

#Rectangle_1_copy_7 {
    float: left;
    height: 139px;
    width: 30.95526%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin-top: 330px;
    margin-left: -64.691657%;
    clear: none;
}

#Links_Relations {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 25;
    margin-top: 14px;
    margin-left: 26.5625%;
    clear: both;
}

#Exhibit_5_Rectangle_Mod {
    float: left;
    height: 139px;
    width: 30.95526%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 41;
    margin-top: 329px;
    margin-left: -65.175333%;
    clear: none;
}

#My_Hopes_for_Them {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 35;
    margin-top: 11px;
    margin-left: 23.828125%;
    clear: both;
}

#Exhibit_2_Title_Mod {
    float: none;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 67;
    margin-top: 0em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding-top: 10%;
}

#Parenting_as_a_Working_Widow {
    float: none;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: 1.5em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 59;
    margin-top: 0.7em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding: 0px 5px 10%;
}

#Museum_Subtitle_Mod {
    float: left;
    font-size: 1.45em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 100;
    line-height: 1em;
    color: rgb(23, 23, 23);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 85;
    margin-top: 0px;
    margin-left: 10px;
    clear: none;
}

#Exhibit_Container_copy_8 {
    float: left;
    height: 471px;
    width: 30.592503%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin-top: 1px;
    margin-left: 3.143894%;
    clear: none;
}

#Exhibit_Container_copy_7 {
    float: left;
    height: 471px;
    width: 25.249501%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin-top: 646px;
    margin-left: -90.699253%;
    clear: none;
    display: none;
}

#Family_Tree {
    float: left;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 26;
    margin-top: 49px;
    margin-left: 33.984375%;
    clear: none;
}

#Exhibit_Container_copy_4 {
    float: left;
    height: 471px;
    width: 30.592503%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 45;
    margin-top: 1px;
    margin-left: -30.352554%;
    clear: none;
}

#Descendants {
    float: left;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 36;
    margin-top: 47px;
    margin-left: 31.25%;
    clear: none;
}

#Driving_Out_Darkness {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 49;
    margin-top: 11px;
    margin-left: 20.703125%;
    clear: both;
}

#Exhibit_2_Rectangle_Mod {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 65;
    margin: 0px;
    clear: none;
    min-width: 0px;
}

#Motherhood_1 {
    float: none;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 60;
    margin-top: 0em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding-top: 10%;
}

#Exhibit_Subtitle_Mod {
    float: none;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: 1.5em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 73;
    margin-top: 0.7em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding: 0px 5px 10%;
}

#Row_1_Container {
    float: left;
    height: auto;
    width: 81.4%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 78;
    margin: 3em 0px 0px 9.3%;
    clear: none;
}

#Subtitle_Container {
    float: none;
    height: auto;
    width: 448px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 87;
    margin: 0px auto;
    clear: both;
}

#_4HowWeMet {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin-top: 1px;
    margin-left: 3.506651%;
    clear: none;
    display: none;
}

#Rectangle_1_copy_8 {
    float: left;
    height: 139px;
    width: 30.95526%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 24;
    margin-top: 330px;
    margin-left: -99.153567%;
    clear: none;
}

#tea_ceremony {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 44;
    margin-top: 0px;
    margin-left: 34.824667%;
    clear: none;
}

#Rectangle_1_copy_2 {
    float: left;
    height: 139px;
    width: 30.95526%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 34;
    margin-top: 328px;
    margin-left: -30.592503%;
    clear: none;
}

#Purpose {
    float: left;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    margin-top: 45px;
    margin-left: 35.9375%;
    clear: none;
}

#Exhibit_Container_copy_3 {
    float: left;
    height: auto;
    width: 31.2%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 69;
    margin: 0px 0px 0px 3.2%;
    clear: none;
}

#Rectangle_1 {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 58;
    margin: 0px;
    clear: none;
    min-width: 0px;
}

#Exhibit_Title_Mod {
    float: none;
    font-size: 1.25em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 74;
    margin-top: 0em;
    margin-left: auto;
    clear: none;
    min-width: 0px;
    margin-right: auto;
    padding-top: 10%;
}

#Subject_Name_Mod {
    float: left;
    font-size: 8.25em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 0.8em;
    color: rgb(2, 2, 2);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 88;
    margin-top: 1.66em;
    margin-left: 0%;
    clear: none;
    margin-right: 0px;
    min-width: 0px;
}

#Subject_Name_Mod_Roos {
    float: left;
    font-size: 7em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 0.8em;
    color: rgb(2, 2, 2);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 88;
    margin-top: 1.66em;
    margin-left: 0%;
    clear: none;
    margin-right: 0px;
    min-width: 0px;
    padding-bottom: 3px;
}

#Family_Photo {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 27;
    margin-top: 0px;
    margin-left: 0.60459492%;
    clear: none;
}

#Exhibit_Container_copy_5 {
    float: left;
    height: 471px;
    width: 30.592503%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 38;
    margin-top: 1px;
    margin-left: 3.145783%;
    clear: none;
}

#Rectangle_1_copy_5 {
    float: left;
    height: 139px;
    width: 30.95526%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 48;
    margin-top: 329px;
    margin-left: -99.758162%;
    clear: none;
}

#Exhibit_2_Photo_Mod {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 68;
    margin: 0px;
    clear: none;
    min-width: 0px;
}

#Motherhood_I_Menu_Photo {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 61;
    margin: 0px;
    clear: none;
    min-width: 0px;
}

#Exhibit_Rectangle_Mod {
    float: left;
    height: auto;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 72;
    clear: none;
    min-height: 0px;
    margin: 0px;
    min-width: 0px;
}

#Museum_Cover_Photo_Mod {
    float: left;
    width: 81.360947%;
    height: 2730px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 83;
    background-image:url("img/Museum%20Cover%20Photo%20Mod.png");
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 6.375em;
    margin-left: 9.298415%;
    clear: none;
    background-attachment: inherit;
    min-width: 0px;
    max-width: none;
    min-height: 0px;
    background-position: 50% 100%;
    background-repeat: no-repeat no-repeat;
}

#Museum_Cover_Photo_Mod_Roos {
    float: left;
    width: 81.360947%;
    height: 2030px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 83;
    background-image:url("img/roosrooscover5.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 6.375em;
    margin-left: 9.298415%;
    clear: none;
    background-attachment: inherit;
    min-width: 0px;
    max-width: none;
    min-height: 0px;
    background-position: 50% 100%;
    background-repeat: no-repeat no-repeat;
}

#Exhibit_Container_copy_6 {
    float: left;
    height: 471px;
    width: 25.249501%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 28;
    margin-top: 646px;
    margin-left: -90.699253%;
    clear: none;
    display: none;
}

#Exhibit_6_Photo_Mod {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 37;
    margin-top: 25px;
    margin-left: 31.137725%;
    clear: none;
    display: none;
}

#Exhibit_Container_copy {
    float: left;
    height: 471px;
    width: 25.249501%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 52;
    margin-top: 646px;
    margin-left: -90.699253%;
    clear: none;
    display: none;
}

#Exhibit_Container_copy_2 {
    float: left;
    height: auto;
    width: 31.2%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 62;
    margin: 0px 0px 0px 3.2%;
    clear: none;
}

#Exhibit_Photo_Mod {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 75;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    min-width: 0px;
}

#political_speech {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 51;
    margin-top: 646px;
    margin-left: -90.699253%;
    clear: none;
    display: none;
}

#Exhibit_Container {
    float: left;
    height: auto;
    width: 31.2%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 76;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#MWL_Box_Mod {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 10em;
    clear: none;
    width: 441.64px;
    display: block;
    min-width: 0px;
    margin-right: auto;
}

#Exhibit_Container_copy_2:hover {
    opacity: 0.7;
}

#Exhibit_Container:hover {
    opacity: 0.7;
}

#Exhibit_Container_copy_3:hover {
    opacity: 0.7;
}

#Exhibit_Container_copy_2:active {
    opacity: 0.5;
}

#Exhibit_Container:active {
    opacity: 0.5;
}

#Exhibit_Container_copy_3:active {
    opacity: 0.5;
}

#Row_2_Container {
    float: left;
    height: auto;
    width: 81.4%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 78;
    margin-top: 3em;
    margin-left: 9.258431%;
    clear: both;
    margin-right: 0%;
}

#Exhibit_Container1:hover {
    opacity: 0.7;
}

#Exhibit_Container1:active {
    opacity: 0.5;
}

#Exhibit_Container1 {
    float: left;
    height: auto;
    width: 31.2%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 76;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#Exhibit_Photo_Mod1 {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 75;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    min-width: 0px;
}

#Exhibit_Rectangle_Mod1 {
    float: left;
    height: auto;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 72;
    clear: none;
    min-height: 0px;
    margin: 0px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
}

#Exhibit_Title_Mod1 {
    float: none;
    font-size: 1.25em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 74;
    margin-top: 0em;
    margin-left: auto;
    clear: none;
    min-width: 0px;
    margin-right: auto;
    padding-top: 10%;
}

#Exhibit_Subtitle_Mod1 {
    float: none;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: 1.5em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 73;
    margin-top: 0.7em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding: 0px 5px 10%;
}

#Exhibit_Container_copy_21:hover {
    opacity: 0.7;
}

#Exhibit_Container_copy_21:active {
    opacity: 0.5;
}

#Exhibit_Container_copy_21 {
    float: left;
    height: auto;
    width: 31.2%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 62;
    margin: 0px 0px 0px 3.2%;
    clear: none;
}

#Exhibit_2_Photo_Mod1 {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 68;
    margin: 0px;
    clear: none;
    min-width: 0px;
}

#Exhibit_2_Rectangle_Mod1 {
    float: left;
    height: auto;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 65;
    margin: 0px;
    clear: none;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
}

#Exhibit_2_Title_Mod1 {
    float: none;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 67;
    margin-top: 0em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding-top: 10%;
}

#Exhibit_2_Subtitle_Mod1 {
    float: none;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: 1.5em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 66;
    margin-top: 0.7em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding: 0px 5px 10%;
}

#Exhibit_Container_copy_31:hover {
    opacity: 0.7;
}

#Exhibit_Container_copy_31:active {
    opacity: 0.5;
}

#Exhibit_Container_copy_31 {
    float: left;
    height: auto;
    width: 31.2%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 69;
    margin: 0px 0px 0px 3.2%;
    clear: none;
}

#Motherhood_I_Menu_Photo1 {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 61;
    margin: 0px;
    clear: none;
    min-width: 0px;
}

#Rectangle_11 {
    float: left;
    height: auto;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 58;
    margin: 0px;
    clear: none;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
}

#Motherhood_11 {
    float: none;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 60;
    margin-top: 0em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding-top: 10%;
}

#Parenting_as_a_Working_Widow1 {
    float: none;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: 1.5em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 59;
    margin-top: 0.7em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding: 0px 5px 10%;
}

#Row_3_Container {
    float: left;
    height: auto;
    width: 81.4%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 78;
    margin-top: 3em;
    margin-left: 9.301546%;
    clear: both;
    margin-right: 0%;
    padding-bottom: 3em;
}

#Exhibit_Container2:hover {
    opacity: 0.7;
}

#Exhibit_Container2:active {
    opacity: 0.5;
}

#Exhibit_Container2 {
    float: left;
    height: auto;
    width: 31.2%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 76;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
}

#Exhibit_Photo_Mod2 {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 75;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    min-width: 0px;
}

#Exhibit_Rectangle_Mod2 {
    float: left;
    height: auto;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 72;
    clear: none;
    min-height: 0px;
    margin: 0px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
}

#Exhibit_Title_Mod2 {
    float: none;
    font-size: 1.25em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 74;
    margin-top: 0em;
    margin-left: auto;
    clear: none;
    min-width: 0px;
    margin-right: auto;
    padding-top: 10%;
    padding-left: 10px;
}

#Exhibit_Subtitle_Mod2 {
    float: none;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: 1.5em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 73;
    margin-top: 0.7em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding: 0px 5px 10%;
}

#Exhibit_Container_copy_22:hover {
    opacity: 0.7;
}

#Exhibit_Container_copy_22:active {
    opacity: 0.5;
}

#Exhibit_Container_copy_22 {
    float: left;
    height: auto;
    width: 31.2%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 62;
    margin: 0px 0px 0px 3.2%;
    clear: none;
}

#Exhibit_2_Photo_Mod2 {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 68;
    margin: 0px;
    clear: none;
    min-width: 0px;
}

#Exhibit_2_Rectangle_Mod2 {
    float: left;
    height: auto;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 65;
    margin: 0px;
    clear: none;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
}

#Exhibit_2_Title_Mod2 {
    float: none;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 67;
    margin-top: 0em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding-top: 10%;
}

#Exhibit_2_Subtitle_Mod2 {
    float: none;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: 1.5em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 66;
    margin-top: 0.7em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding: 0px 5px 10%;
}

#Exhibit_Container_copy_32:hover {
    opacity: 0.7;
}

#Exhibit_Container_copy_32:active {
    opacity: 0.5;
}

#Exhibit_Container_copy_32 {
    float: left;
    height: auto;
    width: 31.2%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 69;
    margin: 0px 0px 0px 3.2%;
    clear: none;
}

#Motherhood_I_Menu_Photo2 {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 61;
    margin: 0px;
    clear: none;
    min-width: 0px;
}

#Rectangle_12 {
    float: left;
    height: auto;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 58;
    margin: 0px;
    clear: none;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
}

#Rectangle_12_Roos {
    float: left;
    height: 100px;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 58;
    margin: 0px;
    clear: none;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
}

#Motherhood_12 {
    float: none;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 60;
    margin-top: 0em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding-top: 10%;
}

#GuestbookButton {
    float: none;
    font-size: 1.25em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(36, 35, 35);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: 'Garamond Premier Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 60;
    margin-top: 0em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding-top: 30px;
}

#Parenting_as_a_Working_Widow2 {
    float: none;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: 1.5em;
    color: rgb(149, 147, 147);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: 'Domus Titling';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 59;
    margin-top: 0.7em;
    margin-left: auto;
    clear: none;
    margin-right: auto;
    padding: 0px 5px 10%;
}

#Mod_Menu_Bottom {
    float: left;
    height: auto;
    margin: 0px 0px 0px 0%;
    clear: left;
    width: 100%;
    min-width: 0px;
}

/* RECTANGLE MENU FIX */

#Exhibit_Rectangle_Mod {
        height: 160px;
}

#Exhibit_2_Rectangle_Mod {
    height: 160px;
}

#Rectangle_1 {
    height: 160px;
}

#Exhibit_Rectangle_Mod1 {
    height: 160px;
}

#Exhibit_2_Rectangle_Mod1 {
    height: 160px;
}

#Rectangle_11 {
    height: 160px;
}

#Exhibit_Rectangle_Mod2 {
    height: 160px;
}

#Exhibit_2_Rectangle_Mod2 {
    height: 160px;
}

#Rectangle_12 {
    height: 160px;
}

/* RECTANGLE MENU FIX END */

@media only screen and (max-width: 1898px) {
    #Museum_Cover_Photo_Mod {
        height: 2430px;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 2430px;
    }

    #Watercolor {
        height: auto;
        background-image:url("img/Watercolor.png");
        background-attachment: fixed;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 0%;
        background-repeat: no-repeat no-repeat;
    }

    #Row_3_Container {
        padding-bottom: 3em;
    }
}

@media only screen and (max-width: 1666px) {
    #Museum_Cover_Photo_Mod {
        height: 2130px;
        margin-top: 7em;
        margin-left: 9.299101%;
        clear: none;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 2130px;
        margin-top: 7em;
        margin-left: 9.299101%;
        clear: none;
    }

    #Subject_Name_Mod {
        font-size: 8em;
    }

    #Subject_Name_Mod_Roos {
        font-size: 6em;
    }

    #Museum_Subtitle_Mod {
        font-size: 1.55em;
        margin-top: -3px;
        margin-left: 9px;
        clear: none;
    }

    #arrow_motif_right {
        margin-top: 9px;
        margin-left: 8px;
        clear: none;
    }

    #arrow_motif_left {
        margin-top: 10px;
        margin-left: 0%;
        clear: none;
    }

    #Subtitle_Container {
        width: 467px;
    }

    #Exhibit_Subtitle_Mod {
        padding-bottom: 10%;
    }

    #Exhibit_2_Rectangle_Mod {
        height: auto;
    }

    #Rectangle_1 {
        height: auto;
    }

    #Exhibit_Rectangle_Mod {
        height: auto;
    }

    #Exhibit_2_Subtitle_Mod {
        padding-bottom: 10%;
    }

    #Parenting_as_a_Working_Widow {
        padding-bottom: 10%;
    }

    #Exhibit_Rectangle_Mod1 {
        height: auto;
    }

    #Exhibit_Subtitle_Mod1 {
        padding-bottom: 10%;
    }

    #Exhibit_2_Rectangle_Mod1 {
        height: auto;
    }

    #Exhibit_2_Subtitle_Mod1 {
        padding-bottom: 10%;
    }

    #Rectangle_11 {
        height: auto;
    }

    #Parenting_as_a_Working_Widow1 {
        padding-bottom: 10%;
    }

    #Exhibit_Rectangle_Mod2 {
        height: auto;
    }

    #Exhibit_Subtitle_Mod2 {
        padding-bottom: 10%;
    }

    #Exhibit_2_Rectangle_Mod2 {
        height: auto;
    }

    #Exhibit_2_Subtitle_Mod2 {
        padding-bottom: 10%;
    }

    #Rectangle_12 {
        height: auto;
    }

    #Parenting_as_a_Working_Widow2 {
        padding-bottom: 10%;
    }

    #Exhibit_Rectangle_Mod {
        height: 140px;
    }

    #Exhibit_2_Rectangle_Mod {
        height: 140px;
    }

    #Rectangle_1 {
        height: 140px;
    }

    #Exhibit_Rectangle_Mod1 {
        height: 140px;
    }

    #Exhibit_2_Rectangle_Mod1 {
        height: 140px;
    }

    #Rectangle_11 {
        height: 140px;
    }

    #Exhibit_Rectangle_Mod2 {
        height: 140px;
    }

    #Exhibit_2_Rectangle_Mod2 {
        height: 140px;
    }

    #Rectangle_12 {
        height: 140px;
    }

}

@media only screen and (max-width: 1400px) {
    #Museum_Cover_Photo_Mod {
        height: 1880px;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 1880px;
    }

    #Subject_Name_Mod {
        font-size: 7em;
    }

    #Subject_Name_Mod_Roos {
        font-size: 4.5em;
    }

    #Museum_Subtitle_Mod {
        font-size: 1.1em;
        margin-top: 0px;

    }

    #Museum_Subtitle_Mod_Roos {
        font-size: 1.1em;
        margin-top: 0px;
    }

    #arrow_motif_right {
        margin-top: 7px;
        margin-left: 8px;
        clear: none;
    }

    #arrow_motif_left {
        margin-top: 8px;
        margin-left: 0%;
        clear: none;
    }

    #Subtitle_Container {
        width: 423px;
    }

    #Subtitle_Container_Roos {
        width: 363px;
    }
}

@media only screen and (max-width: 1290px) {
    #Museum_Cover_Photo_Mod {
        height: 1730px;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 1730px;
    }

    #Parenting_as_a_Working_Widow {
        padding-bottom: 12%;
    }

    #Exhibit_2_Subtitle_Mod {
        padding-bottom: 12%;
    }

    #Exhibit_Subtitle_Mod {
        padding-bottom: 12%;
    }

    #Exhibit_Subtitle_Mod1 {
        padding-bottom: 12%;
    }

    #Exhibit_2_Subtitle_Mod1 {
        padding-bottom: 12%;
    }

    #Parenting_as_a_Working_Widow1 {
        padding-bottom: 12%;
    }

    #Exhibit_Subtitle_Mod2 {
        padding-bottom: 12%;
    }

    #Exhibit_2_Subtitle_Mod2 {
        padding-bottom: 12%;
    }

    #Parenting_as_a_Working_Widow2 {
        padding-bottom: 12%;
    }

    #Watercolor {
        background-image:url("img/Watercolor.png");
        background-attachment: fixed;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 0% 0%;
        background-repeat: no-repeat no-repeat;
    }

    #MWL_Box_Mod {
        margin-top: 10em;
        margin-left: auto;
        clear: left;
        width: 441px;
        margin-right: auto;
    }
}

@media only screen and (max-width: 1190px) {
    #Museum_Cover_Photo_Mod {
        height: 1630px;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 1630px;
    }

    #Parenting_as_a_Working_Widow {
        padding-bottom: 15%;
    }

    #Exhibit_2_Subtitle_Mod {
        padding-bottom: 15%;
    }

    #Exhibit_Subtitle_Mod {
        padding-bottom: 15%;
    }

    #Exhibit_Title_Mod {
        padding-top: 12%;
    }

    #Exhibit_2_Title_Mod {
        padding-top: 12%;
    }

    #Motherhood_1 {
        padding-top: 12%;
    }

    #Exhibit_Title_Mod1 {
        padding-top: 12%;
    }

    #Exhibit_Subtitle_Mod1 {
        padding-bottom: 15%;
    }

    #Exhibit_2_Title_Mod1 {
        padding-top: 12%;
    }

    #Exhibit_2_Subtitle_Mod1 {
        padding-bottom: 15%;
    }

    #Motherhood_11 {
        padding-top: 12%;
    }

    #Parenting_as_a_Working_Widow1 {
        padding-bottom: 15%;
    }

    #Exhibit_Title_Mod2 {
        padding-top: 12%;
    }

    #Exhibit_Subtitle_Mod2 {
        padding-bottom: 15%;
    }

    #Exhibit_2_Title_Mod2 {
        padding-top: 12%;
    }

    #Exhibit_2_Subtitle_Mod2 {
        padding-bottom: 15%;
    }

    #Motherhood_12 {
        padding-top: 12%;
    }

    #Parenting_as_a_Working_Widow2 {
        padding-bottom: 15%;
    }

    #Watercolor {
        background-image:url("img/Watercolor.png");
        background-attachment: fixed;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 0%;
        background-repeat: no-repeat no-repeat;
    }

    #MWL_Box_Mod {
        margin-top: 6em;
    }

    #Row_3_Container {
        margin-top: 3em;
        margin-left: 9.3%;
        clear: both;
    }

    #Row_2_Container {
        margin-left: 9.3%;
    }

    #Exhibit_Rectangle_Mod {
        height: 130px;
    }

    #Exhibit_2_Rectangle_Mod {
        height: 130px;
    }

    #Rectangle_1 {
        height: 130px;
    }

    #Exhibit_Rectangle_Mod1 {
        height: 130px;
    }

    #Exhibit_2_Rectangle_Mod1 {
        height: 130px;
    }

    #Rectangle_11 {
        height: 130px;
    }

    #Exhibit_Rectangle_Mod2 {
        height: 130px;
    }

    #Exhibit_2_Rectangle_Mod2 {
        height: 130px;
    }

    #Rectangle_12 {
        height: 130px;
    }

}

@media only screen and (max-width: 1070px) {
    #Museum_Cover_Photo_Mod {
        height: 1460px;
        margin-top: 6.5em;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 1460px;
        margin-top: 3.5em;
    }
}

@media only screen and (max-width: 950px) {
    #Museum_Cover_Photo_Mod {
        height: 1330px;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 1330px;
    }

    #Subject_Name_Mod {
        font-size: 6.5em;
    }

    #Subject_Name_Mod_Roos {
        font-size: 3.75em;
    }

    #Museum_Subtitle_Mod {
        font-size: 1.25em;
    }

    #arrow_motif_right {
        margin-top: 6px;
        margin-left: 8px;
        clear: none;
    }

    #arrow_motif_left {
        margin-top: 7px;
        margin-left: 0%;
        clear: none;
    }

    #Subtitle_Container {
        width: 399px;
    }

    #Exhibit_Rectangle_Mod {
        height: 120px;
    }

    #Exhibit_2_Rectangle_Mod {
        height: 120px;
    }

    #Rectangle_1 {
        height: 120px;
    }

    #Exhibit_Rectangle_Mod1 {
        height: 120px;
    }

    #Exhibit_2_Rectangle_Mod1 {
        height: 120px;
    }

    #Rectangle_11 {
        height: 120px;
    }

    #Exhibit_Rectangle_Mod2 {
        height: 120px;
    }

    #Exhibit_2_Rectangle_Mod2 {
        height: 120px;
    }

    #Rectangle_12 {
        height: 120px;
    }

    #MWL_black {
        font-size: 1em;
        margin-top: 0px;
        margin-left: 8px;
        clear: none;
    }

    #arrow_motif_right_copy {
        margin-top: 10px;
        margin-left: 8px;
        clear: none;
    }

    #arrow_motif_left_copy {
        margin-top: 10px;
        margin-left: 0%;
        clear: none;
    }

    #MWL_Box_Mod {
        width: 363px;
    }
}

@media only screen and (max-width: 850px) {
    #Museum_Cover_Photo_Mod {
        height: 1170px;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 1170px;
    }

    #Subject_Name_Mod {
        font-size: 5.5em;
    }

    #Subject_Name_Mod_Roos {
        font-size: 3.25em;
    }

    #Museum_Subtitle_Mod {
        font-size: 1.1em;
    }

    #arrow_motif_right {
        margin-top: 4px;
        margin-left: 8px;
        clear: none;
    }

    #arrow_motif_left {
        margin-top: 5px;
        margin-left: 0%;
        clear: none;
    }

    #Subtitle_Container {
        width: 367px;
    }

    #Exhibit_Title_Mod {
        padding-top: 15%;
    }

    #Exhibit_2_Title_Mod {
        padding-top: 15%;
    }

    #Motherhood_1 {
        padding-top: 15%;
    }

    #Exhibit_Title_Mod1 {
        padding-top: 15%;
    }

    #Exhibit_2_Title_Mod1 {
        padding-top: 15%;
    }

    #Motherhood_11 {
        padding-top: 15%;
    }

    #Exhibit_Title_Mod2 {
        padding-top: 15%;
    }

    #Exhibit_2_Title_Mod2 {
        padding-top: 15%;
    }

    #Motherhood_12 {
        padding-top: 15%;
    }

    #Watercolor {
        background-image:url("img/Watercolor.png");
        background-attachment: fixed;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 0%;
        background-repeat: no-repeat no-repeat;
    }
}

@media only screen and (max-width: 750px) {
    #Museum_Cover_Photo_Mod {
        height: 1040px;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 1040px;
    }

    #Subject_Name_Mod {
        font-size: 5em;
    }

    #Subject_Name_Mod_Roos {
        font-size: 2.75em;
    }
}

@media only screen and (max-width: 650px) {
    
    #Rectangle_12_Roos {
        height: 100px;
    }

    #Museum_Cover_Photo_Mod {
        height: 920px;
        margin-top: 5.5em;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 920px;
        margin-top: 3em;
    }

    #Exhibit_Title_Mod {
        font-size: 1.1em;
    }

    #Exhibit_2_Title_Mod {
        font-size: 1.1em;
    }

    #Motherhood_1 {
        font-size: 1.1em;
    }

    #Exhibit_Subtitle_Mod {
        font-size: 0.65em;
    }

    #Exhibit_2_Subtitle_Mod {
        font-size: 0.65em;
    }

    #Parenting_as_a_Working_Widow {
        font-size: 0.65em;
    }

    #Exhibit_Rectangle_Mod {
        height: 110px;
    }

    #Exhibit_2_Rectangle_Mod {
        height: 110px;
    }

    #Rectangle_1 {
        height: 110px;
    }

    #Exhibit_Rectangle_Mod1 {
        height: 110px;
    }

    #Exhibit_Title_Mod1 {
        font-size: 1.1em;
    }

    #Exhibit_Subtitle_Mod1 {
        font-size: 0.65em;
    }

    #Exhibit_2_Rectangle_Mod1 {
        height: 110px;
    }

    #Exhibit_2_Title_Mod1 {
        font-size: 1.1em;
    }

    #Exhibit_2_Subtitle_Mod1 {
        font-size: 0.65em;
    }

    #Rectangle_11 {
        height: 110px;
    }

    #Motherhood_11 {
        font-size: 1.1em;
    }

    #Parenting_as_a_Working_Widow1 {
        font-size: 0.65em;
    }

    #Exhibit_Rectangle_Mod2 {
        height: 110px;
    }

    #Exhibit_Title_Mod2 {
        font-size: 1.1em;
    }

    #Exhibit_Subtitle_Mod2 {
        font-size: 0.65em;
    }

    #Exhibit_2_Rectangle_Mod2 {
        height: 110px;
    }

    #Exhibit_2_Title_Mod2 {
        font-size: 1.1em;
    }

    #Exhibit_2_Subtitle_Mod2 {
        font-size: 0.65em;
    }

    #Rectangle_12 {
        height: 110px;
    }

    #Motherhood_12 {
        font-size: 1.1em;
    }

    #Parenting_as_a_Working_Widow2 {
        font-size: 0.65em;
    }

    #MWL_black {
        font-size: 0.7em;
    }

    #arrow_motif_right_copy {
        width: 30px;
        margin-top: 7px;
        margin-left: 8px;
        clear: none;
    }

    #arrow_motif_left_copy {
        width: 30px;
        margin-top: 7px;
        margin-left: 0%;
        clear: none;
    }

    #MWL_Box_Mod {
        width: 255px;
    }
}

@media only screen and (max-width: 600px) {
    #Subject_Name_Mod {
        font-size: 4em;
    }

    #Subject_Name_Mod_Roos {
        font-size: 2.25em;
    }

    #Museum_Subtitle_Mod {
        font-size: 0.95em;
        margin-top: -3px;
        margin-left: 7px;
        clear: none;
    }

    #arrow_motif_left {
        width: 38px;
        margin-top: 4px;
        margin-left: 0%;
        clear: none;
    }

    #arrow_motif_right {
        width: 38px;
        margin-top: 3px;
        margin-left: 6px;
        clear: none;
    }

    #Subtitle_Container {
        width: 310px;
    }

    #Museum_Cover_Photo_Mod {
        height: 820px;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 820px;
    }
}

@media only screen and (max-width: 550px) {
    #Museum_Cover_Photo_Mod {
        height: 770px;
        margin-top: 4.8em;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 770px;
        margin-top: 2.5em;
    }
}

@media only screen and (max-width: 500px) {
    #Subject_Name_Mod {
        font-size: 3.5em;
    }

    #Subject_Name_Mod_Roos {
        font-size: 1.75em;
    }

    #Museum_Subtitle_Mod {
        font-size: 0.75em;
    }

    #arrow_motif_right {
        width: 28px;
    }

    #arrow_motif_left {
        width: 28px;
    }

    #Subtitle_Container {
        width: 244px;
    }

    #Museum_Cover_Photo_Mod {
        height: 690px;
        margin-top: 4em;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 690px;
        margin-top: 2em;
    }

    #Exhibit_Container {
        width: 100%;
    }

    #Exhibit_Photo_Mod {
        width: 60%;
    }

    #Exhibit_Rectangle_Mod {
        width: 40%;
        height: 100%;
    }

    #Exhibit_Container_copy_2 {
        width: 100%;
        margin-left: 0%;
        margin-top: 1.5em;
    }

    #Exhibit_2_Photo_Mod {
        width: 60%;
    }

    #Exhibit_2_Rectangle_Mod {
        width: 40%;
        height: 100%;
    }

    #Exhibit_Container_copy_3 {
        margin-left: 0%;
        margin-top: 1.5em;
        width: 100%;
    }

    #Rectangle_1 {
        width: 40%;
    }

    #Motherhood_I_Menu_Photo {
        width: 60%;
    }

    #Watercolor {
        height: auto;
    }

    #Exhibit_Container1 {
        width: 100%;
    }

    #Exhibit_Photo_Mod1 {
        width: 60%;
    }

    #Exhibit_Rectangle_Mod1 {
        width: 40%;
        height: 100%;
    }

    #Exhibit_Container_copy_21 {
        width: 100%;
        margin-left: 0%;
        margin-top: 1.5em;
    }

    #Exhibit_2_Photo_Mod1 {
        width: 60%;
    }

    #Exhibit_2_Rectangle_Mod1 {
        width: 40%;
        height: 100%;
    }

    #Exhibit_Container_copy_31 {
        margin-left: 0%;
        margin-top: 1.5em;
        width: 100%;
    }

    #Motherhood_I_Menu_Photo1 {
        width: 60%;
    }

    #Rectangle_11 {
        width: 40%;
    }

    #Exhibit_Container2 {
        width: 100%;
    }

    #Exhibit_Photo_Mod2 {
        width: 60%;
    }

    #Exhibit_Rectangle_Mod2 {
        width: 40%;
        height: 100%;
    }

    #Exhibit_Container_copy_22 {
        width: 100%;
        margin-left: 0%;
        margin-top: 1.5em;
    }

    #Exhibit_2_Photo_Mod2 {
        width: 60%;
    }

    #Exhibit_2_Rectangle_Mod2 {
        width: 40%;
        height: 100%;
    }

    #Exhibit_Container_copy_32 {
        margin-left: 0%;
        margin-top: 1.5em;
        width: 100%;
    }

    #Motherhood_I_Menu_Photo2 {
        width: 60%;
    }

    #Rectangle_12 {
        width: 40%;
        height: 100%;
    }

    #MWL_Box_Mod {
        margin-top: 4em;
    }
}

@media only screen and (max-width: 450px) {
    #Museum_Cover_Photo_Mod {
        height: 630px;
    }

    #Museum_Cover_Photo_Mod_Roos {
        height: 630px;
    }
}

@media only screen and (max-width: 400px) {
    #Subject_Name_Mod {
        font-size: 3em;
    }

    #Subject_Name_Mod_Roos {
        font-size: 1.5em;
    }

    #Museum_Cover_Photo_Mod {
        margin-top: 3.7em;
    }

    #Museum_Cover_Photo_Mod_Roos {
        margin-top: 1.7em;
    }

    #Sponsorship_Mod {
        font-size: 0.5em;
    }

    #Motherhood_1 {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Exhibit_2_Title_Mod {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Exhibit_Title_Mod {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Parenting_as_a_Working_Widow {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Exhibit_2_Subtitle_Mod {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Exhibit_Subtitle_Mod {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Exhibit_Title_Mod1 {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Exhibit_Subtitle_Mod1 {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Exhibit_2_Title_Mod1 {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Exhibit_2_Subtitle_Mod1 {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Motherhood_11 {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Parenting_as_a_Working_Widow1 {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Exhibit_Title_Mod2 {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Exhibit_Subtitle_Mod2 {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Exhibit_2_Title_Mod2 {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Exhibit_2_Subtitle_Mod2 {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Motherhood_12 {
        padding-left: 7px;
        padding-right: 7px;
    }

    #Parenting_as_a_Working_Widow2 {
        padding-left: 7px;
        padding-right: 7px;
    }
}

