
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}
#underline {
    text-decoration: underline;    
}

#boxfix1 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 29%;
    margin-right: 0%;
}

#boxfix2 {
    float: left;
    height: auto;
    margin: 0px 0% 0px 5.6%;
    clear: none;
    width: 29%;
}

#boxfix3 {
    float: left;
    height: auto;
    margin: 0px 0% 0px 5.6%;
    clear: none;
    width: 29%;
}

#boxfix {
    float: left;
    height: auto;
    margin: 75px 0px 0px 8.15%;
    clear: both;
    width: 85.50544%;
}

#lincoln {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin: 100px 0px 0px 0%;
    clear: both;
    min-width: 0px;
}

#_Fruition_Matthew_Bird_son_While_I_think_that_there_are_some_ {
    float: left;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin: 5%;
    clear: both;
}

#textspanc65 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc66 {
    float: none;
    font-size: 0.875em;
    line-height: 28px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc67 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#_Greatest_Joy_Michael_Bird_son_Dad_s_greatest_joy_in_life_is_ {
    float: left;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin: 5%;
    clear: both;
}

#textspanc55 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc56 {
    float: none;
    font-size: 0.875em;
    line-height: 28px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc57 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#matthew2 {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin: 5% 5% 0%;
    clear: none;
}

#michael {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin: 5% 5% 0%;
    clear: none;
}

#_Expressing_Love_and_Gratitude_I_thought_it_was_important_that {
    float: left;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 28;
    margin: 5%;
    clear: none;
}

#textspanc53 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc54 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#_“It’s_Better_to_Be_Good_Than_to_Be_Nice_”_This_is_a_musica {
    float: left;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 29;
    margin: 5%;
    clear: none;
}

#textspanc51 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc52 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#Teaching_Nicole_Cheung_daughter {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 27;
    margin: 1.015625px 0px 0px 9.986699%;
    clear: both;
}

#textspanc42 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc43 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#_Greatness_in_Meekness_Nicholas_Bird_son_This_is_something_th {
    float: left;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 38;
    margin: 5%;
    clear: both;
}

#textspanc39 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc40 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc41 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#wenatchee {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 43;
    margin: 100px 0px 0px 0%;
    clear: both;
    min-width: 0px;
}

#nicolevid {
    float: left;
    width: 64.984564%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 31;
    margin: 20px 0px 0px 9.986699%;
    clear: both;
}

#nick {
    float: left;
    width: 105px;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 37;
    margin: 5% 5% 0%;
    clear: none;
}

#westernfamily {
    float: left;
    width: 25%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 44;
    margin: 100px 0px 0px 10%;
    clear: none;
    padding-bottom: 50px;
    display: none;
}

#_Patience_Cyndi_Bird_wife_Another_thing_I_like_about_Randy_is {
    float: left;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 26;
    margin: 5%;
    clear: both;
}

#textspanc32 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc33 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc34 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#sunnybackground {
    float: left;
    width: 50%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 41;
    margin: 50px 0px 0px 9.999836%;
    clear: both;
}

#reunionblue {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 46;
    margin: 10% 0px 0px;
    clear: both;
}

#Presiding_in_Parenthood_Leading_by_example_is_really_the_best_ {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 30;
    margin: 100px 0px 0px 10%;
    clear: none;
}

#textspanc44 {
    float: none;
    font-size: 1.75em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc45 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#An_Example_of_Counseling_The_decision_to_move_to_Wenatchee_was {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 40;
    margin: 100px 0px 0px 10%;
    clear: none;
    max-width: none;
}

#textspanc28 {
    float: none;
    font-size: 1.375em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc29 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#cyndi {
    float: left;
    width: 105px;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 32;
    margin: 5% 5% 0%;
    clear: none;
}

#_Handling_Conflict_When_we_would_have_disagreements_I_would_u {
    float: left;
    font-size: 1em;
    width: 89.998115%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 39;
    margin: 5%;
    clear: none;
}

#textspanc30 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc31 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#_Quiet_Dignity_Nate_Bird_son_I_think_quiet_dignity_is_what_ma {
    float: left;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 57;
    margin: 8.721301% 5% 5% 4.998406%;
    clear: both;
}

#textspanc35 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc36 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc37 {
    float: none;
    font-size: 0.875em;
    line-height: 28px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc38 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#atrayuegroup3 {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 45;
    margin: 100px 0px 0px 0%;
    clear: both;
    display: block;
    min-width: 0px;
}

#nate {
    float: left;
    width: 105px;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 56;
    margin: 5% 5% 0%;
    clear: none;
}

#_Slow_to_Anger_Mitchell_Bird_son_Dad_is_slow_to_anger_He_doe {
    float: left;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 53;
    margin: 5%;
    clear: both;
}

#textspanc24 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc25 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc26 {
    float: none;
    font-size: 0.875em;
    line-height: 28px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc27 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#natebuildersofmensc {
    float: left;
    width: 25%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin: 20px 0% 0px 10%;
    clear: both;
}

#mitchell {
    float: left;
    width: 105px;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 52;
    margin: 5% 5% 0%;
    clear: none;
}

#Builder_ofmen_-_Nate {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin: 50px 0% 0px 9.999836%;
    clear: both;
}

#textspanc60 {
    float: none;
    font-size: 1.125em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc61 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc62 {
    float: none;
    font-size: 1.75em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#_Charity_Matthew_Bird_son_Dad_stands_out_to_me_as_one_of_thos {
    float: left;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 59;
    margin: 5%;
    clear: both;
}

#textspanc16 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc17 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc18 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc19 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#nicolevideobelieving {
    float: left;
    width: 64.991132%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin: 20px 0px 0px 9.997373%;
    clear: both;
}

#matthew {
    float: left;
    width: 105px;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 58;
    margin: 5% 5% 0%;
    clear: none;
}

#Believing_in_People_Nicole_Cheung_daughter {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin: 0px 0px 0px 10%;
    clear: both;
}

#textspanc63 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc64 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#Presiding_Outside_the_Home_The_callings_or_responsibilities_I’ {
    float: left;
    font-size: 1em;
    width: 44.046407%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin: 68.484375px 0px 0px 9.997373%;
    clear: both;
    display: block;
}

#textspanc58 {
    float: none;
    font-size: 1.75em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc59 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#Since_Cyndi_had_much_more_knowledge_on_family_organization_than {
    float: left;
    font-size: 0.875em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 67;
    margin: 45px 0px 0px 9.975204%;
    clear: both;
}

#_Forgiveness_Bob_McKeen_brother-in-law_During_the_summer_of_1 {
    float: left;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 49;
    margin: 5%;
    clear: both;
}

#textspanc20 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc21 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc22 {
    float: none;
    font-size: 0.875em;
    line-height: 28px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc23 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#callings_timeline {
    float: left;
    width: 20.995632%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin: -20% 0px 0px 30%;
    clear: none;
}

#_What_the_Priesthood_Can_Do_for_a_Man_Holding_the_priesthood_ {
    float: left;
    font-size: 1em;
    width: 93.72%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 63;
    margin: 10px;
    clear: none;
    padding: 0px;
}

#textspanc5 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc6 {
    float: none;
    font-size: 1.5em;
    line-height: 28px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc7 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#_Like_Father_Like_Son_Tiffany_Bird_daughter-in-law_Over_the_ {
    float: left;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 55;
    margin: 5%;
    clear: both;
}

#textspanc8 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc9 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc10 {
    float: none;
    font-size: 0.875em;
    line-height: 28px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc11 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#scoutingtrip1 {
    float: left;
    width: 53.491198%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin: 66.515625px 0px 0px 1.000794%;
    clear: none;
}

#treeleaning {
    float: left;
    width: 50%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 62;
    margin: 56px 0px 0px 9.975204%;
    clear: both;
}

#_Consistency_Michelle_Bird_daughter_Mom_and_dad_worked_so_wel {
    float: left;
    font-size: 1em;
    width: 90%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 51;
    margin: 5%;
    clear: both;
}

#textspanc12 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc13 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc14 {
    float: none;
    font-size: 0.875em;
    line-height: 28px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc15 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#scoutmaster {
    float: left;
    width: 45.487388%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin: 66.515625px 0px 0px;
    clear: both;
    min-width: 0px;
}

#RandyNathan {
    float: left;
    width: 25%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 64;
    margin: -133px 0px 0px 10.059774%;
    clear: none;
    padding-bottom: 30px;
}

#michelle {
    float: left;
    width: 105px;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    margin: 5% 5% 0%;
    clear: none;
}

#mattvideoc {
    float: left;
    width: 64.984564%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin: 20px 0% 0px 9.986699%;
    clear: both;
}

#Early_in_our_marriage {
    float: left;
    font-size: 0.875em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 69;
    margin: 30px 0px 0px 9.986699%;
    clear: both;
    max-width: 630px;
}

#bob {
    float: left;
    width: 105px;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 48;
    margin: 5% 5% 0%;
    clear: none;
}

#Blessing_of_Comfort_Counsel_Matthew_Bird_son {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin: 50px 0px 0px 9.986699%;
    clear: both;
}

#textspanc49 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc50 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#“There’s_no_purpose_to_presiding_if_people_are_going_in_differe {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 32px;
    color: black;
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 68;
    margin: 30px 10% 0px 29.99376%;
    clear: both;
    max-width: 800px;
}

#soundcloudddd {
    float: left;
    width: 25%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin: 400.5px 0px 0px -143px;
    clear: none;
}

#cyndivid {
    float: left;
    width: 64.975532%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 65;
    margin: 20px 0px 0px 9.986699%;
    clear: both;
}

#Father’s_Blessings_Audio_by_Randy_Bird {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin: 331px 0px 0px 9.604806%;
    clear: none;
}

#textspanc47 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc48 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#Presiding_Over_the_Home_Presiding_in_the_family_in_the_spiritu {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 70;
    margin: 100px 0px 0px 9.999836%;
    clear: both;
    max-width: 630px;
}

#textspanc {
    float: none;
    font-size: 1.75em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc1 {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc2 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#riverbankportrait {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin: 100px 0px 0px;
    clear: both;
    min-width: 0px;
}

#Intentional_Family_Cyndi_Bird_wife {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 66;
    margin: 50px 0px 0px 9.979309%;
    clear: both;
}

#textspanc3 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanc4 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#familyred {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin: 89.359375px 0% 0px 0px;
    clear: both;
    min-width: 0px;
}

#presideintro {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 71;
    min-width: 0px;
    margin: 0px;
    clear: none;
}

#After_moving_to_Wenatchee {
    float: left;
    font-size: 0.875em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 69;
    margin: 100px 0px 0px 9.975204%;
    clear: both;
    max-width: 630px;
}

#Early_in_our_marriage1 {
    float: left;
    font-size: 0.875em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 69;
    margin: 50px 0px 0px 9.979309%;
    clear: both;
    max-width: 630px;
}

#Box-Priesthood {
    float: left;
    height: auto;
    margin: -562px 0% 0px 10.00312%;
    clear: none;
    width: 25%;
    border: 1px solid black;
    padding-top: 0px;
}

#tiffany {
    float: left;
    width: 150px;
    max-width: 100%;
    height: auto;
    margin: 5% 5% 0%;
    clear: none;
    color: rgb(0, 0, 0);
    min-width: 0px;
}

#Box-Tiffany {
    float: left;
    height: auto;
    margin: 100px 0% 0px;
    clear: both;
    width: 100%;
    border: 1px solid black;
}

#snowman {
    float: left;
    width: 100%;
    max-width: none;
    height: auto;
    clear: none;
    color: rgb(0, 0, 0);
    margin: 10% 0px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 0px;
}

#Box-Michelle {
    float: left;
    height: auto;
    margin: 100px 0% 0px;
    clear: none;
    width: 100%;
    border: 1px solid black;
}

#Box-Matthew {
    float: left;
    height: auto;
    margin: 10% 0px 0px;
    clear: none;
    width: 100%;
    border: 1px solid black;
    padding-top: 0px;
}

#Box-Bob {
    float: left;
    height: auto;
    margin: 100px 0% 0px;
    clear: none;
    width: 100%;
    border: 1px solid black;
}


#Box-Mitchell {
    float: left;
    height: auto;
    margin: 10% 0px 0px;
    clear: none;
    width: 100%;
    border: 1px solid black;
    padding-top: 0px;
}


#readingtotwins {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 10% 0px 0px;
    clear: none;
    color: rgb(0, 0, 0);
}

#HandlingConflict-Box {
    float: left;
    height: auto;
    margin: -480px 0% 0px 9.999836%;
    clear: none;
    width: 25%;
    border: 1px solid black;
    padding-top: 0px;
}

#Box-Dignity {
    float: left;
    height: auto;
    margin: 50px 9.99% 50px 5%;
    clear: none;
    width: 25%;
    border: 1px solid black;
    padding-top: 0px;
}

#Box-Nick_Meek {
    float: left;
    height: auto;
    margin: 50px 0% 0px -4.99376%;
    clear: none;
    width: 25%;
    border: 1px solid black;
    padding-top: 0px;
}

#Box-Cyndi-Patience {
    float: left;
    height: auto;
    margin: 50px 0px 0px 7.499672%;
    clear: both;
    width: 25%;
    border: 1px solid black;
    padding-top: 0px;
}

#I_see_the_fruits_of_the_Gospel {
    float: left;
    font-size: 1em;
    width: 44.046407%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 30;
    margin: 100px 0px 0px 9.986699%;
    clear: both;
}

#textspanc46 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#BettertoBeGoodBox {
    float: left;
    height: auto;
    margin: 50px 0% 0px 7.49064%;
    clear: both;
    width: 25%;
    border: 1px solid black;
    padding-top: 0px;
}

#ExpressionsofLoveBox {
    float: left;
    height: auto;
    margin: 50px 0% 0px 5.002577%;
    clear: none;
    width: 25%;
    border: 1px solid black;
    padding-top: 0px;
}

#GreatestJoyBox {
    float: left;
    height: auto;
    margin: 50px 0px 0px 5.000476%;
    clear: none;
    width: 25%;
    border: 1px solid black;
    padding-top: 0px;
}

#FruitionBox {
    float: left;
    height: auto;
    margin: 50px 0px 0px 19.997208%;
    clear: both;
    width: 39.996059%;
    border: 1px solid black;
    padding-top: 0px;
}

@media only screen and (max-width: 1198px) {
    #boxfix1 {
        float: left;
        height: auto;
        margin-top: 0px;
        clear: none;
        margin-right: 0%;
    }

    #boxfix2 {
        float: left;
        height: auto;
        margin-top: 0px;
        clear: none;
        margin-right: 0%;
        margin-bottom: 0px;
    }

    #boxfix3 {
        float: left;
        height: auto;
        margin-top: 0px;
        clear: none;
        margin-right: 0%;
        margin-bottom: 0px;
    }

    #boxfix {
        float: left;
        height: auto;
        margin: 75px 0px 0px 8.15%;
        clear: both;
        width: 85.50544%;
    }

    #HandlingConflict-Box {
        margin: -552px 0% 0px 10.024084%;
        width: 25%;
        min-width: 0px;
        position: relative;
        top: 0px;
        left: 0px;
        clear: none;
        height: auto;
        max-height: none;
    }

    #Box-Mitchell {
        clear: both;
    }

    #Box-Matthew {
        clear: both;
    }

    #snowman {
        clear: none;
        width: 100%;
    }

    #Box-Priesthood {
        margin: -452px 0% 0px 10.004993%;
        clear: none;
        width: 25%;
    }

    #_Handling_Conflict_When_we_would_have_disagreements_I_would_u {
        width: 89.994748%;
        margin-top: 5%;
        margin-left: 5%;
        clear: none;
    }

    #westernfamily {
        margin: 1228.25px 0px 0px -25.043403%;
        clear: none;
        width: 25%;
        display: none;
    }

    #presideintro {
        width: 100%;
        margin: 0px;
        clear: none;
    }

    #Presiding_Over_the_Home_Presiding_in_the_family_in_the_spiritu {
        margin-top: 75px;
        clear: both;
        width: 50%;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #“There’s_no_purpose_to_presiding_if_people_are_going_in_differe {
        margin-top: 30px;
        margin-left: 29.992951%;
        clear: both;
    }

    #Early_in_our_marriage {
        margin-top: 30px;
        margin-left: 9.985902%;
        clear: both;
        width: 50%;
    }

    #Intentional_Family_Cyndi_Bird_wife {
        margin-top: 50px;
        margin-left: 9.977091%;
        clear: both;
    }

    #cyndivid {
        margin-left: 9.985902%;
        clear: both;
        width: 64.974448%;
    }

    #Early_in_our_marriage1 {
        margin-top: 50px;
        margin-left: 9.977091%;
        clear: both;
        width: 50%;
    }

    #familyred {
        margin: 75px 0% 0px 0px;
        clear: both;
        width: 100%;
    }

    #After_moving_to_Wenatchee {
        margin: 75px 0px 0px 9.97%;
        clear: both;
        width: 50%;
    }

    #treeleaning {
        margin-top: 50px;
        margin-left: 9.972686%;
        clear: both;
        width: 50%;
    }

    #RandyNathan {
        margin-top: -160px;
        margin-left: 9.977091%;
        clear: none;
        width: 25%;
    }

    #Since_Cyndi_had_much_more_knowledge_on_family_organization_than {
        margin-top: 45px;
        margin-left: 9.972686%;
        clear: both;
        width: 50%;
    }

    #atrayuegroup3 {
        margin: 75px 0px 0px 0%;
        clear: both;
        width: 100%;
    }

    #Box-Tiffany {
        margin: 0px 0%;
        clear: none;
    }

    #Box-Michelle {
        margin-top: 0px;
        margin-left: 0%;
        clear: none;
        margin-right: 0%;
    }

    #Box-Bob {
        margin: 0px 0%;
        clear: none;
    }

    #reunionblue {
        clear: both;
        max-width: none;
    }

    #readingtotwins {
        clear: both;
        max-width: none;
    }

    #wenatchee {
        margin: 75px 0px 0px 0%;
        clear: both;
        width: 100%;
    }

    #An_Example_of_Counseling_The_decision_to_move_to_Wenatchee_was {
        width: 50%;
        max-width: 630px;
        margin: 75px 0px 0px 10%;
    }

    #sunnybackground {
        margin: 50px 0px 0px 9.97%;
        clear: both;
        width: 50%;
    }

    #Box-Dignity {
        margin: 50px 0px 0px 5%;
        clear: none;
        width: 25%;
    }

    #Box-Nick_Meek {
        margin: 50px 0px 0px 5%;
        clear: none;
        width: 25%;
    }

    #Box-Cyndi-Patience {
        width: 25%;
        margin: 50px 0px 0px 7.5%;
        clear: both;
    }

    #Teaching_Nicole_Cheung_daughter {
        margin: 34.859375px 0px 0px 9.99765%;
        clear: both;
    }

    #nicolevid {
        margin: 20px 0px 0px 9.99765%;
        clear: both;
        width: 64.984727%;
    }

    #Presiding_in_Parenthood_Leading_by_example_is_really_the_best_ {
        width: 50%;
        margin: 50px 0px 0px 9.99765%;
        clear: both;
    }

    #riverbankportrait {
        margin: 75px 0px 0px;
        clear: both;
        width: 100%;
    }

    #I_see_the_fruits_of_the_Gospel {
        margin: 75px 0px 0px 9.99%;
        clear: both;
        width: 44.045172%;
    }

    #soundcloudddd {
        margin-top: 400.5px;
        margin-left: -143px;
        clear: none;
        width: 25%;
    }

    #Blessing_of_Comfort_Counsel_Matthew_Bird_son {
        margin-top: 50px;
        margin-left: 9.985902%;
        clear: both;
    }

    #mattvideoc {
        margin-top: 20px;
        margin-left: 9.985902%;
        clear: both;
        width: 64.984727%;
    }

    #BettertoBeGoodBox {
        margin-top: 50px;
        margin-left: 7.489427%;
        clear: both;
        width: 25%;
    }

    #ExpressionsofLoveBox {
        margin-top: 50px;
        margin-left: 5.003293%;
        clear: none;
        width: 25%;
    }

    #GreatestJoyBox {
        width: 25%;
    }

    #scoutmaster {
        margin: 75px 0px 0px;
        clear: both;
        width: 45.485785%;
    }

    #scoutingtrip1 {
        width: 53.487723%;
        margin: 75px 0px 0px 1%;
    }

    #Presiding_Outside_the_Home_The_callings_or_responsibilities_I’ {
        margin: 75px 0px 0px 9.99%;
        clear: both;
        width: 44.045172%;
    }

    #Builder_ofmen_-_Nate {
        margin-top: 50px;
        margin-left: 9.994713%;
        clear: both;
    }

    #natebuildersofmensc {
        margin-top: 2px;
        margin-left: 9.994713%;
        clear: both;
        width: 25%;
    }

    #callings_timeline {
        margin: -700px 0px 0px 65%;
        clear: none;
        width: 20.990954%;
    }

    #Believing_in_People_Nicole_Cheung_daughter {
        margin-top: 50px;
        margin-left: 9.994713%;
        clear: both;
    }

    #nicolevideobelieving {
        margin-top: 20px;
        margin-left: 9.994713%;
        clear: both;
        width: 64.990602%;
    }

    #FruitionBox {
        margin-top: 50px;
        margin-left: 19.995301%;
        clear: both;
        width: 39.996476%;
    }

    #lincoln {
        margin: 75px 0px 0px 0%;
        clear: both;
        width: 100%;
    }

    #Father’s_Blessings_Audio_by_Randy_Bird {
        margin-top: 331px;
        margin-left: 9.605668%;
        clear: none;
    }
}

@media only screen and (max-width: 795px) {
    #boxfix1 {
        width: 60%;
        margin-left: 20%;
    }

    #boxfix2 {
        width: 60%;
        margin: 0px 0% 0px 20%;
    }

    #boxfix3 {
        width: 60%;
        margin-left: 20%;
    }

    #boxfix {
        width: 100%;
        margin-left: 0%;
    }

    #Presiding_Over_the_Home_Presiding_in_the_family_in_the_spiritu {
        width: 80%;
        max-width: none;
        margin: 60px 0px 0px 10%;
        clear: both;
    }

    #Early_in_our_marriage {
        width: 80%;
        max-width: none;
        margin: 15px 0px 0px 9.988208%;
        clear: both;
    }

    #cyndivid {
        width: 80%;
        margin: 12px 0px 0px 9.988208%;
        clear: both;
    }

    #Early_in_our_marriage1 {
        width: 80%;
        max-width: none;
        margin-top: 30px;
        margin-left: 9.97445%;
        clear: both;
    }

    #“There’s_no_purpose_to_presiding_if_people_are_going_in_differe {
        margin: 15px 10% 0px 29.988208%;
        clear: both;
    }

    #Intentional_Family_Cyndi_Bird_wife {
        margin: 30px 0px 0px 9.978381%;
        clear: both;
    }

    #familyred {
        margin-top: 60px;
        width: 100%;
        margin-left: 0px;
        clear: both;
    }

    #After_moving_to_Wenatchee {
        margin-top: 60px;
        width: 80%;
        max-width: none;
        margin-left: 9.966588%;
        clear: both;
    }

    #treeleaning {
        margin: 30px 0px 0px 9.966588%;
        clear: both;
        width: 75%;
    }

    #RandyNathan {
        clear: none;
        margin-top: 30px;
        margin-left: 20%;
        margin-right: 0px;
        width: 60%;
        padding-bottom: 0px;
    }

    #Father’s_Blessings_Audio_by_Randy_Bird {
        margin: 30px 0px 0px 20%;
        clear: none;
    }

    #soundcloudddd {
        margin: 30px 0px 0px 20%;
        clear: both;
        width: 60%;
    }

    #scoutingtrip1 {
        margin: 60px 0px 0px 1%;
        clear: none;
        width: 53.486635%;
    }

    #callings_timeline {
        margin: 0px 0px 0px 20%;
        clear: none;
        width: 60%;
        float: none;
        visibility: visible;
        display: block;
        padding: 50px 0px 0px;
    }

    #presideintro {
        width: 100%;
    }

    #Since_Cyndi_had_much_more_knowledge_on_family_organization_than {
        width: 80%;
        margin: 30px 0px 0px 9.966588%;
        clear: both;
    }

    #Box-Priesthood {
        margin: 30px 0% 0px 20%;
        clear: none;
        width: 60%;
    }

    #atrayuegroup3 {
        width: 100%;
        margin: 60px 0px 0px 0%;
        clear: both;
    }

    #Box-Tiffany {
        margin: 0px 0%;
        clear: both;
    }

    #Box-Michelle {
        margin: 30px 0% 0px;
        clear: none;
    }

    #snowman {
        clear: none;
    }

    #Box-Matthew {
        clear: none;
    }

    #Box-Bob {
        margin: 30px 0% 0px;
        clear: none;
        width: 100%;
    }

    #reunionblue {
        clear: both;
    }

    #Box-Mitchell {
        clear: none;
    }
    
    #readingtotwins {
        clear: none;
    }

    #wenatchee {
        margin: 60px 0px 0px 0%;
        clear: both;
        width: 100%;
    }

    #An_Example_of_Counseling_The_decision_to_move_to_Wenatchee_was {
        margin-top: 74.96875px;
        margin-left: 10%;
        clear: both;
        width: 80%;
        max-width: none;
    }

    #sunnybackground {
        width: 75%;
        margin: 30px 0px 0px 12.5%;
        clear: both;
    }

    #HandlingConflict-Box {
        margin: 30px 0% 0px 20.03%;
        clear: none;
        width: 60%;
    }

    #Box-Cyndi-Patience {
        margin: 30px 0px 0px 20%;
        clear: both;
        width: 60%;
    }

    #Box-Dignity {
        margin: 30px 0px 0px 20%;
        clear: none;
        width: 60%;
    }

    #Box-Nick_Meek {
        margin: 30px 0px 0px 20%;
        clear: none;
        width: 60%;
    }

    #nicolevid {
        width: 80%;
        margin: 12px 0px 0px 10%;
        clear: both;
    }

    #Presiding_in_Parenthood_Leading_by_example_is_really_the_best_ {
        width: 80%;
        margin: 30px 0px 0px 10%;
        clear: both;
    }

    #riverbankportrait {
        width: 100%;
        margin: 60px 0px 0px;
        clear: both;
    }

    #I_see_the_fruits_of_the_Gospel {
        width: 80%;
        margin: 60px 0px 0px 9.988208%;
        clear: both;
    }

    #mattvideoc {
        width: 80%;
        margin-top: 20px;
        margin-left: 9.984277%;
        clear: both;
    }

    #BettertoBeGoodBox {
        width: 60%;
        margin-top: 50px;
        margin-left: 20%;
        clear: both;
    }

    #ExpressionsofLoveBox {
        margin: 30px 0% 0px 20%;
        clear: none;
        width: 60%;
    }

    #GreatestJoyBox {
        margin: 30px 0px 0px 20%;
        clear: none;
        width: 60%;
    }

    #scoutmaster {
        width: 45.485456%;
        margin: 60px 0px 0px;
        clear: both;
    }

    #Presiding_Outside_the_Home_The_callings_or_responsibilities_I’ {
        width: 80%;
        margin: 60px 0px 0px 9.988208%;
        clear: both;
    }

    #natebuildersofmensc {
        width: 60%;
        margin: 12px 0% 0px 20%;
        clear: none;
    }

    #nicolevideobelieving {
        width: 80%;
        margin-top: 20px;
        margin-left: 9.994104%;
        clear: both;
    }

    #FruitionBox {
        width: 60%;
        margin: 30px 0px 0px 19.99%;
        clear: both;
    }

    #lincoln {
        width: 100%;
        margin: 60px 0px 0px 0%;
        clear: both;
    }

    #Teaching_Nicole_Cheung_daughter {
        margin: 30px 0px 0px 10%;
        clear: both;
    }

    #Blessing_of_Comfort_Counsel_Matthew_Bird_son {
        margin: 30px 0px 0px 9.978381%;
        clear: both;
    }

    #Builder_ofmen_-_Nate {
        margin: 30px 0% 0px 20%;
        clear: both;
    }

    #Believing_in_People_Nicole_Cheung_daughter {
        margin: 50px 0px 0px 9.99%;
        clear: both;
    }

    #westernfamily {
        display: block;
        margin: 30px 0px 0px 12.5%;
        width: 75%;
        padding-bottom: 0px;
    }
}

