
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#_Of_course_the_first_thing_she_said_was_“What_are_you_doing_ {
    float: left;
    font-size: 0.875em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: rgb(7, 7, 7);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin: 50px 0% 0px 10%;
    clear: both;
    max-width: 630px;
}

#surprisehomecoming {
    float: left;
    width: 75%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin: 50px 0% 0px 10%;
    clear: both;
}

#Surprise_Homecoming_I_came_home_from_my_mission_just_in_time_t {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin: 50px 0% 0px 10%;
    clear: both;
    max-width: 630px;
}

#textspang6 {
    float: none;
    font-size: 1.375em;
    line-height: 24px;
    color: rgb(7, 7, 7);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspang7 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(7, 7, 7);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#injury {
    float: left;
    width: 59.998866%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin: 50px 0px 0px 10%;
    clear: both;
}

#_I_finished_off_my_mission_right_after_the_mission_split_into_t {
    float: left;
    font-size: 0.875em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: rgb(7, 7, 7);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin: 100px 0% 0px 10%;
    clear: both;
    max-width: 630px;
}

#missionaryclothes {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin: 100px 0% 0px;
    clear: both;
    min-width: 0px;
}

#randyportrait {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin-top: 175.15625px;
    margin-left: 6.955253%;
    clear: none;
    margin-right: 0%;
}

#I_was_called_to_the_Oakland_California_Spanish-speaking_Missio {
    float: left;
    font-size: 0.875em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: rgb(7, 7, 7);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin-top: 100px;
    margin-left: 10%;
    clear: both;
    max-width: 630px;
}

#parentsasmissionaries {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin: 100px 0% 0px;
    clear: both;
    min-width: 0px;
}

#The_Oakland_California_Mission_All_the_time_I_was_in_college_ {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin: 100px 0px 0px 10%;
    clear: both;
    max-width: 630px;
}

#textspang4 {
    float: none;
    font-size: 1.75em;
    line-height: 34px;
    color: rgb(7, 7, 7);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspang5 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(7, 7, 7);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#missionbooth {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin: 100px 0px 0px 0%;
    clear: both;
    min-width: 0px;
}

#College_After_graduating_high_school_I_enrolled_in_Ricks_Coll {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin: 100px 0px 0px 10%;
    clear: both;
    max-width: 630px;
}

#textspang2 {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: rgb(7, 7, 7);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspang3 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(7, 7, 7);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#randydoorway {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin: 100px 0px 0px 0%;
    clear: both;
    min-width: 0px;
}

#Working_for_Early_Bird_I_worked_for_my_brothers_after_high_sch {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin: 100px 0px 0px 10%;
    clear: both;
    max-width: 630px;
}

#textspang {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: rgb(7, 7, 7);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspang1 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(7, 7, 7);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#E_A_R_L_Y_A_D_U_L_T_H_O_O_D {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    min-width: 0px;
}

@media only screen and (max-width: 1102px) {
    #Working_for_Early_Bird_I_worked_for_my_brothers_after_high_sch {
        margin: 75px 0px 0px 10%;
    }

    #randydoorway {
        margin: 75px 0px 0px 0%;
    }

    #College_After_graduating_high_school_I_enrolled_in_Ricks_Coll {
        margin: 75px 0px 0px 10%;
    }

    #missionbooth {
        margin: 75px 0px 0px 0%;
    }

    #The_Oakland_California_Mission_All_the_time_I_was_in_college_ {
        margin: 75px 0px 0px 10%;
    }

    #parentsasmissionaries {
        margin: 75px 0% 0px;
    }

    #I_was_called_to_the_Oakland_California_Spanish-speaking_Missio {
        margin: 75px 0px 0px 10%;
    }

    #missionaryclothes {
        margin: 75px 0% 0px;
    }

    #_I_finished_off_my_mission_right_after_the_mission_split_into_t {
        margin: 75px 0% 0px 10%;
    }

    #randyportrait {
        width: 25%;
    }
}

@media only screen and (max-width: 754px) {
    #Working_for_Early_Bird_I_worked_for_my_brothers_after_high_sch {
        width: 80%;
        margin-top: 60px;
    }

    #randydoorway {
        margin-top: 60px;
    }

    #College_After_graduating_high_school_I_enrolled_in_Ricks_Coll {
        margin-top: 60px;
        width: 80%;
    }

    #missionbooth {
        margin-top: 60px;
    }

    #The_Oakland_California_Mission_All_the_time_I_was_in_college_ {
        margin-top: 60px;
        width: 80%;
    }

    #parentsasmissionaries {
        margin-top: 60px;
    }

    #I_was_called_to_the_Oakland_California_Spanish-speaking_Missio {
        margin-top: 60px;
        width: 80%;
    }

    #randyportrait {
        margin: 30px 0% 0px 20%;
        width: 60%;
    }

    #missionaryclothes {
        margin-top: 60px;
    }

    #_I_finished_off_my_mission_right_after_the_mission_split_into_t {
        margin-top: 60px;
        width: 80%;
    }

    #injury {
        margin-top: 30px;
        width: 80%;
    }

    #Surprise_Homecoming_I_came_home_from_my_mission_just_in_time_t {
        margin-top: 30px;
        width: 80%;
    }

    #surprisehomecoming {
        margin-top: 30px;
        width: 80%;
    }

    #_Of_course_the_first_thing_she_said_was_“What_are_you_doing_ {
        margin-top: 30px;
        width: 80%;
    }
}

