
#stairway {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin: 100px 0px 0px 0%;
    clear: both;
}

#nicolevideo {
    /* float: left; */
    /* width: 80%; */
    max-width: 80%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin: 20px 0% 0px 10%;
    clear: both;
    padding: 20px 0px 0px 0px;
}

#Inventions_Video_by_Nicole_Cheung_daughter {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin: 50px 0px 0px 10%;
    clear: both;
}

#textspana31 {
    float: none;
    font-size: 1.75em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana32 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#completed {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin: 50px auto 0px 10%;
    clear: none;
}

#kidsswim {
    float: left;
    width: 70%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin: 50px 0% 0px 9.96%;
    clear: none;
}

#homesun {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin: 50px 0% 0px 9.96%;
    clear: none;
    padding: 0px;
}

#concretekids {
    float: left;
    width: 70%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin: 50px 0% 0px 9.96%;
    clear: none;
}

#roofstructure {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin: 50px 0% 0px 10%;
    clear: none;
}

#Cyndihome {
    float: left;
    width: 70%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin: 50px 0% 0px 9.96%;
    clear: none;
}

#cement {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin: 50px 0% 0px 10%;
    clear: none;
}

#natehousesoundcloud {
    float: left;
    width: auto;
    max-width: 100%;
    height: 230px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin: 20px 0% 0px;
    clear: none;
}

#So_You_Want_to_Build_a_House {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin: 0px 0%;
    clear: none;
}

#textspana29 {
    float: none;
    font-size: 1.5em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana30 {
    float: none;
    font-size: 14px;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#woodenwalls {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin: 50px 0% 0px 10%;
    clear: none;
}

#plotdug {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin: 50px 0% 0px 10%;
    clear: none;
}

#_A_Helping_Hand_Tiffany_Bird_daughter-in-law_Every_time_Randy {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin: 20px 0% 0px 4.12%;
    clear: none;
}

#textspana25 {
    float: none;
    font-size: 1.5em;
    line-height: 28px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana26 {
    float: none;
    font-size: 0.875em;
    line-height: 28px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana27 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#tiffany {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    clear: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
}

#soundcloudrandyhome {
    float: left;
    width: auto;
    max-width: 100%;
    height: 230px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin-top: 124px;
    margin-left: -23.006135%;
    padding: 20px 0px 0px 0px;
    clear: none;
}

#Building_a_Home {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin-top: 48px;
    margin-left: 13.420245%;
    clear: none;
}

#textspana23 {
    float: none;
    font-size: 1.5em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana24 {
    float: none;
    font-size: 14px;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#grassplot {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin: 50px 0% 0px 9.99%;
    clear: both;
}

#Providing_a_Home_Audio_Only_ {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin: 100px 0% 0px 10%;
    clear: both;
}

#textspana20 {
    float: none;
    font-size: 28px;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana21 {
    float: none;
    font-size: 14px;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#homeparadise {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 24;
    margin: 100px 0px 0px 0%;
    clear: both;
}

#nicolevideo2 {
   /*  float: left; */
   /* width: 80%; */
    max-width: 80%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 25;
    margin: 20px 0px 0px 10%;
    clear: both;
    padding: 20px 0px 0px 0px;
}

#Daddy-Daughter_Motorbike_Trip_Video_by_Nicole_Cheung_daughter {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 26;
    margin: 50px 0px 0px 10%;
    clear: both;
}

#textspana18 {
    float: none;
    font-size: 1.75em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana19 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#mikevideo {
    /* float: left; */
    /* width: auto; */
    max-width: 80%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 27;
    margin: 20px 0% 0px 10%;
    clear: both;
    padding: 20px 0px 0px 0px;
}

#Lake_Trip_Video_by_Michael_Bird_son {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 28;
    margin: 50px 0% 0px 10%;
    clear: none;
}

#textspana16 {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana17 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#nicole1 {
    float: left;
    width: 105px;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 31;
    margin: 100px 0% 0px 10%;
    clear: both;
}

#I_think_the_experiences_were_important_because_it_got_Cyndi_out {
    float: left;
    font-size: 0.875em;
    width: 47.929448%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 37;
    margin: 50px 0px 0px 10%;
    clear: both;
}

#naysayerssoundcloud {
    float: left;
    width: auto;
    max-width: 100%;
    height: 250px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 38;
    margin-top: 134px;
    margin-left: -24.079755%;
    clear: none;
}

#Onlookers_and_Naysayers_Audio_by_Randy_Bird_ {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 39;
    margin-top: 55px;
    margin-left: 6.978528%;
    clear: none;
}

#textspana11 {
    float: none;
    font-size: 1.75em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana12 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana13 {
    float: none;
    font-size: 1.75em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#cartree {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 42;
    margin: 50px 0px 0px 10%;
    clear: both;
}

#“Is_it_a_sacrifice_It_might_have_looked_like_a_sacrifice_then_ {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 34px;
    color: black;
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 43;
    margin: 30px 10% 0px 25%;
    clear: both;
}

#_Providing_Experiences_Cyndi_spent_a_lot_of_time_planning_even {
    float: left;
    font-size: 1em;
    width: 47.929448%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 44;
    margin: 50px 0px 0px 10%;
    clear: both;
    min-height: 0px;
    padding: 0px;
}

#textspana7 {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana8 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana9 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#PNWforest {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 47;
    margin: 100px 0px 0px 9.99%;
    clear: both;
}

#My_things_in_life_that_I_liked_to_do_didn’t_cost_a_lot_I_loved {
    float: left;
    font-size: 0.875em;
    width: 47.929448%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 51;
    margin: 30px 0px 0px 10%;
    clear: both;
}

#“You_realize_‘Ya_know_I_really_don’t_need_that_’”_ {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 49;
    margin: 30px 0px 0px 30%;
    clear: none;
}

#_I’ve_never_really_been_a_very_materialistic_person_I_remember {
    float: left;
    font-size: 14px;
    width: 47.929448%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    margin: 100px 0px 0px 10%;
    clear: both;
}

#fencebuilding {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 52;
    margin: 100px 0px 0px 0%;
    clear: both;
}

#_Industrious_Mornings_by_Nicole_Cheung_daughter_No_one_exempl {
    float: left;
    font-size: 1em;
    width: 91.74%;
    height: 83.81%;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 54;
    margin: 11px 10px 10px;
    clear: none;
}

#textspana4 {
    float: none;
    font-size: 1.75em;
    line-height: 28px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana5 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana6 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#Because_Cyndi_wanted_a_large_family_and_we_both_wanted_to_have_ {
    float: left;
    font-size: 0.875em;
    width: 47.852761%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 56;
    margin: 100px 0px 0px 9.99%;
    clear: none;
}

#nicole {
    float: left;
    width: 105px;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 55;
    margin: 10px 0px 0px 3.72%;
    clear: both;
}

#wheelbarrow {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 57;
    margin: 100px 0% 0px;
    clear: both;
}

#A_big_part_of_Idaho_tradition_was_larger_families_and_being_su {
    float: left;
    font-size: 0.875em;
    width: 46.494465%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 58;
    margin: 50px 0px 0px 10%;
    clear: both;
    max-width: 630px;
}

#cyndivideo2 {
    float: left;
    width: 80%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 59;
    margin: 20px 0px 0px 10%;
    clear: both;
}

#twins1 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 60;
    margin: 50px 0% 0px 10.34%;
    clear: both;
}

#textspana2 {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana3 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#twins {
    float: left;
    width: 26.920032%;
    max-width: 340px;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 61;
    margin-top: 102px;
    margin-left: 7.209787%;
    clear: none;
}

#Providing_for_Ten_I_look_back_at_Cyndi_and_I_in_our_youth_and_ {
    float: left;
    font-size: 1em;
    width: 47.439759%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 62;
    margin: 100px 0px 0px 10%;
    clear: both;
    max-width: 630px;
}

#textspana {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspana1 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#reunionshot {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 63;
}

#boxa {
    float: left;
    height: 827px;
    margin-left: 0%;
    margin-top: 119px;
    clear: none;
    width: 22.254604%;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border: 1px solid rgb(0, 0, 0);
    padding-right: 0px;
}

#textspana10 {
    float: none;
    font-size: 1.75em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#boxa1 {
    float: left;
    height: auto;
    margin-left: 54.102234%;
    margin-top: 125px;
    clear: both;
    width: 27.061856%;
}

#hikeportrait {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 36;
    margin: 0px 0px 0px 0%;
    clear: both;
    display: block;
}




#text {
    margin-left: 17.29313%;
    float: left;
    font-size: 14px;
    width: 42.703303%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    margin-top: 106px;
    clear: both;
    min-height: 547px;
    font-family: georgia;
}

#textspana14 {
    font-size: 24px;
    line-height: 1em;
}

#textspana15 {
    font-style: italic;
}

#boxa3 {
    float: left;
    height: auto;
    margin: 50px 0% 0px 6%;
    clear: none;
    width: 28.67%;
}

#boxa4 {
    float: left;
    height: auto;
    margin-left: 10%;
    margin-top: -42px;
    clear: none;
    width: 25.112988%;
    margin-right: auto;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border: 1px solid black;
}

#textspana22 {
    float: none;
    font-size: 1.5em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#boxa2 {
    float: left;
    height: auto;
    margin-left: 5.217543%;
    margin-top: 79px;
    clear: none;
    width: 19.777341%;
}

#boxa5 {
    float: left;
    height: 169px;
    margin-left: 6.094482%;
    margin-top: 390px;
    clear: none;
    width: 18.782914%;
    margin-right: 0%;
}

#textspana28 {
    float: none;
    font-size: 1.5em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

@media only screen and (max-width: 3317px) {
    #twins {
        position: relative;
        top: 0px;
        left: 0px;
        width: 16.670631%;
        margin: 150px 0px 0px 122.078125px;
        max-width: 330px;
        clear: none;
    }

    #twins1 {
        clear: both;
        float: left;
        margin: 50px 0% 0px 9.964139%;
    }

    #reunionshot {
        width: 100%;
        padding: 200px 0px 0px 0px;
    }

    #Providing_for_Ten_I_look_back_at_Cyndi_and_I_in_our_youth_and_ {
        clear: both;
        width: 630px;
        max-width: 630px;
        margin-top: 100px;
        margin-left: 9.993413%;
    }

    #cyndivideo2 {
        clear: both;
        height: auto;
        width: 80%;
        margin: 20px 0px 0px 9.993413%;
    }

    #A_big_part_of_Idaho_tradition_was_larger_families_and_being_su {
        clear: both;
        width: 630px;
        max-width: none;
        margin-top: 50px;
        margin-left: 9.991584%;
    }

    #wheelbarrow {
        clear: both;
        width: 100%;
        margin-top: 100px;
        margin-left: 0%;
    }

    #nicole {
        clear: none;
    }

    #Because_Cyndi_wanted_a_large_family_and_we_both_wanted_to_have_ {
        clear: both;
        max-width: 630px;
        width: 630px;
        margin-top: 100px;
        margin-left: 9.982436%;
    }

    #_Industrious_Mornings_by_Nicole_Cheung_daughter_No_one_exempl {
        clear: none;
    }

    #fencebuilding {
        clear: both;
        max-width: none;
        width: 100%;
        margin-top: 100px;
        margin-left: 0%;
    }

    #_I’ve_never_really_been_a_very_materialistic_person_I_remember {
        clear: both;
        width: 630px;
        max-width: none;
        margin-top: 100px;
        margin-left: 9.993413%;
    }

    #“You_realize_‘Ya_know_I_really_don’t_need_that_’”_ {
        clear: both;
        margin-top: 30px;
        margin-left: 30%;
    }

    #My_things_in_life_that_I_liked_to_do_didn’t_cost_a_lot_I_loved {
        clear: both;
        width: 630px;
        margin-top: 30px;
        margin-left: 9.991584%;
    }

    #PNWforest {
        clear: both;
        margin-top: 100px;
        margin-left: 9.982436%;
    }

    #_Providing_Experiences_Cyndi_spent_a_lot_of_time_planning_even {
        clear: both;
        width: 630px;
        margin-top: 50px;
        margin-left: 9.991584%;
    }

    #“Is_it_a_sacrifice_It_might_have_looked_like_a_sacrifice_then_ {
        clear: both;
        margin-top: 30px;
        margin-left: 25%;
        max-width: 800px;
    }

    #cartree {
        clear: both;
        margin-top: 50px;
        margin-left: 9.991584%;
        width: 50%;
    }

    #naysayerssoundcloud {
        margin-top: 18px;
        margin-left: 6.643345%;
        height: 250px;
        clear: both;
    }

    #I_think_the_experiences_were_important_because_it_got_Cyndi_out {
        clear: both;
        width: 630px;
        margin-top: 50px;
        margin-left: 9.991584%;
    }

    #nicole1 {
        clear: both;
        margin-top: 100px;
        margin-left: 9.993413%;
    }

    #Lake_Trip_Video_by_Michael_Bird_son {
        clear: both;
        margin-top: 50px;
        margin-left: 9.993413%;
    }

    #mikevideo {
        clear: both;
        margin-top: 20px;
        margin-left: 9.993413%;
    }

    #Daddy-Daughter_Motorbike_Trip_Video_by_Nicole_Cheung_daughter {
        clear: both;
        margin-top: 50px;
        margin-left: 9.993413%;
    }

    #nicolevideo2 {
        clear: both;
        margin-top: 20px;
        margin-left: 9.993413%;
    }

    #homeparadise {
        clear: both;
        width: 100%;
        margin-top: 100px;
        margin-left: 0%;
    }

    #Providing_a_Home_Audio_Only_ {
        clear: both;
        margin-top: 100px;
        margin-left: 9.993413%;
    }

    #grassplot {
        clear: both;
        width: 50%;
        margin-top: 50px;
        margin-left: 9.988839%;
    }

    #soundcloudrandyhome {
        margin-top: 11px;
        margin-left: 0px;
        clear: both;
        margin-right: 0%;
        height: 230px;
    }

    #tiffany {
        clear: none;
    }

    #_A_Helping_Hand_Tiffany_Bird_daughter-in-law_Every_time_Randy {
        clear: none;
    }

    #plotdug {
        clear: both;
        width: 50%;
        margin-top: 10px;
        margin-left: 9.997073%;
    }

    #woodenwalls {
        clear: both;
        width: 50%;
        margin-top: 50px;
        margin-left: 9.993413%;
    }

    #So_You_Want_to_Build_a_House {
        clear: none;
    }

    #natehousesoundcloud {
        clear: both;
    }

    #cement {
        clear: both;
        width: 50%;
        margin-top: 50px;
        margin-left: 9.993413%;
    }

    #Cyndihome {
        clear: both;
        margin-top: 50px;
        margin-left: 9.957736%;
        width: 69.999634%;
    }

    #roofstructure {
        clear: none;
        width: 50%;
    }

    #concretekids {
        clear: both;
        margin-top: 50px;
        margin-left: 9.957736%;
        width: 69.999634%;
    }

    #homesun {
        clear: both;
        width: 50%;
        max-width: none;
        margin-top: 50px;
        margin-left: 9.957736%;
    }

    #kidsswim {
        clear: both;
        margin-top: 50px;
        margin-left: 9.957736%;
        width: 69.999634%;
    }

    #completed {
        clear: both;
        width: 50%;
        max-width: none;
    }

    #Inventions_Video_by_Nicole_Cheung_daughter {
        clear: both;
    }

    #nicolevideo {
        clear: both;
        width: auto;
    }

    #stairway {
        clear: both;
    }

    #Onlookers_and_Naysayers_Audio_by_Randy_Bird_ {
        margin-top: 55px;
        margin-left: 6.978608%;
        clear: none;
    }

    #Building_a_Home {
        margin-top: 0px;
        margin-left: 0px;
        clear: none;
        margin-right: 0%;
    }

    #boxa {
        height: auto;
        margin: 100px 0px 0px 9.827328%;
        width: 22.246414%;
        clear: none;
    }

    #boxa1 {
        margin-top: 104px;
        margin-left: 5.000614%;
        clear: none;
        width: 27.057414%;
    }

    #hikeportrait {
        clear: both;
        width: 100%;
        margin-top: 100px;
        margin-left: 0%;
    }

    #textspana15 {
        width: 630px;
    }

    #text {
        margin: 20px 0px 0px 9.993413%;
        width: 630px;
        clear: both;
    }

    #boxa3 {
        margin-top: 148px;
        margin-left: -19.80112%;
        clear: none;
        width: 28.665654%;
    }

    #boxa4 {
        margin-top: -302px;
        margin-left: 6.058804%;
        clear: none;
        width: 25.109778%;
        margin-right: 0%;
    }

    #boxa2 {
        float: left;
        height: auto;
        margin-left: 6.050963%;
        margin-top: 79px;
        clear: none;
        width: 19.775505%;
    }

    #boxa5 {
        float: left;
        height: 169px;
        margin: 0px 0% 0px 6.09%;
        clear: none;
        width: 18.782914%;
    }
}

@media only screen and (max-width: 1276px) {
    #twins {
        position: relative;
        top: 0px;
        left: 0px;
        width: 25%;
        margin: 150px 0px 0px 7.002266%;
        clear: none;
        max-width: none;
        min-width: 0px;
    }

    #Providing_for_Ten_I_look_back_at_Cyndi_and_I_in_our_youth_and_ {
        clear: both;
        width: 49.359282%;
        max-width: 630px;
        margin-top: 100px;
        margin-left: 9.990409%;
    }

    #twins1 {
        clear: both;
        margin-top: 50px;
        margin-left: 9.954444%;
    }

    #cyndivideo2 {
        clear: both;
        height: auto;
        width: 80%;
        margin-top: 11px;
        margin-left: 9.982417%;
    }

    #A_big_part_of_Idaho_tradition_was_larger_families_and_being_su {
        clear: both;
        width: 50%;
        margin-top: 50px;
        margin-left: 9.982417%;
    }

    #wheelbarrow {
        clear: both;
        width: 100%;
        margin-top: 100px;
        margin-left: 0%;
    }

    #nicole {
        clear: none;
    }

    #Because_Cyndi_wanted_a_large_family_and_we_both_wanted_to_have_ {
        clear: both;
        width: 47.836743%;
        margin-top: 100px;
        margin-left: 9.979753%;
    }

    #_Industrious_Mornings_by_Nicole_Cheung_daughter_No_one_exempl {
        clear: both;
    }

    #fencebuilding {
        clear: both;
        width: 100%;
        margin-top: 100px;
        margin-left: 0%;
    }

    #_I’ve_never_really_been_a_very_materialistic_person_I_remember {
        clear: none;
        width: 50%;
        font-family: georgia;
    }

    #“You_realize_‘Ya_know_I_really_don’t_need_that_’”_ {
        clear: both;
        margin-top: 30px;
        margin-left: 30%;
    }

    #My_things_in_life_that_I_liked_to_do_didn’t_cost_a_lot_I_loved {
        clear: none;
        width: 50%;
    }

    #PNWforest {
        clear: both;
        width: 75%;
        margin-top: 100px;
        margin-left: 9.979753%;
    }

    #_Providing_Experiences_Cyndi_spent_a_lot_of_time_planning_even {
        clear: both;
        width: 50%;
        margin-top: 50px;
        margin-left: 9.982417%;
    }

    #“Is_it_a_sacrifice_It_might_have_looked_like_a_sacrifice_then_ {
        clear: both;
        margin-top: 30px;
        margin-left: 25%;
        max-width: 800px;
    }

    #cartree {
        clear: none;
        width: 50%;
    }

    #naysayerssoundcloud {
        margin-top: 21px;
        margin-left: 0%;
        clear: both;
        height: 270px;
        margin-right: 0%;
    }

    #I_think_the_experiences_were_important_because_it_got_Cyndi_out {
        clear: both;
        width: 47.920663%;
        margin-top: 50px;
        margin-left: 9.990409%;
    }

    #nicole1 {
        clear: both;
        margin-top: 100px;
        margin-left: 9.990409%;
    }

    #Lake_Trip_Video_by_Michael_Bird_son {
        clear: both;
        margin-top: 50px;
        margin-left: 9.990409%;
    }

    #mikevideo {
        clear: both;
        margin-top: 20px;
        margin-left: 9.990409%;
    }

    #Daddy-Daughter_Motorbike_Trip_Video_by_Nicole_Cheung_daughter {
        clear: both;
        margin-top: 50px;
        margin-left: 9.994405%;
    }

    #nicolevideo2 {
        clear: both;
        margin-top: 20px;
        margin-left: 9.994405%;
    }

    #homeparadise {
        clear: both;
        width: 100%;
        display: block;
        margin-top: 100px;
        margin-left: 0%;
    }

    #Providing_a_Home_Audio_Only_ {
        clear: both;
        margin-top: 100px;
        margin-left: 9.990409%;
    }

    #grassplot {
        clear: both;
        width: 50%;
        margin-top: 50px;
        margin-left: 9.987745%;
    }

    #soundcloudrandyhome {
        margin-top: 0px;
        margin-left: 0%;
        clear: none;
        margin-right: 0%;
        height: 230px;
    }

    #tiffany {
        clear: none;
        height: auto;
        width: auto;
        max-width: 36.363636%;
    }

    #_A_Helping_Hand_Tiffany_Bird_daughter-in-law_Every_time_Randy {
        clear: both;
        height: auto;
        width: 91.937553%;
    }

    #plotdug {
        clear: none;
        width: 50%;
    }

    #woodenwalls {
        clear: both;
        margin-top: 50px;
        margin-left: 9.994405%;
        width: 50%;
    }

    #So_You_Want_to_Build_a_House {
        clear: both;
    }

    #natehousesoundcloud {
        clear: none;

    }

    #cement {
        clear: both;
        margin-top: 50px;
        margin-left: 9.994405%;
        width: 50%;
    }

    #Cyndihome {
        clear: both;
        width: 69.998135%;
        margin-top: 50px;
        margin-left: 9.955776%;
    }

    #roofstructure {
        clear: both;
        margin-top: 50px;
        margin-left: 9.994405%;
        width: 50%;
    }

    #concretekids {
        clear: both;
        margin: 50px 0% 0px 9.959772%;
        width: 69.998135%;
    }

    #homesun {
        clear: both;
        width: 50.105232%;
        margin-top: 50px;
        margin-left: 9.955776%;
    }

    #kidsswim {
        clear: both;
        width: 69.998135%;
        margin-top: 50px;
        margin-left: 9.955776%;
    }

    #completed {
        clear: both;
        width: 50.105232%;
        margin: 50px 0% 0px 9.999734%;
    }

    #Inventions_Video_by_Nicole_Cheung_daughter {
        clear: both;
        margin-top: 50px;
        margin-left: 9.999734%;
    }

    #nicolevideo {
        clear: both;
        width: auto;
        margin: 20px 0% 0px 10%;
    }

    #stairway {
        clear: both;
    }

    #reunionshot {
        width: 100%;
    }

    #Onlookers_and_Naysayers_Audio_by_Randy_Bird_ {
        margin-top: 0px;
        margin-left: 0%;
        clear: none;
        margin-right: 0%;
    }

    #Building_a_Home {
        margin: 0px 0%;
        clear: none;
    }

    #boxa {
        float: left;
        height: auto;
        margin: 50px 0px 0px 10.004408%;
        clear: none;
        width: 25%;
    }

    #boxa1 {
        float: left;
        height: auto;
        margin-left: 6%;
        margin-top: 125px;
        clear: none;
        width: 27.052696%;
    }

    #hikeportrait {
        clear: both;
        width: 100%;
        display: block;
        margin-top: 100px;
        margin-left: 0%;
    }

    #text {
        margin: 50px 0px 0px 9.990409%;
        float: left;
        width: 50%;
        height: auto;
        text-align: left;
        font-weight: normal;
        clear: both;
        min-height: 547px;
    }

    #textspana15 {
        float: none;
        width: 50%;
    }

    #textspana14 {
        float: none;
    }

    #boxa3 {
        float: left;
        height: auto;
        clear: both;
        width: 28.66315%;
        margin-top: 0px;
        margin-left: 0%;
    }

    #boxa4 {
        float: left;
        height: auto;
        margin-left: 5.99691%;
        margin-top: -406px;
        clear: none;
        width: 25.106564%;
        margin-right: auto;
        border-top-left-radius: 1px;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        border-bottom-left-radius: 1px;
        border: 1px solid black;
    }

    #textspana22 {
        float: none;
        font-size: 24px;
        line-height: 1em;
    }

    #boxa2 {
        margin-left: 6%;
        width: 25%;
    }

    #boxa5 {
        width: 25%;
        height: 169px;
        margin-top: -114px;
        margin-left: 6.051524%;
        clear: none;
    }
}

@media only screen and (max-width: 776px) {
    #cyndivideo2 {
        height: auto;
        width: 80%;
        clear: both;
        margin-top: 20px;
        margin-left: 9.970847%;
    }

    #reunionshot {
        width: 100%;
    }

    #twins {
        clear: none;
        height: auto;
        width: 60%;
        max-width: none;
        margin: 0px auto;
        float: left;
        padding: 50px 0px 0px 20%;
    }

    #twins1 {
        clear: none;
    }

    #A_big_part_of_Idaho_tradition_was_larger_families_and_being_su {
        clear: both;
        width: 79.989259%;
        height: auto;
        margin-top: 50px;
        margin-left: 9.978519%;
    }

    #wheelbarrow {
        clear: both;
        width: 100%;
        margin-top: 100px;
        margin-left: 0%;
    }

    #Providing_for_Ten_I_look_back_at_Cyndi_and_I_in_our_youth_and_ {
        width: 79.984145%;
        clear: both;
        height: auto;
        max-width: none;
        margin-top: 100px;
        margin-left: 9.970847%;
    }

    #Because_Cyndi_wanted_a_large_family_and_we_both_wanted_to_have_ {
        width: 79.989259%;
        clear: both;
        float: left;
        margin-top: 100px;
        margin-left: 9.963175%;
    }

    #_Industrious_Mornings_by_Nicole_Cheung_daughter_No_one_exempl {
        clear: none;
    }

    #_I’ve_never_really_been_a_very_materialistic_person_I_remember {
        width: 79.989259%;
        clear: both;
        max-width: 630px;
        margin-top: 100px;
        margin-left: 9.978519%;
    }

    #My_things_in_life_that_I_liked_to_do_didn’t_cost_a_lot_I_loved {
        width: 79.989259%;
        clear: both;
        margin-top: 30px;
        margin-left: 9.978519%;
    }

    #_Providing_Experiences_Cyndi_spent_a_lot_of_time_planning_even {
        width: 79.989259%;
        clear: none;
    }

    #I_think_the_experiences_were_important_because_it_got_Cyndi_out {
        width: 79.989259%;
        clear: both;
        margin-top: 50px;
        margin-left: 9.978519%;
    }

    #_A_Helping_Hand_Tiffany_Bird_daughter-in-law_Every_time_Randy {
        clear: both;
        margin: 20px 0% 0px 4.14%;
        height: auto;
        width: 91.791589%;
    }

    #nicole {
        clear: both;
    }

    #fencebuilding {
        clear: none;
        width: 100%;
    }

    #“You_realize_‘Ya_know_I_really_don’t_need_that_’”_ {
        clear: both;
        margin-top: 30px;
        margin-left: 30%;
        padding-right: 10%;
    }

    #PNWforest {
        clear: none;
        float: none;
        width: 75%;
    }

    #“Is_it_a_sacrifice_It_might_have_looked_like_a_sacrifice_then_ {
        clear: both;
        margin-top: 30px;
        margin-left: 25%;
    }

    #cartree {
        clear: none;
        width: 75%;
        margin: 50px auto 0px 12.5%;
        float: left;
        padding: 0px 0px 0px;
    }

    #naysayerssoundcloud {
        margin-top: 16px;
        margin-left: 6.966783%;
        height: 230px;
        clear: both;
    }

    #nicole1 {
        clear: both;
        margin-top: 100px;
        margin-left: 9.970847%;
    }

    #Lake_Trip_Video_by_Michael_Bird_son {
        clear: both;
        display: block;
        margin-top: 50px;
        margin-left: 9.970847%;
    }

    #mikevideo {
        clear: both;
        margin-top: 20px;
        margin-left: 9.970847%;
        width: 79.996931%;
    }

    #Daddy-Daughter_Motorbike_Trip_Video_by_Nicole_Cheung_daughter {
        clear: both;
        margin-top: 50px;
        margin-left: 9.978519%;
    }

    #nicolevideo2 {
        clear: both;
        margin-top: 20px;
        margin-left: 9.978519%;
        width: 79.996931%;
    }

    #homeparadise {
        clear: both;
        margin-top: 100px;
        margin-left: 0%;
        width: 100%;
    }

    #Providing_a_Home_Audio_Only_ {
        clear: both;
        margin-top: 100px;
        margin-left: 9.970847%;
    }

    #grassplot {
        clear: both;
        width: 75%;
        float: left;
        margin: 50px 0px 0px 12.5%;
    }

    #soundcloudrandyhome {
        margin: 8px 0% 0px 0px;
        clear: both;
        height: 230px;
    }

    #tiffany {
        clear: none;
        max-width: 36.350377%;
    }

    #plotdug {
        clear: both;
        width: 75%;
        margin: 50px 0px 0px 12.5%;
        float: left;
    }

    #woodenwalls {
        clear: both;
        width: 75%;
        margin: 50px 0px 0px 12.5%;
        float: left;
    }

    #So_You_Want_to_Build_a_House {
        clear: both;
    }

    #natehousesoundcloud {
        clear: both;
    }

    #cement {
        clear: both;
        width: 75%;
        margin: 50px 0px 0px 12.5%;
        float: left;
    }

    #Cyndihome {
        clear: both;
        margin: 50px 0% 0px 4.999489%;
        width: 89.995908%;
        max-width: none;
        float: left;
    }

    #roofstructure {
        clear: both;
        width: 75%;
        margin-top: 50px;
        margin-left: 12.5%;
        max-width: none;
    }

    #concretekids {
        clear: both;
        width: 89.995908%;
        max-width: none;
        margin: 190px 0px 0px 4.999489%;
        float: left;
    }

    #homesun {
        clear: none;
        width: 75%;
        margin-left: 12.5%;
    }

    #kidsswim {
        clear: both;
        margin: 50px 0% 0px 5%;
        width: 89.995908%;
        max-width: none;
        float: left;
    }

    #completed {
        clear: both;
        width: 75%;
        float: none;
        padding-top: 50px;
        margin-top: 0px;
        margin-left: 12.5%;
    }

    #Inventions_Video_by_Nicole_Cheung_daughter {
        clear: both;
        margin: 50px 0px 0px 10%;
    }

    #nicolevideo {
        clear: both;
        max-width: none;
        width: 79.999489%;
        margin-top: 20px;
        margin-left: 9.998977%;
    }

    #stairway {
        clear: both;
        margin-top: 100px;
        margin-left: 0%;
    }

    #Onlookers_and_Naysayers_Audio_by_Randy_Bird_ {
        margin-top: 55.1875px;
        margin-left: 6.967772%;
        clear: none;
        width: 93.034432%;
        height: auto;
    }

    #Building_a_Home {
        margin: 0px 0% 0px 0px;
        clear: both;
    }

    #boxa {
        width: 59.991305%;
        float: none;
        clear: both;
        margin: 0px auto;
        padding: 0px;
    }

    #boxa1 {
        margin-top: 5.75px;
        margin-left: 9.872263%;
        clear: none;
        width: 70.176964%;
    }

    #hikeportrait {
        clear: both;
        width: 100%;
        margin-top: 100px;
        margin-left: 0%;
    }

    #text {
        width: 79.989259%;
        margin: 25px 0px 0px 9.978519%;
        clear: both;
    }

    #boxa3 {
        margin-top: 5.96875px;
        margin-left: 0%;
        clear: both;
        width: 28.659472%;
    }

    #boxa4 {
        margin-top: 50px;
        margin-left: 19.99284%;
        clear: both;
        width: 59.993863%;
        margin-right: auto;
        height: auto;
    }

    #boxa2 {
        margin: 44.0625px 0px 0px 18.494272%;
        width: auto;
        clear: both;
    }

    #boxa5 {
        margin: 50px 0% 0px 10.9%;
        clear: none;
        width: 50%;
        height: 169px;
    }

    #textspana28 {
        float: none;
        font-size: 24px;
        line-height: 1em;
    }
}

@media only screen and (max-width: 463px) {
    #“You_realize_‘Ya_know_I_really_don’t_need_that_’”_ {
        margin-top: 30px;
        margin-left: 30%;
        clear: both;
    }

    #reunionshot {
        width: 100%;
    }

    #Providing_for_Ten_I_look_back_at_Cyndi_and_I_in_our_youth_and_ {
        clear: both;
        width: 79.988636%;
        margin-top: 100px;
        margin-left: 9.965909%;
    }

    #twins {
        width: 60%;
        margin: 0px 0px 0px 0px;
    }

    #cyndivideo2 {
        margin-top: 20px;
        margin-left: 9.982955%;
        clear: both;
        width: 80%;
        height: auto;
    }

    #A_big_part_of_Idaho_tradition_was_larger_families_and_being_su {
        clear: both;
        width: 79.988636%;
        margin-top: 50px;
        margin-left: 9.994318%;
    }

    #wheelbarrow {
        clear: both;
        width: 100%;
        margin-top: 100px;
        margin-left: 0%;
    }

    #Because_Cyndi_wanted_a_large_family_and_we_both_wanted_to_have_ {
        clear: both;
        width: 79.988636%;
        margin-top: 100px;
        margin-left: 9.965909%;
    }

    #boxa {
        margin-top: 0px;
        clear: both;
        width: 60.232955%;
        padding: 0px;
    }

    #fencebuilding {
        width: 100%;
    }

    #_I’ve_never_really_been_a_very_materialistic_person_I_remember {
        clear: both;
        width: 79.988636%;
        margin-top: 100px;
        margin-left: 9.977273%;
    }

    #My_things_in_life_that_I_liked_to_do_didn’t_cost_a_lot_I_loved {
        clear: both;
        width: 79.988636%;
        margin-top: 30px;
        margin-left: 9.994318%;
    }

    #PNWforest {
        clear: none;
        float: none;
        padding: 30px 0px 0px;
        width: 75%;
    }

    #_Providing_Experiences_Cyndi_spent_a_lot_of_time_planning_even {
        clear: none;
        width: 79.988636%;
        height: auto;
    }

    #“Is_it_a_sacrifice_It_might_have_looked_like_a_sacrifice_then_ {
        clear: both;
        margin-top: 30px;
        margin-left: 25%;
        font-size: 24px;
    }

    #cartree {
        clear: both;
        margin: 0px auto;
        padding-top: 30px;
        width: 75%;
    }

    #Onlookers_and_Naysayers_Audio_by_Randy_Bird_ {
        margin-top: 55.1875px;
        margin-left: 6.96569%;
        clear: none;
        width: 91.315741%;
    }

    #naysayerssoundcloud {
        margin-top: 11.46875px;
        margin-left: 5.24712%;
        clear: both;
        height: 230px;
        width: auto;
        max-width: 83.838138%;
    }

    #I_think_the_experiences_were_important_because_it_got_Cyndi_out {
        clear: both;
        width: 79.988636%;
        margin-top: 50px;
        margin-left: 9.977273%;
    }

    #nicole1 {
        clear: both;
        margin-top: 100px;
        margin-left: 9.965909%;
    }

    #Lake_Trip_Video_by_Michael_Bird_son {
        clear: none;
    }

    #mikevideo {
        clear: both;
        margin-top: 20px;
        margin-left: 9.965909%;
        width: 79.988636%;
    }

    #Daddy-Daughter_Motorbike_Trip_Video_by_Nicole_Cheung_daughter {
        clear: both;
        margin-top: 50px;
        margin-left: 9.977273%;
    }

    #nicolevideo2 {
        clear: both;
        margin-top: 20px;
        margin-left: 9.977273%;
        width: 79.988636%;
    }

    #homeparadise {
        clear: both;
        margin-top: 100px;
        margin-left: 0%;
        width: 100%;
    }

    #Providing_a_Home_Audio_Only_ {
        clear: both;
        margin-top: 100px;
        margin-left: 9.965909%;
    }

    #grassplot {
        clear: none;
        width: 75%;
    }

    #Building_a_Home {
        margin: 0px 0%;
        clear: both;
        width: 100%;
        font-size: 16px;
    }

    #soundcloudrandyhome {
        margin: 20px 0% 0px;
        clear: both;
        width: 80%;
        max-width: none;
        height: 230px;
    }

    #tiffany {
        clear: both;
    }

    #_A_Helping_Hand_Tiffany_Bird_daughter-in-law_Every_time_Randy {
        clear: none;
    }

    #plotdug {
        clear: both;
        margin: 50px 0px 0px 12.5%;
        float: left;
        width: 75%;
    }

    #woodenwalls {
        clear: none;
        margin: 50px 0px 0px 12.5%;
        width: 75%;
    }

    #natehousesoundcloud {
        clear: both;
    }

    #cement {
        clear: none;
        margin-top: 50px;
        width: 75%;
    }

    #Cyndihome {
        clear: both;
        margin: 50px 0px 0px 5%;
        width: 89.994318%;
        float: left;
    }

    #roofstructure {
        clear: both;
        margin-top: 50px;
        margin-left: 9.977273%;
        width: 75%;
    }

    #concretekids {
        clear: none;
        margin-top: 50px;
        width: 89.994318%;
    }

    #homesun {
        clear: both;
        margin-top: 50px;
        margin-left: 9.948864%;
        width: 75%;
    }

    #kidsswim {
        clear: both;
        margin: 50px 0px 0px 5%;
        width: 89.994318%;
        float: left;
    }

    #completed {
        clear: both;
        width: 75%;
        margin-top: 0px;
        margin-left: 9.994318%;
    }

    #nicolevideo {
        clear: both;
        width: 80%;
        margin-top: 20px;
        margin-left: 10%;
    }

    #stairway {
        clear: both;
    }

    #So_You_Want_to_Build_a_House {
        clear: both;
    }

    #Inventions_Video_by_Nicole_Cheung_daughter {
        clear: none;
    }

    #textspana10 {
        float: none;
        font-size: 125%;
        line-height: 1em;
    }

    #boxa1 {
        margin-top: 5.75px;
        margin-left: 9.869953%;
        clear: none;
        width: 79.613636%;
    }

    #hikeportrait {
        clear: both;
        margin-top: 100px;
        margin-left: 0%;
        width: 100%;
    }

    #text {
        margin-top: 25px;
        margin-left: 9.977273%;
        clear: both;
        width: 79.988636%;
    }

    #boxa2 {
        margin-top: 44.0625px;
        margin-left: 11.994318%;
        clear: both;
        width: 80.659091%;
    }

    #boxa3 {
        margin-top: 14.96875px;
        margin-left: 0%;
        clear: both;
        width: 28.659091%;
    }

    #textspana22 {
        font-size: 24px;
    }

    #boxa4 {
        width: 59.994318%;
        margin-top: 50px;
        margin-left: 19.994318%;
        clear: both;
    }

    #textspana28 {
        font-size: 24px;
        font-style: normal;
    }

    #boxa5 {
        width: 67.568182%;
    }
}

