
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#scouts {
    float: left;
    width: 50%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin: 50px 0px 0px 10%;
    clear: both;
}

#playful {
    float: left;
    width: 50%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin: 50px 0px 0px 10%;
    clear: both;
}

#_Guile_Carma_Bird_mother_He_has_never_had_any_guile_I_have_ {
    float: left;
    font-size: 1em;
    width: 89.65841%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin: 5%;
    clear: both;
}

#textspane10 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspane11 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspane12 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#carmaprof {
    float: left;
    width: 150px;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin: 5% 5% 0%;
    clear: none;
}

#Because_of_the_gunshot_accident_when_I_was_two_years_old_my_ja {
    float: left;
    font-size: 0.875em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: rgb(71, 71, 71);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin: 30px 0px 0px 9.999649%;
    clear: both;
    max-width: 630px;
}

#“I_wasn_t_cool_I_was_probably_average_although_I_didn_t_feel {
    float: left;
    font-size: 1.5em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 34px;
    color: rgb(71, 71, 71);
    font-style: italic;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin: 30px 10% 0px 29.999825%;
    clear: both;
    max-width: 800px;
}

#Schooling_and_Appearance_I_adjusted_to_new_life_in_Rexburg_whi {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin: 100px 0px 0px 10%;
    clear: none;
    max-width: 630px;
}

#textspane8 {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: rgb(71, 71, 71);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspane9 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(71, 71, 71);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#famportraitearlychildhood {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin: 100px 0px 0px;
    clear: both;
    min-width: 0px;
}

#The_Move_to_Rexburg_I_remember_being_super_excited_to_move_to_ {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin: 100px 0px 0px 10%;
    clear: none;
    padding-top: 0px;
    max-width: 630px;
}

#textspane6 {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: rgb(71, 71, 71);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspane7 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: rgb(71, 71, 71);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#carmakenfarm {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin: 100px 0px 0px;
    clear: both;
    min-width: 0px;
}

#_All_the_way_up_until_we_moved_when_I_was_eight_I_had_a_blast {
    float: left;
    font-size: 0.875em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin: 50px 0px 0px 10%;
    clear: none;
    max-width: 630px;
}

#randyposed {
    float: left;
    width: 50%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin: 50px 0px 0px 9.999649%;
    clear: both;
}

#I_remember_my_older_brothers_built_a_treehouse_that_was_30-40_f {
    float: left;
    font-size: 0.875em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin: 50px 0px 0px 9.999649%;
    clear: both;
    max-width: 630px;
}

#bikewithdad {
    float: left;
    width: 50%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin: 50px 0px 0px 10%;
    clear: none;
    padding: 0px 0px 0px 0%;
    min-width: 0px;
}

#The_Gun_Accident_Cyndi_Bird_wife_When_Randy_was_just_two_year {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin: 50px 0px 0px 1%;
    clear: none;
    max-width: 630px;
}

#textspane3 {
    float: none;
    font-size: 1.125em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspane4 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspane5 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#cyndiprofile {
    float: left;
    width: 7.998491%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin: 49px 0px 0px 0.99926305%;
    clear: both;
}

#cribbaby {
    float: left;
    width: 50%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin: 50px 0px 0px 9.999649%;
    clear: both;
}

#Dad_had_raspberries_and_always_had_a_huge_garden_north_of_the_ {
    float: left;
    font-size: 0.875em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin: 50px 0% 0px 9.999649%;
    clear: both;
    max-width: 630px;
}

#carmakensuitcase {
    float: left;
    width: 50%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 22;
    margin: 50px 0px 0px 9.998772%;
    clear: both;
}

#Beginnings_Born_in_an_Idaho_Falls_hospital_in_1957_I_was_the_ {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 24;
    margin: 100px 0px 0px 9.998772%;
    clear: both;
    max-width: 630px;
}

#textspane {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspane1 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#B_O_Y_H_O_O_D {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 25;
    margin: 0px 0px 0px 0%;
    clear: none;
    min-width: 0px;
}

#boxe {
    float: left;
    height: auto;
    margin: 126px 0px 0px 10%;
    clear: none;
    width: 25%;
    border: 1px solid black;
}

#textspane2 {
    float: none;
    font-size: 22px;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

@media only screen and (max-width: 1102px) {
    #Beginnings_Born_in_an_Idaho_Falls_hospital_in_1957_I_was_the_ {
        margin: 75px 0px 0px 10%;
        max-width: none;
        clear: both;
    }

    #carmakenfarm {
        margin: 60px 0px 0px;
        clear: both;
        width: 100%;
    }

    #The_Move_to_Rexburg_I_remember_being_super_excited_to_move_to_ {
        margin: 60px 0px 0px 10%;
        max-width: none;
    }

    #famportraitearlychildhood {
        margin: 60px 0px 0px;
        clear: both;
        width: 100%;
    }

    #Schooling_and_Appearance_I_adjusted_to_new_life_in_Rexburg_whi {
        margin: 60px 0px 0px 10%;
        max-width: none;
    }

    #carmakensuitcase {
        max-width: none;
        margin: 34px 0px 0px 10%;
        clear: both;
    }

    #B_O_Y_H_O_O_D {
        width: 100%;
    }

    #Dad_had_raspberries_and_always_had_a_huge_garden_north_of_the_ {
        margin-top: 30px;
        margin-left: 9.99801%;
        clear: both;
        max-width: none;
    }

    #cribbaby {
        margin: 30px 0px 0px 10%;
        clear: both;
        max-width: none;
    }

    #cyndiprofile {
        margin: 30px 0px 0px 10%;
        clear: both;
        width: 15%;
    }

    #The_Gun_Accident_Cyndi_Bird_wife_When_Randy_was_just_two_year {
        margin: 20px 0px 0px 10%;
        clear: left;
        max-width: none;
    }

    #bikewithdad {
        clear: left;
        max-width: none;
        margin: 30px 0px 0px 10%;
    }

    #I_remember_my_older_brothers_built_a_treehouse_that_was_30-40_f {
        margin: 30px 0px 0px 10%;
        clear: both;
        max-width: none;
    }

    #randyposed {
        margin: 30px 0px 0px 10%;
        clear: both;
        max-width: none;
    }

    #_All_the_way_up_until_we_moved_when_I_was_eight_I_had_a_blast {
        margin: 30px 0px 0px 10%;
    }

    #“I_wasn_t_cool_I_was_probably_average_although_I_didn_t_feel {
        margin: 15px 10% 0px 30%;
        clear: both;
    }

    #Because_of_the_gunshot_accident_when_I_was_two_years_old_my_ja {
        margin: 15px 0px 0px 10%;
        clear: both;
        max-width: none;
    }

    #boxe {
        width: 25%;
    }

    #playful {
        margin: 30px 0px 0px 10%;
        clear: both;
    }

    #scouts {
        margin: 30px 0px 0px 10%;
        clear: both;
    }

    #textspane2 {
        float: none;
    }
}

@media only screen and (max-width: 785px) {
    #boxe {
        margin: 30px 0px 0px 20%;
        width: 60%;
    }

    #playful {
        width: 80%;
        max-width: none;
    }

    #scouts {
        width: 80%;
        max-width: none;
    }

    #_All_the_way_up_until_we_moved_when_I_was_eight_I_had_a_blast {
        width: 80%;
    }

    #Beginnings_Born_in_an_Idaho_Falls_hospital_in_1957_I_was_the_ {
        width: 80%;
    }

    #carmakensuitcase {
        width: 80%;
    }

    #Dad_had_raspberries_and_always_had_a_huge_garden_north_of_the_ {
        width: 80%;
    }

    #cribbaby {
        width: 80%;
    }

    #The_Gun_Accident_Cyndi_Bird_wife_When_Randy_was_just_two_year {
        width: 80%;
    }

    #bikewithdad {
        width: 80%;
    }

    #I_remember_my_older_brothers_built_a_treehouse_that_was_30-40_f {
        width: 80%;
    }

    #randyposed {
        width: 80%;
    }

    #The_Move_to_Rexburg_I_remember_being_super_excited_to_move_to_ {
        width: 80%;
    }

    #Schooling_and_Appearance_I_adjusted_to_new_life_in_Rexburg_whi {
        width: 80%;
    }

    #Because_of_the_gunshot_accident_when_I_was_two_years_old_my_ja {
        width: 80%;
    }
}

