.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#sledding {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin: 200px 0px 0px 0%;
    clear: both;
    min-width: 0px;
}

#skiing {
    float: left;
    width: 21%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin: 0px 0px 0px 3%;
    clear: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#ziplining {
    float: left;
    width: 21%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin: 0px 0px 0px 3%;
    clear: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#whitewaterrafting {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin: 200px 0% 0px;
    clear: both;
    min-width: 0px;
}

#nicolevideoadbelieving {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin-top: 11px;
    margin-left: 0%;
    clear: both;
    margin-right: 0%;
    min-width: 0px;
}

#A_Peak_Tradition_Nicole_Cheung_daughter {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin: 0px 0px 0px 0%;
    clear: none;
}

#textspanad7 {
    float: none;
    font-size: 1.5em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanad8 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#boating {
    float: left;
    width: 48.738586%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin-top: 0px;
    margin-left: -0.00119553%;
    clear: none;
    margin-right: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#motorbiking {
    float: left;
    width: 48.75%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#whipcream {
    float: left;
    width: 48.75%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin-top: 0px;
    margin-left: 2.5%;
    clear: none;
    margin-right: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#greatwall {
    float: left;
    width: 48.75%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 0px;
    margin-left: 2.5%;
    clear: none;
    margin-right: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#waterskiing {
    float: left;
    width: 48.738586%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin: 0px 0% 0px 2.5%;
    clear: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#tubing {
    float: left;
    width: 48.738586%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#jetskiing {
    float: left;
    width: 48.738586%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin-top: 0px;
    margin-left: 2.5%;
    clear: none;
    margin-right: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#cliffjumper {
    float: left;
    width: 90%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin: 200px 0px 0px 4.999317%;
    clear: both;
    border: 0px solid rgba(158, 147, 147, 0.568627);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#The_Legendary_Christmas_Tree_Hunt_Cyndi_Bird_wife {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin: 0px 0%;
    clear: none;
}

#textspanad4 {
    float: none;
    font-size: 1.5em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanad5 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#cyndivideoad02 {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 22;
    margin: 20px 0% 0px;
    clear: none;
}

#Thrills_and_Shrills_Cyndi_Bird_wife {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 23;
    margin: 0px 0%;
    clear: none;
}

#textspanad2 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#snowmobilingwith {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 24;
    margin: 0px 0%;
    clear: none;
    min-width: 0px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#imagead {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    min-width: 0px;
}

#boxad1 {
    float: left;
    height: auto;
    margin: 0px 0% 0px 2.5%;
    clear: none;
    width: 48.75%;
}

#boxad3 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 48.75%;
    margin-right: 0%;
}

#boxad2 {
    float: left;
    height: auto;
    margin: 30px 0px 0px 5%;
    clear: both;
    width: 90%;
}

#skiingup {
    float: left;
    width: 21%;
    max-width: 100%;
    height: auto;
    margin: 0px 0px 0px 3%;
    clear: none;
    color: rgb(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#snorkeling {
    float: left;
    width: 48.75%;
    max-width: 100%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#boxad4 {
    float: left;
    height: auto;
    margin: 200px 0px 0px 4.999317%;
    clear: both;
    width: 90%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#boxad6 {
    float: left;
    height: auto;
    margin: 40px 0px 0px 0%;
    clear: both;
    width: 100%;
    min-width: 0px;
}

#boxad5 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
}

#boxad8 {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    width: 99.908955%;
    margin-right: 0%;
}

#boxad9 {
    float: left;
    height: auto;
    margin: 40px 0% 0px;
    clear: both;
    width: 100%;
    min-width: 0px;
}

#boxad7 {
    float: left;
    height: auto;
    margin: 200px 0px 0px 4.999317%;
    clear: both;
    width: 90%;
}

#boxad10 {
    float: left;
    height: auto;
    margin: 200px 0px 0px 4.999317%;
    clear: both;
    width: 60%;
}

#boxad {
    float: left;
    height: auto;
    margin-left: 4.999317%;
    margin-top: 80px;
    clear: both;
    width: 90%;
}

#imagead1 {
    float: left;
    width: 21%;
    max-width: 100%;
    height: auto;
    margin: 0px 0px 0px 3%;
    clear: none;
    color: rgb(0, 0, 0);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#boxad11 {
    float: left;
    height: auto;
    margin: 200px 0px 0px 0%;
    clear: both;
    width: 100%;
    min-width: 0px;
}

#treehunt {
    float: left;
    width: 48.75%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin: 77px 0% 0px;
    clear: none;
    min-width: 0px;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#textspanad1 {
    float: none;
    font-size: 1.5em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanad {
    float: none;
    font-size: 1.5em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanad3 {
    float: none;
    font-size: 1.5em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanad6 {
    float: none;
    font-size: 1.5em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

@media only screen and (max-width: 1200px) {
    #cliffjumper {
        margin: 150px 0px 0px 5%;
    }

    #boxad4 {
        margin: 150px 0px 0px 5%;
    }

    #whitewaterrafting {
        margin: 150px 0% 0px;
    }

    #boxad7 {
        margin: 150px 0px 0px 5%;
    }

    #boxad10 {
        margin: 150px 0px 0px 5%;
    }

    #boxad11 {
        margin-top: 150px;
    }

    #sledding {
        margin: 150px 0px 0px 0%;
    }

    #nicolevideoadbelieving {
        margin: 20px 0% 0px;
    }

    #skiingup {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #skiing {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #ziplining {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #imagead1 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #greatwall {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #motorbiking {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #snorkeling {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #whipcream {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #tubing {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #waterskiing {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #jetskiing {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #boating {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #boxad2 {
        margin: 20px 0px 0px 5%;
    }
}

@media only screen and (max-width: 750px) {
    #boxad {
        margin: 60px 0px 0px 5%;
    }

    #boxad2 {
        margin: 15px 0px 0px 5%;
    }

    #cliffjumper {
        margin: 110px 0px 0px 5%;
    }

    #boxad4 {
        margin: 110px 0px 0px 5%;
    }

    #whitewaterrafting {
        margin: 110px 0% 0px;
    }

    #boxad7 {
        margin: 110px 0px 0px 5%;
    }

    #boxad10 {
        margin: 110px 0px 0px 5%;
    }

    #boxad11 {
        margin: 110px 0px 0px 0%;
    }

    #sledding {
        margin: 110px 0px 0px 0%;
    }
}

@media only screen and (max-width: 500px) {
    #boxad1 {
        clear: left;
        margin: 20px 0% 0px;
        width: 100%;
    }

    #snowmobilingwith {
        margin: 0px 0%;
        width: 100%;
        max-width: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #boxad {
        width: 80%;
        margin-top: 66px;
        margin-left: 10%;
        clear: both;
    }

    #boxad3 {
        clear: none;
        width: 100%;
    }

    #treehunt {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #boxad2 {
        margin: 20px 0px 0px 10%;
        clear: both;
        width: 80%;
    }

    #cliffjumper {
        margin: 90px 0px 0px 0%;
        clear: both;
        width: 100%;
        max-width: none;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    #boxad4 {
        margin: 90px 0px 0px 5%;
        clear: both;
    }

    #whitewaterrafting {
        margin: 90px 0% 0px;
        clear: both;
    }

    #boxad7 {
        margin: 90px 0px 0px 5%;
        clear: both;
    }

    #boxad10 {
        margin: 90px 0px 0px 10%;
        clear: both;
        width: 80%;
    }

    #boxad11 {
        margin: 90px 0px 0px 0%;
        clear: both;
    }

    #sledding {
        margin: 90px 0px 0px;
        clear: both;
    }

    #treehunt {
        display: block;
        width: 100%;
        max-width: none;
        margin: 0px 0%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #The_Legendary_Christmas_Tree_Hunt_Cyndi_Bird_wife {
        margin-top: 40px;
        margin-left: 0%;
        clear: none;
    }

    #skiing {
        clear: left;
        margin-top: 20px;
        width: 70%;
        margin-left: 15%;
    }

    #ziplining {
        clear: left;
        margin-top: 20px;
        width: 70%;
        margin-left: 15%;
    }

    #imagead1 {
        clear: left;
        margin-top: 20px;
        width: 70%;
        margin-left: 15%;
    }

    #skiingup {
        width: 70%;
        margin-left: 15%;
    }

    #boxad9 {
        margin: 10px 0% 0px;
    }

    #boxad6 {
        margin: 10px 0px 0px 0%;
    }

    #cyndivideoad02 {
        margin: 10px 0% 0px;
    }

    #nicolevideoadbelieving {
        margin: 10px 0% 0px;
    }

    #textspanad1 {
        float: none;
        font-size: 1em;
        line-height: 1em;
    }

    #textspanad2 {
        font-size: 0.85em;
    }

    #textspanad {
        float: none;
        font-size: 1.14em;
        line-height: 1em;
    }

    #textspanad3 {
        float: none;
        font-size: 1.14em;
        line-height: 1em;
    }

    #textspanad5 {
        font-size: 0.85em;
    }

    #textspanad4 {
        line-height: 1.14em;
        font-size: 1.14em;
    }

    #textspanad6 {
        float: none;
        font-size: 1.14em;
        line-height: 1em;
    }

    #textspanad8 {
        font-size: 0.85em;
        line-height: 1em;
    }
}

