
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#withbrothers {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin: 100px 0px 0px;
    clear: both;
    min-width: 0px;
}

#_Randy_never_made_the_high_school_team_Not_because_he_wasn’t_ {
    float: left;
    font-size: 0.875em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin: 50px 0px 0px 9.99927%;
    clear: both;
    max-width: 630px;
}

#dogfencebros {
    float: left;
    width: 75%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin: 50px 0px 0px 9.99927%;
    clear: both;
}

#Mr_Nice_Guy_Robert_Bird_brother_I_remember_one_day_after_pla {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin: 100px 0px 0px 1%;
    clear: none;
    max-width: 630px;
}

#textspanf7 {
    float: none;
    font-size: 1.75em;
    line-height: 34px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanf8 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanf9 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#robert {
    float: left;
    width: 7.999903%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin: 100px 0px 0px 0.99907516%;
    clear: both;
}

#teenager {
    float: left;
    width: 50%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin: 50px 0px 0px 9.99927%;
    clear: both;
}

#photobooth {
    float: left;
    width: 15%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin-top: 349px;
    margin-left: 10.068633%;
    clear: none;
}

#Snowmobiling_My_father_had_a_number_of_side_businesses_He_ren {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin: 100px 0px 0px 10%;
    clear: none;
    max-width: 630px;
}

#textspanf4 {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanf5 {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: black;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanf6 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#studying {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin: 100px 0px 0px 0%;
    clear: both;
    min-width: 0px;
}

#Best_Friends_Our_home_on_Reid_street_was_only_1_2_a_block_from {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin: 50px 0px 0px 9.99927%;
    clear: both;
    max-width: 630px;
}

#textspanf2 {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanf3 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#randytodd {
    float: left;
    width: 50%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin: 46px 0px 0px 9.99927%;
    clear: both;
}

#_I_worked_at_the_Arctic_Circle_off_and_on_for_years_Wages_wer {
    float: left;
    font-size: 0.875em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 24px;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin: 50px 0% 0px 10%;
    clear: both;
    max-width: 630px;
}

#Arctic_Circle {
    float: left;
    width: 60%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin: 50px 0px 0px 9.99927%;
    clear: both;
}

#bowlcut {
    float: left;
    width: 20%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin-top: 128px;
    margin-left: 9.954245%;
    clear: none;
    margin-right: 0%;
}

#Middle_and_High_School_My_junior_high_school_campus_was_locate {
    float: left;
    font-size: 1em;
    width: 50%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin: 100px 0px 0px 9.99927%;
    clear: both;
    max-width: 630px;
}

#textspanf {
    float: none;
    font-size: 1.75em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspanf1 {
    float: none;
    font-size: 0.875em;
    line-height: 24px;
    color: black;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#formativeyears {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    min-width: 0px;
}

@media only screen and (max-width: 1096px) {
    #Middle_and_High_School_My_junior_high_school_campus_was_locate {
        margin: 75px 0px 0px 10%;
    }

    #studying {
        margin: 75px 0px 0px 0%;
    }

    #photobooth {
        width: 20%;
    }

    #Mr_Nice_Guy_Robert_Bird_brother_I_remember_one_day_after_pla {
        margin: 75px 0px 0px 1%;
    }

    #Snowmobiling_My_father_had_a_number_of_side_businesses_He_ren {
        margin: 75px 0px 0px 10%;
    }

    #withbrothers {
        margin: 75px 0px 0px;
    }

    #_I_worked_at_the_Arctic_Circle_off_and_on_for_years_Wages_wer {
        margin: 50px 0% 0px 10%;
    }

    #robert {
        margin: 75px 0px 0px 1%;
    }
}

@media only screen and (max-width: 750px) {
    #Middle_and_High_School_My_junior_high_school_campus_was_locate {
        width: 79.997997%;
        margin: 60px 0px 0px 9.998498%;
        clear: both;
    }

    #Arctic_Circle {
        width: 79.997997%;
        margin: 30px 0px 0px 9.998498%;
        clear: both;
    }

    #_I_worked_at_the_Arctic_Circle_off_and_on_for_years_Wages_wer {
        margin: 30px 0% 0px 9.998498%;
        width: 79.997997%;
        clear: both;
    }

    #bowlcut {
        width: 59.998498%;
        margin: 30px 0% 0px 20%;
    }

    #randytodd {
        margin: 30px 0px 0px 10%;
        clear: both;
        width: 80%;
    }

    #formativeyears {
        width: 100%;
    }

    #Best_Friends_Our_home_on_Reid_street_was_only_1_2_a_block_from {
        margin: 30px 0px 0px 10%;
        clear: both;
        width: 80%;
    }

    #studying {
        margin: 60px 0px 0px 0%;
        clear: both;
        width: 100%;
    }

    #Snowmobiling_My_father_had_a_number_of_side_businesses_He_ren {
        width: 80%;
        margin: 60px 0px 0px 10%;
    }

    #photobooth {
        width: 60%;
        margin: 30px 0px 0px 20%;
    }

    #teenager {
        margin: 30px 0px 0px 10%;
        clear: both;
        width: 80%;
    }

    #robert {
        margin: 60px 0px 0px 10%;
        clear: both;
        width: 30%;
    }

    #Mr_Nice_Guy_Robert_Bird_brother_I_remember_one_day_after_pla {
        margin: 30px 0px 0px 10%;
        clear: left;
        width: 80%;
    }

    #dogfencebros {
        margin: 30px 0px 0px 10%;
        clear: both;
        width: 80%;
        max-width: none;
    }

    #_Randy_never_made_the_high_school_team_Not_because_he_wasn’t_ {
        margin: 30px 0px 0px 10%;
        clear: both;
        width: 80%;
    }

    #withbrothers {
        margin: 60px 0px 0px;
        clear: both;
        width: 100%;
    }
}

