

#linedsp5 {
    float: left;
    height: 1px;
    width: 83.33%;
        background-color: black;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(7, 8, 9);
    border-right-color: rgb(7, 8, 9);
    border-bottom-color: rgb(7, 8, 9);
    border-left-color: rgb(7, 8, 9);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 6.66%;
    margin-left: 8.33%;
    clear: both;
}

#“Doug_and_Skip_always_seemed_to_work_well_together_Skip_was_al {
    float: left;
    font-size: 1em;
    width: 83.33%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin-top: 6.6666%;
    margin-left: 8.33%;
    clear: both;
}

#textspandsp29 {
    float: none;
    font-size: 1.400916859999999998em;
    line-height: 1.8em;
    color: rgb(20, 22, 24);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp30 {
    float: none;
    font-size: 1em;
    line-height: 1.8em;
    color: rgb(20, 22, 24);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#tombstone {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 38;
    margin-top: 2.08000516%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#work_lamps {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 45;
    margin-top: 6.66658134%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
    min-width: 0px;
}

#pleasantonhome {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin-top: 6.6666%;
    margin-left: 0%;
    clear: both;
    min-width: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Laurie_Video_Miscarriage {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 39;
    margin-top: 2.37756%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0%;
}

#work_praise_1 {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 46;
    margin-top: 2.0800%;
    margin-left: 8.33%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Audio_Doug_war_historical_events {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin-top: 1.58%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Loss_Sorrow {
    float: left;
    font-size: 1.944468em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(20, 22, 24);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 40;
    margin-top: 6.66658993%;
    margin-left: 8.33%;
    clear: none;
    padding-right: 8.33%;
}

#Rectangle_1 {
    float: left;
    height: auto;
    width: 40.63%;
    background-color: rgb(6, 8, 8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 47;
    margin-top: 2.0800%;
    margin-left: 2.0800%;
    clear: none;
    display: none;
}

#HISTORICAL_EVENTS {
    float: left;
    font-size: 1.0625em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 6.6666%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#TRIBULATIONS {
    float: left;
    font-size: 2.1875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 41;
    margin-top: 271.172237%;
    margin-left: 0%;
    clear: both;
    display: none;
}

#work_portrait {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 48;
    margin-top: 2.0800%;
    margin-left: 2.0800%;
    clear: none;
    min-width: 0px;
}

#linedsp4 {
    float: left;
    height: 1px;
    width: 83.33%;
        background-color: black;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(7, 8, 9);
    border-right-color: rgb(7, 8, 9);
    border-bottom-color: rgb(7, 8, 9);
    border-left-color: rgb(7, 8, 9);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin-top: 6.6666%;
    margin-left: 8.33%;
    clear: both;
}

#work_praise_2 {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 49;
    margin-top: 2.078101%;
    margin-left: 8.328101%;
    clear: both;
}

#linedsp3 {
    float: left;
    height: 1px;
    width: 83.33%;
        background-color: black;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(7, 8, 9);
    border-right-color: rgb(7, 8, 9);
    border-bottom-color: rgb(7, 8, 9);
    border-left-color: rgb(7, 8, 9);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 42;
    margin-top: 6.66658134%;
    margin-left: 8.328101%;
    clear: both;
}

#work_mag_4 {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 51;
    margin-top: 2.078101%;
    margin-left: 51.038447%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#by_DOUG_SALMON7 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 5px;
    margin-left: 4.609375%;
    clear: none;
}

#_But_then_when_we_got_that_next_job_then_things_seemed_to_fit_ {
    float: left;
    font-size: 1em;
    width: 100.000418%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin-top: 0%;
    margin-left: 0.00297194%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#textspandsp26 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp27 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#eric_video_unemployment {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin-top: 2.379975%;
    margin-left: 8.33%;
    clear: both;
}

#resume_2 {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin-top: 8.433536%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
    min-width: 0px;
}

#work_mag_3 {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 52;
    margin-top: 2.0800%;
    margin-left: 2.0800%;
    clear: none;
}

#blackboxdsp12 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#working_everyday_of_your_life {
    float: left;
    font-size: 1.944468em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(20, 22, 24);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin-top: 6.66659341%;
    margin-left: 8.33%;
    clear: both;
    padding-right: 8.33%;
}

#resume_1 {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
    min-width: 0px;
}

#work_mag_2 {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 53;
    margin-top: 2.078101%;
    margin-left: 8.328101%;
    clear: both;
}

#familyteens {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 75;
    margin-top: 4.159824%;
    margin-left: 8.33%;
    clear: both;
}

#dressedup {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin-top: 6.66659341%;
    margin-left: 8.328101%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#work_mag_1 {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 54;
    margin-top: 6.66658134%;
    margin-left: 8.328101%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#by_SKIP_SALMON4 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 71;
    margin-top: 5px;
    margin-left: 4.610055%;
    clear: none;
}

#_During_the_time_that_we_lived_in_New_Jersey_it_was_challengin {
    float: left;
    font-size: 1em;
    width: 100.00298%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 73;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsp20 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#bathtime {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 122;
    margin-top: 2.0800%;
    margin-left: 2.08002743%;
    clear: none;
}

#THEN_ARRIVE_THE_CHILDREN {
    float: left;
    font-size: 2.1875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 153;
    margin-top: 5.151179%;
    margin-left: 8.33%;
    clear: both;
    padding-right: 8.33%;
    padding-left: 0%;
}

#blackboxdsp9 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 70;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#by_DOUG_SALMON4 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 118;
    margin-top: 5px;
    margin-left: 4.609375%;
    clear: none;
}

#_After_we_got_out_of_the_military_we_made_the_long_trek_home_– {
    float: left;
    font-size: 1em;
    width: 100.000363%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 120;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsp14 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp15 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#groupbath {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 123;
    margin-top: 2.0800%;
    margin-left: 8.33%;
    clear: both;
}

#linedsp {
    float: left;
    height: 1px;
    width: 83.33%;
        background-color: black;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(7, 8, 9);
    border-right-color: rgb(7, 8, 9);
    border-bottom-color: rgb(7, 8, 9);
    border-left-color: rgb(7, 8, 9);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 154;
    margin-top: 4.150164%;
    margin-left: 8.33%;
    clear: both;
}

#Home_•_Love_Story_•_Perseverance_•_Family_•_Ser {
    float: left;
    font-size: 0.8458429999999999em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(62, 77, 77);
    font-style: italic;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 188;
    margin-top: 1%;
    margin-left: 0%;
    clear: both;
    min-width: 0px;
}

#Doug_Unemployment {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 23;
    margin-top: 2.38%;
    margin-left: 8.33%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-left: 0%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#DEDICATION_TO_A_CAREER {
    float: left;
    font-size: 2.1875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 62;
    margin-top: 6.66658134%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 8.33%;
}

#Video_-_Laurie_Moving {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 77;
    margin-top: 2.37756%;
    margin-left: 8.33%;
    clear: both;
}

#Audio_Tina_Moving {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 80;
    margin-top: 1.58%;
    margin-left: 2.0800%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#blackboxdsp6 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 117;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0%;
    clear: both;
    margin-right: 0%;
}

#twogirlssitting {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 124;
    margin-top: 6.6666%;
    margin-left: 2.08000476%;
    clear: none;
}

#smileupclose {
    float: left;
    width: 44.1%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 155;
    margin-top: 2.08000516%;
    margin-left: 2.08002931%;
    clear: none;
}

#Title_Line_f2 {
    float: left;
    height: 1px;
    width: 66.6666%;
    background-color: rgb(6, 8, 8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 189;
    margin-top: 0.5%;
    margin-left: 16.6666%;
    clear: none;
}

#working_through_unemployment {
    float: left;
    font-size: 1.944468em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(20, 22, 24);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 24;
    margin-top: 6.66658134%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0%;
    padding-right: 8.33%;
}

#by_DOUG_SALMON5 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 58;
    margin-top: 5px;
    margin-left: 4.592014%;
    clear: none;
}

#_We_stayed_with_Friden_for_19_years_in_a_variety_of_positions_ {
    float: left;
    font-size: 1em;
    width: 100.00298%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 60;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsp22 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp23 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#work_meeting {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 63;
    margin-top: 6.66658134%;
    margin-left: 0%;
    clear: both;
    min-width: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#From_One_Place {
    float: left;
    font-size: 1.944468em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(20, 22, 24);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 78;
    margin-top: 6.66658134%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 8.33%;
}

#New_in_Town {
    float: left;
    font-size: 1.0625em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 81;
    margin-top: 2.0800%;
    margin-left: 2.0800%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#tabletoptwo {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 125;
    margin-top: 6.6666%;
    margin-left: 8.33%;
    clear: both;
}

#dougsmile {
    float: left;
    width: 37.26%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 156;
    margin-top: 2.078101%;
    margin-left: 8.33%;
    clear: both;
}

#Perseverance {
    float: left;
    font-size: 3.6458775em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(32, 38, 39);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 190;
    margin-top: 0.39605873%;
    margin-left: 0%;
    clear: both;
    min-width: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#blackboxdsp10 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 57;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0%;
    clear: both;
    margin-right: 0%;
    margin-bottom: 0px;
}

#linedsp2 {
    float: left;
    height: 1px;
    width: 83.33%;
        background-color: black;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(7, 8, 9);
    border-right-color: rgb(7, 8, 9);
    border-bottom-color: rgb(7, 8, 9);
    border-left-color: rgb(7, 8, 9);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 64;
    margin-top: 6.66658134%;
    margin-left: 8.33%;
    clear: both;
}

#skiptrailerstep {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 157;
    margin-top: 6.66661756%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#by_DOUG_SALMON6 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 29;
    margin-top: 5px;
    margin-left: 4.609375%;
    clear: none;
}

#_As_I_look_back_survival_has_been_part_of_my_life_all_along_I {
    float: left;
    font-size: 1em;
    width: 100.000%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 31;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsp24 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#HERE_TO_THERE {
    float: left;
    font-size: 2.1875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 90;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#VideoBirthofTinaandLaurie {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 127;
    margin-top: 2.375145%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Title_Line_f1 {
    float: left;
    height: 1px;
    width: 66.6666%;
    background-color: rgb(6, 8, 8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 192;
    margin-top: 0.99618431%;
    margin-left: 16.6666%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#blackboxdsp11 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 28;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#by_SKIP_SALMON3 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 86;
    margin-top: 5px;
    margin-left: 4.609375%;
    clear: none;
}

#_Then_we_moved_to_Santa_Barbara_CA_Eric_started_school_there_ {
    float: left;
    font-size: 1em;
    width: 100.003596%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 88;
    margin-top: 6.6666%;
    margin-left: 0%;
    clear: both;
    margin-right: 0%;
    margin-bottom: 0px;
}

#textspandsp18 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#santabarbara {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 82;
    margin-top: 2.079123%;
    margin-left: 2.08000386%;
    clear: none;
    margin-right: 0px;
}

#The_Births_of_Tina {
    float: left;
    font-size: 1.944468em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(20, 22, 24);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 128;
    margin-top: 6.6666695344%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 8.33%;
}

#trailerfrontwtina {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 137;
    margin-top: 6.66661756%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
    min-width: 0px;
}

#skipdesert {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 165;
    margin-top: 2.069648%;
    margin-left: 8.33%;
    clear: both;
}


#blackboxdsp8 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 85;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0.00%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#by_DOUG_SALMON3 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 133;
    margin-top: 5px;
    margin-left: 4.609375%;
    clear: none;
}

#_The_military_did_give_me_the_discipline_that_I_was_looking_for {
    float: left;
    font-size: 1em;
    width: 100.000363%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 135;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#textspandsp12 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#_The_laundry_was_down_the_street_in_a_laundromat_There_was_a_c {
    float: left;
    font-size: 1em;
    width: 100.000363%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 138;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsp10 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#by_SKIP_SALMON1 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 161;
    margin-top: 5px;
    margin-left: 4.609375%;
    clear: none;
}

#_Probably_a_day_or_two_after_we_moved_in_there_was_a_knock_on_ {
    float: left;
    font-size: 1em;
    width: 100.000251%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 163;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#textspandsp6 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#smiletrailer {
    float: left;
    width: 32.38%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 166;
    margin-top: 6.66663891%;
    margin-left: 2.08000476%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#home_2 {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 91;
    margin-top: 4.158409%;
    margin-left: 2.08002743%;
    clear: none;
}

#blackboxdsp5 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 132;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0%;
    clear: both;
    margin-right: 0%;
}

#blackboxdsp2 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 160;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#crouchdown {
    float: left;
    width: 48.67%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 167;
    margin-top: 6.66660549%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#home_1 {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 93;
    margin-top: 4.156202%;
    margin-left: 8.33%;
    clear: both;
}

#Skip_meatloaf_relying {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 140;
    margin-top: 1.579405%;
    margin-left: 8.33%;
    clear: both;
}

#skipbabytina {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 143;
    margin-top: 6.66655719%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#linedsp1 {
    float: left;
    height: 1px;
    width: 83.33%;
        background-color: black;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(7, 8, 9);
    border-right-color: rgb(7, 8, 9);
    border-bottom-color: rgb(7, 8, 9);
    border-left-color: rgb(7, 8, 9);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 94;
    margin-top: 4.157409%;
    margin-left: 8.33%;
    clear: both;
}

#Meatloaf {
    float: left;
    font-size: 1.0625em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 141;
    margin-top: 4.152579%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#militarycamping {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 175;
    margin-top: 6.66697981%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#skipw3kids {
    float: left;
    width: 26.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 95;
    margin-top: 2.0800%%;
    margin-left: 2.0800%%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#by_SKIP_SALMON {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 171;
    margin-top: 5px;
    margin-left: 4.615246%;
    clear: none;
}

#_We_were_married_September_25th_1954_Doug_was_already_in_the_ {
    float: left;
    font-size: 1em;
    width: 100.000251%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 173;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsp4 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp5 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#wkids {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 176;
    margin-top: 3.160368%;
    margin-left: 2.08001649%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#tinaericlaurie {
    float: left;
    width: 26.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 96;
    margin-top: 2.08001723%;
    margin-left: 2.0800009308%;
    clear: none;
}

#by_DOUG_SALMON1 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 147;
    margin-top: 5px;
    margin-left: 4.609375%;
    clear: none;
}

#_Along_comes_Tina_and_that_was_scary_This_little_tiny_baby_and {
    float: left;
    font-size: 1em;
    width: 100.000%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 149;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsp8 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp9 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#blackboxdsp1 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 170;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#dinnerwithkids {
    float: left;
    width: 54.95%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 97;
    margin-top: 2.08%;
    margin-left: 8.33%;
    clear: both;
}

#blackboxdsp3 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 146;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0.00%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#JOINING_THE_MILITARY {
    float: left;
    font-size: 2.1875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 184;
    margin-top: 6.66660549%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 8.33%;
}

#reddresses {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 98;
    margin-top: 2.074478%;
    margin-left: 8.33%;
    clear: both;
}

#by_DOUG_SALMON {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 180;
    margin-top: 5px;
    margin-left: 4.609375%;
    clear: none;
}

#_I_think_the_story_begins_when_I_was_a_teenager_and_I_was_not_d {
    float: left;
    font-size: 1em;
    width: 100.000251%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 182;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#textspandsp {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp2 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: georgia;
}

#textspandsp3 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#deserttown {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 185;
    margin-top: 4.150164%;
    margin-left: 0%;
    clear: both;
    min-width: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#blackboxdsp {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 179;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#redkids {
    float: left;
    width: 23.76%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 102;
    margin-top: 2.08000476%;
    margin-left: 2.0800009252%;
    clear: none;
}

#xneighborhood {
    float: left;
    width: 57.5%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 103;
    margin-top: 2.075686%;
    margin-left: 8.33%;
    clear: both;
}

#playingwdolls {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 104;
    margin-top: 6.66655719%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#skiplaurietina2 {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 112;
    margin-top: 6.66655719%;
    margin-left: 8.33%;
    clear: both;
}

#by_SKIP_SALMON2 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 108;
    margin-top: 5px;
    margin-left: 4.609375%;
    clear: none;
}

#_As_we_moved_on_the_children_grew_up_and_we_moved_to_Bountiful {
    float: left;
    font-size: 1em;
    width: 100.000363%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 110;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsp16 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#blackboxdsp7 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 107;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0.00%;
    clear: both;
    margin-right: 0%;
}

#textspandsp1 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp7 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp11 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp13 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp17 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp21 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp25 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsp28 {
    float: none;
    font-size: 1.4009em;
    line-height: 1.8em;
    color: rgb(20, 22, 24);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#boxdsp {
    float: left;
    height: auto;
    margin-left: 8.33%;
    margin-top: 3.15398%;
    clear: both;
    width: 40.629898%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#boxdsp1 {
    float: left;
    height: auto;
    margin-left: 8.33%;
    margin-top: 4.150164%;
    clear: both;
    width: 40.629898%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#boxdsp2 {
    float: left;
    height: auto;
    margin-left: 8.33%;
    margin-top: 6.6666%;
    clear: both;
    width: 40.629898%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#boxdsp3 {
    float: left;
    height: auto;
    margin-left: 8.322063%;
    margin-top: 40.75px;
    clear: both;
    width: 40.629852%;
}

#blackboxdsp4 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 146;
    margin-top: 4.87%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
    background-image:url("img/blackbox.png");
    background-position: 0% 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    -webkit-background-size: 100%;
    background-size: 100%;
}

#by_DOUG_SALMON2 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 147;
    margin-top: 5px;
    margin-left: 4.609375%;
    clear: none;
}

#boxdsp4 {
    float: left;
    height: auto;
    margin-left: 8.33%;
    margin-top: 4.157409%;
    clear: both;
    width: 40.629852%;
}

#boxdsp5 {
    float: left;
    height: auto;
    margin-left: 8.33%;
    margin-top: 6.6666%;
    clear: both;
    width: 40.629852%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#boxdsp6 {
    float: left;
    height: auto;
    margin-left: 8.33%;
    margin-top: 6.6666%;
    clear: both;
    width: 40.629852%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#boxdsp7 {
    float: left;
    height: auto;
    margin-left: 8.33%;
    margin-top: 6.6666%;
    clear: both;
    width: 40.63%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#textspandsp19 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#boxdsp8 {
    float: left;
    height: auto;
    margin-left: 8.33%;
    margin-top: 32px;
    clear: both;
    width: 40.63%;
}

#boxdsp9 {
    float: left;
    height: auto;
    margin-left: 8.33%;
    margin-top: 6.6666%;
    clear: both;
    width: 40.628789%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#boxdsp10 {
    float: left;
    height: auto;
    margin-left: 8.33%;
    margin-top: 6.6666%;
    clear: both;
    width: 40.628789%;
}

#boxdsp11 {
    float: left;
    height: 1px;
    margin-left: 8.33%;
    margin-top: 6.6666%;
    clear: both;
    width: 83.33%;
    min-height: 0px;
    background-color: rgb(0, 0, 0);
}

#boxdsp12 {
    float: left;
    height: auto;
    margin-left: 8.33%;
    margin-top: 6.66658134%;
    clear: both;
    width: 40.629898%;
}

#boxdsp13 {
    float: left;
    height: auto;
    margin-left: 2.0800%;
    margin-top: 6.6666%;
    clear: none;
    width: 22.75%;
}

#boxdsp14 {
    float: left;
    height: auto;
    margin-left: 8.33%;
    margin-top: 6.6666%;
    clear: both;
    width: 40.62983%;
}

@media only screen and (max-width: 1017px) {
    #Title_Line_f1 {
        width: 83.33%;
        margin-left: 8.33%;
    }

    #Title_Line_f2 {
        width: 83.33%;
        margin-left: 8.33%;
    }
}

@media only screen and (max-width: 802px) {
    #The_Births_of_Tina {
        font-size: 1.38em;
    }

    #From_One_Place {
        font-size: 1.38em;
    }

    #working_through_unemployment {
        font-size: 1.38em;
    }

    #working_everyday_of_your_life {
        font-size: 1.38em;
    }

    #Loss_Sorrow {
        font-size: 1.38em;
    }

    #textspandsp28 {
        line-height: 1.8em;
        font-size: 1.25em;
    }

    #textspandsp29 {
        line-height: 1.8em;
        font-size: 1.25em;
    }

    #textspandsp30 {
        font-size: 0.88em;
    }
}

@media only screen and (max-width: 615px) {
    #boxdsp {
        margin-top: 4.32%;
        width: 83.33%;
    }

    #boxdsp3 {
        margin-top: 4.32%;
        width: 83.33%;
    }

    #boxdsp8 {
        margin-top: 4.32%;
        width: 83.33%;
    }

    #boxdsp10 {
        margin-top: 4.32%;
        width: 83.33%;
    }

    #boxdsp9 {
        width: 83.33%;
    }

    #boxdsp6 {
        width: 83.33%;
    }

    #boxdsp4 {
        margin-top: 6.6666%;
        width: 83.33%;
    }

    #linedsp {
        margin-top: 6.6666%;
    }

    #boxdsp2 {
        width: 83.33%;
    }

    #boxdsp1 {
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        width: 83.33%;
    }

    #wkids {
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.33%;
        width: 83.33%;
    }

    #boxdsp5 {
        width: 83.33%;
    }

    #boxdsp7 {
        width: 83.33%;
    }

    #boxdsp12 {
        width: 83.33%;
    }

    #boxdsp14 {
        width: 83.33%;
    }

    #blackboxdsp9 {
        margin-top: 2.38%;
    }

    #militarycamping {
        margin-top: 2.0800%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.33%;
    }

    #santabarbara {
        width: 83.33%;
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.33%;
    }

    #_Then_we_moved_to_Santa_Barbara_CA_Eric_started_school_there_ {
        margin-top: 5.18%;
        margin-right: 0%;
        margin-bottom: 0px;
        margin-left: 0%;
    }

    #New_in_Town {
        margin-left: 8.33%;
        margin-top: 4.16%;
    }

    #Audio_Tina_Moving {
        width: 83.33%;
        clear: left;
        margin-left: 8.33%;
    }

    #Skip_meatloaf_relying {
        width: 83.33%;
    }

    #dressedup {
        width: 52.28%;
        margin-top: 6.66658003%;
        margin-left: 8.33%;
        clear: both;
    }

    #boxdsp13 {
        width: 29.28%;
        margin-top: 6.66658003%;
        margin-left: 2.08002326%;
        clear: none;
    }

    #blackboxdsp {
        margin-top: 2.38%;
    }

    #blackboxdsp1 {
        margin-top: 2.38%;
    }

    #blackboxdsp2 {
        margin-top: 2.38%;
    }

    #blackboxdsp3 {
        margin-top: 2.38%;
    }

    #blackboxdsp4 {
        margin-top: 2.38%;
    }

    #blackboxdsp5 {
        margin-top: 2.38%;
    }

    #blackboxdsp6 {
        margin-top: 2.38%;
    }

    #blackboxdsp7 {
        margin-top: 2.38%;
    }

    #blackboxdsp8 {
        margin-top: 2.38%;
    }

    #blackboxdsp10 {
        margin-top: 2.38%;
    }

    #blackboxdsp11 {
        margin-top: 2.38%;
    }

    #blackboxdsp12 {
        margin-top: 2.38%;
    }

    #Audio_Doug_war_historical_events {
        width: 83.33%;
    }
}

@media only screen and (max-width: 480px) {
    #Audio_Tina_Moving {
        width: 83.33%;
    }

    #From_One_Place {
        font-size: 1.2em;
        line-height: 1.2em;
    }

    #The_Births_of_Tina {
        font-size: 1.2em;
        line-height: 1.2em;
    }

    #Loss_Sorrow {
        font-size: 1.2em;
        line-height: 1.2em;
    }

    #working_through_unemployment {
        font-size: 1.2em;
        line-height: 1.2em;
    }

    #working_everyday_of_your_life {
        font-size: 1.2em;
        line-height: 1.2em;
    }

    #Audio_Doug_war_historical_events {
        width: 83.33%;
    }

    #tombstone {
        width: 40.63%;
    }

    #Skip_meatloaf_relying {
        width: 83.33%;
    }

    #JOINING_THE_MILITARY {
        line-height: 1em;
    }

    #dressedup {
        width: 83.33%;
    }

    #boxdsp13 {
        width: 83.33%;
        margin-left: 8.33%;
        margin-top: 2.5%;
    }

    #resume_2 {
        margin-top: 2.5%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0%;
    }

    #boxdsp {
        margin-top: 6.6666%;
    }

    #boxdsp3 {
        margin-top: 6.6666%;
    }

    #_Then_we_moved_to_Santa_Barbara_CA_Eric_started_school_there_ {
        margin-top: 8%;
    }

    #New_in_Town {
        margin-top: 6.6666%;
    }

    #familyteens {
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.33%;
    }

    #boxdsp10 {
        margin-top: 6.6666%;
    }
}

