#linedsff5 {
    float: left;
    height: 1px;
    width: 83.33%;
    background-color: black;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(7, 8, 9);
    border-right-color: rgb(7, 8, 9);
    border-bottom-color: rgb(7, 8, 9);
    border-left-color: rgb(7, 8, 9);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin-top: 4.160062491%;
    margin-left: 8.33329537%;
    clear: both;
    margin-right: 0%;
    margin-bottom: 0%;
}

#envelope {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin-top: 2.0800%;
    margin-left: 2.0800008398%;
    clear: none;
}

#letter1part3 {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin-top: 2.0800%;
    margin-left: 8.33329537%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#letter1part1 {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin-top: 2.0800%;
    margin-left: 8.33329537%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#letter1part2 {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin-top: 2.0800%;
    margin-left: 2.0800%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#three_kids_formal {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin-top: 2.08000676%;
    margin-left: 8.33329537%;
    clear: both;
}

#video_eric_tribute_to_mom {
    float: left;
    width: 62.43%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 22;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
    margin-bottom: 0px;
}

#eric_w_skip {
    float: left;
    width: 34.99%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin-top: 0px;
    margin-left: 2.5%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#A_TRIBUTE_TO_MOM {
    float: left;
    font-size: 1.979984em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(20, 22, 24);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 23;
    margin-top: 2.080093203%;
    margin-left: 8.33329537%;
    clear: both;
    margin-right: 0%;
    margin-bottom: 0%;
}

#“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh {
    float: left;
    font-size: 1em;
    width: 83.33%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 24;
    margin-top: 4.160060213%;
    margin-left: 8.33329537%;
    clear: both;
}

#textspandsf15 {
    float: none;
    font-size: 0.95em;
    line-height: 1.8em;
    color: rgb(20, 22, 24);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#eric_w_doug {
    float: left;
    width: 34.99%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 26;
    margin-top: 0%;
    margin-left: 2.5%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#video_eric_tribute_to_dad {
    float: left;
    width: 62.43%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 27;
    margin-top: 0.00373274%;
    margin-left: 0%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#A_TRIBUTE_TO_DAD {
    float: left;
    font-size: 1.979984em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(20, 22, 24);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 28;
    margin-top: 4.160061352%;
    margin-left: 8.33328398%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#envelope2 {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 31;
    margin-top: 5.12%;
    margin-left: 0px;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
    min-width: 0px;
}

#skipholdingbaby {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 30;
    margin-top: 2.0800%;
    margin-left: 2.0800%;
    clear: none;
    margin-right: 0%;
    margin-bottom: 0%;
}

#skip_grandkids {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 33;
    margin-top: 2.08000676%;
    margin-left: 2.08000676%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#letter2 {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 32;
    margin-top: 0px;
    margin-left: 0px;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
    min-width: 0px;
}

#video_laurie_mom_service {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 34;
    margin-top: 2.379054%;
    margin-left: 8.33328398%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#SERVING_THEIR_CHILDREN {
    float: left;
    font-size: 1.979984em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(20, 22, 24);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 35;
    margin-top: 4.160061352%;
    margin-left: 8.33328398%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#purplearizona {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 36;
    margin-top: 2.08000676%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#camp_dance {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 37;
    margin-top: 2.08000676%;
    margin-left: 8.33328398%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#car_races11 {
    float: left;
    width: 41.41%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 39;
    margin-top: 0%;
    margin-left: 2.5%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#car_racing1 {
    float: left;
    width: 56.08%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 40;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#video_tina_giving_their_time {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 41;
    margin-top: 2.379054%;
    margin-left: 8.33324982%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#GIVING_THEIR_TIME {
    float: left;
    font-size: 1.979984em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(20, 22, 24);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 42;
    margin-top: 4.160068185%;
    margin-left: 8.33328398%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#tina_graduation {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 43;
    margin-top: 4.16006%;
    margin-left: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#linedsff4 {
    float: left;
    height: 1px;
    width: 83.33%;
    background-color: black;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(7, 8, 9);
    border-right-color: rgb(7, 8, 9);
    border-bottom-color: rgb(7, 8, 9);
    border-left-color: rgb(7, 8, 9);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 44;
    margin-top: 8.320426%;
    margin-left: 8.33324982%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#laurie_robert {
    float: left;
    width: 30.2%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 45;
    margin-top: 0%;
    margin-left: 3.115796%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#tourists {
    float: left;
    width: 66.550172%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 46;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#lauries_wedding {
    float: left;
    width: 41.776972%;
    max-width: 41.870544%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 47;
    margin-top: 0%;
    margin-left: 3.12%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#backyard_portait {
    float: left;
    width: 54.964147%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 48;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    max-width: 55.012985%;
    margin-right: 0%;
}

#tina_wedding1 {
    float: left;
    width: 48.34%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 49;
    clear: none;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 3.12%;
}

#temple_front_portait {
    float: left;
    width: 48.443683%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    margin-top: 0%;
    margin-left: 0.00165344%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#linedsff3 {
    float: left;
    height: 1px;
    width: 83.33%;
        background-color: black;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(7, 8, 9);
    border-right-color: rgb(7, 8, 9);
    border-bottom-color: rgb(7, 8, 9);
    border-left-color: rgb(7, 8, 9);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 51;
    margin-top: 4.160057935%;
    margin-left: 8.33329537%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#video_doug_our_temple_experience {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 52;
    margin-top: 2.375638%;
    margin-left: 8.33329537%;
    clear: both;
}

#OUR_TEMPLE_EXPERIENCE_copy {
    float: left;
    font-size: 1.979984em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(20, 22, 24);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 53;
    margin-top: 4.160055658%;
    margin-left: 8.33323843%;
    clear: both;
    padding-right: 8.33%;
}

#Audio_Tina_Requesting_for_Sealing {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 54;
    margin-top: 1.579583%;
    margin-left: 8.33329537%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#“I_asked_him_if_he_would_quit_smoking_and_take_us_to_the_temple {
    float: left;
    font-size: 1em;
    width: 83.33%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 55;
    margin-top: 4.16005338%;
    margin-left: 8.33323843%;
    clear: both;
}

#oakland_temple {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 56;
    margin-top: 2.0800006121%;
    margin-left: 8.33329537%;
    clear: both;
}

#Audio_Skip_Returning_to_Church {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 57;
    margin-top: 3.844119%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
    min-width: 0px;
}

#Audio_Doug_Church_Inactivity {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 58;
    margin-top: 3.886561%;
    margin-left: 0.08129573%;
    clear: both;
    margin-right: 0%;
    min-width: 0px;
}

#GOING_TO_THE_TEMPLE {
    float: left;
    font-size: 2.1875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 59;
    margin-top: 6.66662263%;
    margin-left: 8.33323843%;
    margin-right: 8.33%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#linedsff2 {
    float: left;
    height: 1px;
    width: 83.33%;
    background-color: black;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(7, 8, 9);
    border-right-color: rgb(7, 8, 9);
    border-bottom-color: rgb(7, 8, 9);
    border-left-color: rgb(7, 8, 9);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 60;
    margin-top: 4.160057935%;
    margin-left: 8.33323843%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#tina_prom {
    float: left;
    width: 100.000213%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 61;
    margin-top: 5.118515%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#stair_portrait {
    float: left;
    width: 100.000213%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 63;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Home_•_Love_Story_•_Perseverance_•_Family_•_Ser {
    float: left;
    font-size: 0.85em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(62, 77, 77);
    font-style: italic;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 95;
    margin-top: 0.99421465%;
    margin-left: 0%;
    clear: both;
    min-width: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#camping_tent {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 71;
    margin-top: 4.16005338%;
    margin-left: 2.0800009537%;
    clear: none;
}

#Title_Line_f2 {
    float: left;
    height: 1.5px;
    width: 66.66%;
    background-color: rgb(6, 8, 8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 96;
    margin-top: 0.49198251%;
    margin-left: 16.652241%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#_Over_the_years_we_had_a_thing_in_our_house_about_working_toge1 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 69;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0%;
    min-width: 0px;
}

#textspandsf4 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: adobe-garamond-pro;
    width: 40.63%;
}

#outdoor_portrait1 {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 72;
    margin-top: 4.160049964%;
    margin-left: 8.33323843%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#FAMILY {
    float: left;
    font-size: 3.6458775em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(32, 38, 39);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 97;
    margin-top: 1%;
    margin-left: 0%;
    clear: both;
    min-width: 0px;
    margin-right: 0px;
    margin-bottom: 0.2%;
}

#linedsff1 {
    float: left;
    height: 1px;
    width: 83.33%;
    background-color: black;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(7, 8, 9);
    border-right-color: rgb(7, 8, 9);
    border-bottom-color: rgb(7, 8, 9);
    border-left-color: rgb(7, 8, 9);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 73;
    margin-top: 4.160059074%;
    margin-left: 8.33323843%;
    clear: both;
}

#Title_Line_f1 {
    float: left;
    height: 1.5px;
    width: 66.66%;
    background-color: rgb(6, 8, 8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 99;
    margin-top: 1.3%;
    margin-left: 16.66%;
    clear: both;
}

#video_tina_fish {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 74;
    margin-top: 2.37336%;
    margin-left: 8.33323843%;
    clear: both;
}

#TEACHING_TINA_TO_FISH {
    float: left;
    font-size: 1.944468em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(20, 22, 24);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 75;
    margin-top: 4.160069324%;
    margin-left: 8.33323843%;
    clear: both;
}

#Doug_Skip {
    float: left;
    font-size: 1.2152925em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(82, 96, 99);
    font-style: normal;
    letter-spacing: 0.2em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 100;
    margin-top: 6.66653982%;
    margin-left: 0%;
    clear: none;
    min-width: 0px;
}

#spit_roasting {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 76;
    margin-top: 2.08001815%;
    margin-left: 2.0800009537%;
    clear: none;
}

#bear_invasion1 {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 77;
    margin-top: 2.0800006121%;
    margin-left: 8.33323843%;
    clear: both;
}

#girl_dresses {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 79;
    margin-top: 2.043094%;
    margin-left: 8.33323843%;
    clear: both;
    margin-right: 0%;
    margin-bottom: 0%;
}

#Audio_Laurie_Forgiveness {
    float: left;
    width: 40.63%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 78;
    margin-top: 1.58%;
    margin-left: 2.0800%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#leather_chair_baby {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 80;
    margin-top: 2.0800003843%;
    margin-left: 8.33323843%;
    clear: both;
}

#highchair {
    float: left;
    width: 35.85%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 81;
    margin-top: 0px;
    margin-left: 2.5%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
    max-width: none;
}

#tina {
    float: left;
    width: 32.12%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 82;
    margin-top: 0%;
    margin-left: 2.5%;
    clear: none;
    margin-right: 0%;
}

#lauriesmallbaby {
    float: left;
    width: 26.9%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 83;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#OUR_FAMILY_FOUNDATION {
    float: left;
    font-size: 2.1875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 91;
    margin-top: 6.66650875%;
    margin-left: 8.33381924%;
    clear: both;
}

#formal_portait {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 92;
    margin-top: 4.16006%;
    margin-left: 0%;
    clear: both;
    min-width: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#textspandsf6 {
    float: none;
    font-size: 0.9625109999999999em;
    line-height: 1.8em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: adobe-garamond-pro;
    width: 40.63%;
}

#textspandsf5 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: adobe-garamond-pro;
    width: 40.63%;
}

#_Over_the_years_we_had_a_thing_in_our_house_about_working_toge {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 69;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
    min-width: 0px;
}

#textspandsf1 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: adobe-garamond-pro;
    width: 40.63%;
}

#textspandsf2 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: adobe-garamond-pro;
    width: 40.63%;
}

#boxdsf {
    float: left;
    height: auto;
    margin-left: 8.33322704%;
    margin-top: 3.158027%;
    clear: both;
    width: 40.63%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#by_DOUG_SALMON {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 67;
    margin-top: 4px;
    margin-left: 11.359375px;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#boxdsf1 {
    float: left;
    height: 24px;
    margin-left: 0%;
    margin-top: 4.87%;
    clear: both;
    width: 180px;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-style: solid;
    border-bottom-style: solid;
    background-color: rgb(0, 0, 0);
    margin-right: 0px;
    margin-bottom: 0px;
}

#boxdsf2 {
    float: left;
    height: auto;
    margin-left: 8.33322704%;
    margin-top: 4.160055658%;
    clear: both;
    width: 83.33%;
}

#boxdsf3 {
    float: left;
    height: auto;
    margin-left: 8.33323843%;
    margin-top: 2.0800003843%;
    clear: both;
    width: 40.629914%;
    margin-right: 0px;
}

#boxdsf5 {
    float: left;
    height: 24px;
    margin-left: 0%;
    margin-top: 4.87%;
    clear: left;
    width: 180px;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-right-style: solid;
    border-bottom-style: solid;
    margin-right: 0%;
    margin-bottom: 0%;
    background-color: rgb(0, 0, 0);
}

#by_DOUG_SALMON1 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 254, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 67;
    margin-top: 4px;
    margin-left: 11.359375px;
    clear: none;
    margin-right: 0px;
    margin-bottom: 0px;
}

#boxdsf4 {
    float: left;
    height: auto;
    margin-left: 2.08000914%;
    margin-top: 2.08000914%;
    clear: none;
    width: 40.63%;
}

#textdsf {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 2.080000884%;
    margin-top: 2.08002988%;
    clear: none;
    min-height: 0px;
    letter-spacing: 0.12em;
    margin-right: 0px;
    margin-bottom: 0px;
}

#textspandsf3 {
    float: none;
    font-size: 1.09em;
    line-height: 1em;
    font-family: goldenbook;
    letter-spacing: 0.2em;
}

#textdsf2 {
    float: left;
    font-size: 1.09em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0.00312676%;
    margin-top: 0%;
    clear: none;
    min-height: 0px;
    letter-spacing: 0.2em;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: goldenbook;
}

#textspandsf10 {
    float: none;
    font-size: 1.40016859999999998em;
    line-height: 1.8em;
    color: rgb(20, 22, 24);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsf11 {
    float: none;
    font-size: 0.875em;
    line-height: 1.8em;
    color: rgb(20, 22, 24);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#text1 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 0%;
    clear: none;
    min-height: 0px;
    letter-spacing: 0.12em;
    margin-right: 0px;
    margin-bottom: 0px;
}

#textspandsf7 {
    float: none;
    font-size: 1.09em;
    line-height: 1em;
    font-family: goldenbook;
    letter-spacing: 0.2em;
}

#boxdsf7 {
    float: left;
    height: auto;
    margin-left: 2.0800008897%;
    margin-top: 6.6666%;
    clear: none;
    width: 40.660598%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#boxdsf6 {
    float: left;
    height: auto;
    margin-left: 8.33323843%;
    margin-top: 6.66658847%;
    clear: both;
    width: 40.846216%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#boxdsf8 {
    float: left;
    height: auto;
    margin-left: 16.655658%;
    margin-top: 8.330676%;
    clear: both;
    width: 66.66%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#boxdsf9 {
    float: left;
    height: auto;
    margin-left: 16.65338%;
    margin-top: 2.0800004982%;
    clear: both;
    width: 66.66%;
}

#boxdsf10 {
    float: left;
    height: auto;
    margin-left: 16.664769%;
    margin-top: 2.0800008398%;
    clear: both;
    width: 66.686529%;
}

#boxdsf11 {
    float: left;
    height: auto;
    margin-left: 8.33324982%;
    margin-top: 2.08000676%;
    clear: both;
    width: 83.33%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#boxdsf12 {
    float: left;
    height: auto;
    margin-left: 8.33328398%;
    margin-top: 2.08001815%;
    clear: both;
    width: 40.63%;
}

#boxdsf13 {
    float: left;
    height: auto;
    margin-left: 8.33326121%;
    margin-top: 2.379054%;
    clear: both;
    width: 83.33%;
}

#textspandsf14 {
    float: none;
    font-size: 1.40016859999999998em;
    line-height: 1.8em;
    color: rgb(20, 22, 24);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#boxdsf14 {
    float: left;
    height: auto;
    margin-left: 8.33329537%;
    margin-top: 2.379054%;
    clear: both;
    width: 83.33%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#textdsf3 {
    float: left;
    font-size: 1em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 8.33329537%;
    margin-top: 4.160079574%;
    clear: both;
    min-height: 0px;
    letter-spacing: 0.12em;
    margin-right: 0px;
    margin-bottom: 0px;
}

#textspandsf12 {
    float: none;
    font-size: 1.09em;
    line-height: 1em;
    font-family: goldenbook;
    letter-spacing: 0.2em;
}

#textspandsf9 {
    float: none;
    font-size: 1.40016859999999998em;
    line-height: 1.8em;
    color: rgb(20, 22, 24);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsf13 {
    float: none;
    font-size: 1.40016859999999998em;
    line-height: 1.8em;
    color: rgb(20, 22, 24);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsf {
    float: none;
    font-size: 1.05em;
    line-height: 1em;
}

#Home_•_Next_Exhibit {
    float: left;
    font-size: 0.85em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(62, 77, 77);
    font-style: italic;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 95;
    margin-top: 1%;
    margin-left: 0%;
    clear: both;
    min-width: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    display: none;
}

@media only screen and (max-width: 1018px) {
    #Title_Line_f1 {
        margin-top: 1.4%;
        width: 83.33%;
        margin-left: 8.3333%;
    }

    #Title_Line_f2 {
        width: 83.33%;
        margin-left: 8.3333%;
    }

    #tina {
        width: 32.22%;
    }

    #highchair {
        width: 35.85%;
        max-width: none;
    }
}

@media only screen and (max-width: 802px) {
    #Doug_Skip {
        font-size: 1.02em;
    }
    
    #Home_•_Love_Story_•_Perseverance_•_Family_•_Ser {
        margin-top: 0.99375821%;
        margin-left: 0%;
        clear: both;
        display: none;
    }

    #textspandsf9 {
        float: none;
        font-size: 1.35em;
        line-height: 1.8em;
    }

    #textspandsf10 {
        line-height: 1.8em;
    }

    #textspandsf13 {
        float: none;
        font-size: 1.25em;
        line-height: 1.8em;
    }

    #textspandsf14 {
        line-height: 1.8em;
    }

    #A_TRIBUTE_TO_DAD {
        font-size: 1.38em;
        margin-top: 4.160061876%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #SERVING_THEIR_CHILDREN {
        font-size: 1.38em;
        margin-top: 4.160061876%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #GIVING_THEIR_TIME {
        font-size: 1.38em;
        margin-top: 4.160070089%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #OUR_TEMPLE_EXPERIENCE_copy {
        font-size: 1.38em;
        margin-top: 4.160053663%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #TEACHING_TINA_TO_FISH {
        font-size: 1.38em;
        margin-top: 4.160068035%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #A_TRIBUTE_TO_MOM {
        font-size: 1.38em;
        margin-top: 2.080092231%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #Home_•_Next_Exhibit {
        margin-top: 1%;
        margin-right: 0px;
        margin-left: 0%;
        clear: both;
        display: block;
    }

    #Title_Line_f1 {
        margin-top: 1.4%;
        margin-left: 8.33329911%;
        clear: both;
    }

    #FAMILY {
        margin-top: 1.3%;
        margin-bottom: 0.7%;
        margin-left: 0%;
        clear: both;
        font-size: 3.0em;
    }

    #Title_Line_f2 {
        margin-top: 0.49071945%;
        margin-left: 8.33329911%;
        clear: both;
    }

    #formal_portait {
        margin-top: 4.16006%;
        margin-left: 0%;
        clear: both;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    #OUR_FAMILY_FOUNDATION {
        margin-top: 6.66652431%;
        margin-left: 8.33381242%;
        clear: both;
    }

    #boxdsf {
        margin-top: 3.157852%;
        margin-left: 8.33321698%;
        clear: both;
    }

    #boxdsf2 {
        margin-top: 4.160053663%;
        margin-left: 8.33321698%;
        clear: both;
    }

    #leather_chair_baby {
        margin-top: 2.0800003752%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #girl_dresses {
        margin-top: 2.042953%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #bear_invasion1 {
        margin-top: 2.0800007858%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #spit_roasting {
        margin-top: 2.08001965%;
        margin-left: 2.0800007858%;
        clear: none;
    }

    #video_tina_fish {
        margin-top: 2.373522%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #linedsff1 {
        margin-top: 4.160057769%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #outdoor_portrait1 {
        margin-top: 4.16005161%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #camping_tent {
        margin-top: 4.160053663%;
        margin-left: 2.0800007858%;
        clear: none;
    }

    #boxdsf3 {
        margin-top: 2.0800003752%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #linedsff2 {
        margin-top: 4.160057769%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #GOING_TO_THE_TEMPLE {
        margin-top: 6.66662697%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #boxdsf6 {
        margin-top: 6.66658591%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #oakland_temple {
        margin-top: 2.0800005805%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #“I_asked_him_if_he_would_quit_smoking_and_take_us_to_the_temple {
        margin-top: 4.16005161%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #text3 {
        margin-top: 4.160078302%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #Audio_Tina_Requesting_for_Sealing {
        margin-top: 1.578926%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #video_doug_our_temple_experience {
        margin-top: 2.375575%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #linedsff3 {
        margin-top: 4.160057769%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #boxdsf8 {
        margin-top: 8.331965%;
        margin-left: 16.653663%;
        clear: both;
    }

    #boxdsf9 {
        margin-top: 2.0800003752%;
        margin-left: 16.65161%;
        clear: both;
    }

    #boxdsf10 {
        margin-top: 2.0800007858%;
        margin-left: 16.663929%;
        clear: both;
    }

    #linedsff4 {
        margin-top: 8.321698%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #tina_graduation {
        margin-top: 4.160057769%;
        margin-left: 8.33%;
        clear: both;
    }

    #video_tina_giving_their_time {
        margin-top: 2.377628%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #boxdsf11 {
        margin-top: 2.0800009911%;
        margin-left: 8.33323752%;
        clear: both;
    }

    #camp_dance {
        margin-top: 2.08001965%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #purplearizona {
        margin-top: 2.0800009911%;
        margin-left: 8.33%;
        clear: both;
    }

    #video_laurie_mom_service {
        margin-top: 2.377628%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #boxdsf12 {
        margin-top: 2.0800009911%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #boxdsf13 {
        margin-top: 2.377628%;
        margin-left: 8.33325805%;
        clear: both;
    }

    #“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh {
        margin-top: 4.160059823%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #boxdsf14 {
        margin-top: 2.377628%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #three_kids_formal {
        margin-top: 2.0800009911%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #letter1part1 {
        margin-top: 2.0800102497%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #letter1part2 {
        margin-top: 2.08001965%;
        margin-left: 2.0800007858%;
        clear: none;
    }

    #letter1part3 {
        margin-top: 2.0800233903%;
        margin-left: 8.33327858%;
        clear: both;
    }

    #linedsff5 {
        margin-top: 4.160061876%;
        margin-left: 8.33327858%;
        clear: both;
    }
}

@media only screen and (max-width: 615px) {

    /* #Audio_Doug_Church_Inactivity {
        width: 83.33%;
    } */
    
    #Audio_Tina_Requesting_for_Sealing {
        width: 83.33%;
    }

    /* #Audio_Skip_Returning_to_Church {
        height: auto;
        width: 83.33%;
    } */

    /* #Audio_Laurie_Forgiveness {
        clear: left;
        margin-left: 8.3333%;
        width: 83.33%;
    } */

    #boxdsf {
        width: 83.33%;
    }

    #tina_prom {
        clear: none;
        margin-top: 0%;
        margin-left: 2.5%;
        width: 48.75%;
    }

    #boxdsf3 {
        width: 83.33%;
    }

    #stair_portrait {
        width: 48.75%;
    }

    #boxdsf4 {
        width: 83.33%;
        margin-left: 8.3333%;
    }

    #Home_•_Love_Story_•_Perseverance_•_Family_•_Ser {
        padding-right: 0%;
        padding-left: 0%;
    }

    #textspandsf {
        font-size: 0.85em;
    }

    #Doug_Skip {
        font-size: 0.88em;
    }

    #Home_•_Next_Exhibit {
        padding-right: 0%;
        padding-left: 0%;
    }

    #TEACHING_TINA_TO_FISH {
        padding-right: 8.33%;
    }

    #FAMILY {
    margin-bottom: 0.9%;
    }
}

@media only screen and (max-width: 480px) {
    #boxdsf {
        margin-top: 6.6666%;
    }

    #boxdsf4 {
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3333%;
    }

    #linedsff1 {
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3332%;
    }

    #outdoor_portrait1 {
        margin-top: 6.6666%;
        width: 83.33%;
    }

    #camping_tent {
        margin-top: 2.0800%;
        margin-left: 8.3333%;
        width: 83.33%;
    }

    #TEACHING_TINA_TO_FISH {
        margin-top: 6.6666%;
        padding-left: 0%;
        padding-right: 8.33%;
        line-height: 1.2em;
    }

    #text {
        font-size: 1em;
        clear: left;
        padding-left: 0%;
        margin-left: 8.3333%;
    }

    #boxdsf6 {
        margin-top: 8.32%;
        width: 83.33%;
    }

    #boxdsf7 {
        margin-top: 4.16006%;
        width: 83.33%;
        margin-left: 8.3333%;
    }

    #text2 {
        font-size: 1em;
    }

    #text1 {
        font-size: 1em;
    }

    #oakland_temple {
        margin-top: 4.16006%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3333%;
    }

    #textspandsf7 {
        font-size: 0.75em;
    }

    #textspandsf8 {
        float: none;
        font-size: 0.75em;
        line-height: 1em;
    }

    #textspandsf3 {
        font-size: 0.75em;
    }

    #textdsf {
        margin-left: 8.3333%;
    }

    #Home_•_Love_Story_•_Perseverance_•_Family_•_Ser {
        display: none;
    }

    #OUR_TEMPLE_EXPERIENCE_copy {
        font-size: 1.2em;
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3332%;
    }

    #GIVING_THEIR_TIME {
        font-size: 1.2em;
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3333%;
    }

    #SERVING_THEIR_CHILDREN {
        font-size: 1.2em;
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3333%;
    }

    #A_TRIBUTE_TO_DAD {
        font-size: 1.2em;
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3333%;
    }

    #A_TRIBUTE_TO_MOM {
        font-size: 1.2em;
        margin-top: 6.6666%;
    }

    #boxdsf12 {
        width: 83.33%;
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3333%;
    }

    #skip_grandkids {
        margin-left: 8.3333%;
        width: 83.33%;
    }

    #skipholdingbaby {
        width: 83.33%;
        margin-left: 8.3333%;
    }

    #envelope2 {
        margin-top: 2.5%;
    }

    #video_eric_tribute_to_dad {
        width: 100%;
        max-width: none;
    }

    #eric_w_doug {
        margin-left: 0%;
        margin-top: 2.0800%;
        width: 100%;
        max-width: none;
        display: none;
    }

    #video_eric_tribute_to_mom {
        width: 100%;
        max-width: none;
    }

    #eric_w_skip {
        display: none;
    }

    #letter1part1 {
        width: 83.33%;
        max-width: none;
    }

    #letter1part2 {
        margin-left: 8.3333%;
        width: 83.33%;
        max-width: none;
    }

    #letter1part3 {
        width: 83.33%;
        max-width: none;
    }

    #envelope {
        width: 83.33%;
        max-width: none;
        margin-left: 8.3333%;
    }

    #linedsff5 {
        margin-top: 6.6666%;
        margin-right: 0%;
        margin-bottom: 0%;
        margin-left: 8.3333%;
    }

    #“My_mom_and_dad_made_great_sacrifices_for_me_and_our_family_Wh {
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3333%;
    }

    #letter2 {
        margin-top: 0px;
    }

    #boxdsf11 {
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3332%;
    }

    #linedsff3 {
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3333%;
    }

    #text3 {
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3333%;
        font-size: 1em;
    }

    #“I_asked_him_if_he_would_quit_smoking_and_take_us_to_the_temple {
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3332%;
    }

    #boxdsf2 {
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3332%;
    }

    #Audio_Skip_Returning_to_Church {
        height: auto;
        width: 100%;
    }

    #textspandsf12 {
        font-size: 0.75em;
    }

    #textspandsf {
        font-size: 1em;
        line-height: 1em;
    }

    #FAMILY {
        line-height: 0.85em;
        font-size: 2em;
        margin-top: 2%;
        margin-bottom: 1.3%;
    }

    #Doug_Skip {
        font-size: 0.72em;
        margin-bottom: 0.3%;
    }

    #Title_Line_f2 {
        width: 66%;
        margin-left: 16.66%;
    }

    #Title_Line_f1 {
        width: 66%;
        margin-left: 16.66%;
    }

    #Home_•_Next_Exhibit {
        display: block;
        font-size: 0.75em;
        margin-top: 1.6%;
    }

    #Audio_Laurie_Forgiveness {
        clear: left;
        margin-left: 8.3333%;
        width: 83.33%;
    }

    #girl_dresses {
        width: 83.33%;
    }

    #lauriesmallbaby {
        width: 100%;
        max-width: none;
    }

    #tina {
        width: 100%;
        max-width: none;
        margin-top: 2.5%;
        margin-left: 0%;
    }

    #highchair {
        margin-left: 0%;
        margin-top: 2.5%;
        width: 100%;
    }

    #bear_invasion1 {
        width: 83.33%;
    }

    #spit_roasting {
        width: 83.33%;
        margin-left: 8.3333%;
    }

    #boxdsf8 {
        width: 83.33%;
        margin-left: 8.3333%;
    }

    #boxdsf9 {
        width: 83.33%;
        margin-left: 8.3333%;
    }

    #boxdsf10 {
        width: 83.33%;
        margin-left: 8.3333%;
    }

    #stair_portrait {
        width: 100%;
        max-width: none;
    }

    #tina_prom {
        margin-left: 0%;
        margin-top: 2.5%;
        width: 100%;
        max-width: none;
    }

    #linedsff2 {
        margin-top: 6.6666%;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 8.3332%;
    }

    #temple_front_portait {
        width: 100%;
        max-width: none;
    }

    #tina_wedding1 {
        margin-left: 0%;
        margin-top: 2.5%;
        width: 100%;
        max-width: none;
    }

    #backyard_portait {
        width: 100%;
        max-width: none;
        margin-left: 0%;
    }

    #lauries_wedding {
        width: 100%;
        max-width: none;
        margin-left: 0%;
        margin-top: 2.5%;
    }

    #tourists {
        width: 100%;
        max-width: none;
        margin-left: 0%;
    }

    #laurie_robert {
        width: 100%;
        max-width: none;
        margin-left: 0%;
        margin-top: 2.5%;
    }
}

