

#ADD_YOUR_STORY_ {
    float: left;
    font-size: 1.273204125em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(0, 0, 0);
    font-style: normal;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin-top: 5%;
    margin-left: 0%;
    clear: both;
    min-width: 0px;
    padding-bottom: 15%;
}

#ADD_YOUR_STORY_li {
    float: left;
    font-size: 1.273204125em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(0, 0, 0);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: Futura-PT;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin-top: 5%;
    margin-left: 0%;
    clear: both;
    min-width: 0px; 
    padding-bottom: 15%;
}

#candidgroupcovered {
    float: left;
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-image:url("img/candidgroupcovered.png");
    -webkit-background-size: cover;
    background-size: cover;
    margin: 8.32% 0px 0px 0%;
    clear: both;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
    min-height: 1200px;
}

#candidgroupcovered_evelyn {
    float: left;
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-image:url("img/outlook2.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    margin: 8.32% 0px 0px 0%;
    clear: both;
    background-attachment: scroll;
    background-position: 20% 0%;
    background-repeat: no-repeat no-repeat;
    min-height: 1200px;
}

#guestbook_roos {
    float: left;
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-image:url("img/guestbookprimary2.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    margin: 8.32% 0px 0px 0%;
    clear: both;
    background-attachment: scroll;
    background-position: 20% 0%;
    background-repeat: no-repeat no-repeat;
    min-height: 1200px;
}

#liguestbookcover2 {
    float: left;
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-image:url("img/gravesidevisit.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    margin: 8.32% 0px 0px 0%;
    clear: both;
    background-attachment: scroll;
    background-position: 50% 0%;
    background-repeat: no-repeat no-repeat;
    min-height: 700px;
}

#carmaguestbookcover2 {
    float: left;
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-image:url("img/carmaguestbook3.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    margin: 8.32% 0px 0px 0%;
    clear: both;
    background-attachment: scroll;
    background-position: 50% 0%;
    background-repeat: no-repeat no-repeat;
    min-height: 700px;
}

#whiteboxbg {
    float: left;
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-image: none;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 6.66%;
    clear: both;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;

}

#whiteboxbgli {
    float: left;
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-image: none;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: 0%;
    clear: both;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;

}

#CONTRIBUTE {
    float: left;
    font-size: 2.54640825em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 27px;
    color: rgb(0, 0, 0);
    font-style: normal;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin-top: 15%;
    margin-left: 0%;
    clear: none;
    min-width: 0px;
}

#CONTRIBUTEli {
    float: left;
    font-size: 2.54640825em;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 27px;
    color: rgb(0, 0, 0);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-family: Futura-PT;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin-top: 15%;
    margin-left: 0%;
    clear: none;
    min-width: 0px;
    font-weight: 800;
}

#buttonborder {
    float: left;
    height: 91.25081%;
    width: 96%;
    border: 1px solid rgb(1, 1, 1);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin: 2%;
    clear: none;
    padding-bottom: 0px;
    cursor: pointer; cursor: hand; 
}

#buttonborderligb {
    float: left;
    height: 91.25081%;
    width: 96%;
    border: 1px solid rgb(1, 1, 1);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin: 2%;
    clear: none;
    padding-bottom: 0px;
    cursor: pointer; cursor: hand; 
}


#outerboxbutton {
    float: left;
    height: 10.5%;
    width: 33.33%;
    background-color: rgb(242, 237, 234);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 6.66%;
    margin-left: 33.33%;
    clear: none;
    margin-bottom: 120%;
}

#outerboxbutton_li {
    float: left;
    height: 10.5%;
    width: 33.33%;
    background-color: rgb(242, 237, 234);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 6.66%;
    margin-left: 33.33%;
    clear: none;
    margin-bottom: 120%;
}

#outerboxbutton_pages {
    float: left;
    height: 10.5%;
    width: 33.33%;
    background-color: rgb(242, 237, 234);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 6.66%;
    margin-left: 33.33%;
    clear: none;
}

#outerboxbutton_pages_li {
    float: left;
    height: 10.5%;
    width: 33.33%;
    background-color: whitesmoke;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 0%;
    margin-left: 33.33%;
    clear: none;
}

#storyboard {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin: 6.66% 0px 0px 0%;
    clear: both;
    min-width: 0px;
}

/* #Home_•_Perseverance_•_Family_•_Service_•_Hobbie {
    float: left;
    font-size: 0.8458429999999999em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(1, 1, 1);
    font-style: italic;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 16;
    margin-top: 10px;
    margin-left: 25.332226%;
    clear: both;
} */

#Title_Line_f2 {
    float: left;
    height: 1px;
    width: 51.495017%;
    background-color: rgb(242, 237, 234);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin-top: 65px;
    margin-left: -41.69565%;
    clear: none;
}

#GUESTBOOK {
    float: left;
    font-size: 3.6458775em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(1, 1, 1);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin-top: 12px;
    margin-left: 35.049834%;
    clear: both;
}

#Title_Line_f1 {
    float: left;
    height: 1px;
    width: 51.495017%;
    background-color: rgb(242, 237, 234);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin-top: 12px;
    margin-left: 25.413985%;
    clear: both;
}


    #CONTRIBUTE {
        font-size: 1.75em;
    }

    #CONTRIBUTEli {
        font-size: 1.75em;
    }

    #ADD_YOUR_STORY_ {
        font-size: 1em;
        margin-top: 4%;
    }

    #ADD_YOUR_STORY_li {
        font-size: 1em;
        margin-top: 4%;
    }


@media only screen and (max-width: 709px) {
    #outerboxbutton {
        width: 50%;
        margin-left: 25%;
    }

    #outerboxbutton_li {
        width: 50%;
        margin-left: 25%;
    }

    #outerboxbuttonds {
        width: 50%;
        margin-left: 25%;
    }

    #outerboxbutton_pages {
        width: 50%;
        margin-left: 25%;
    }

    #outerboxbutton_pages_li {
        width: 50%;
        margin-left: 25%;
    }

    #ADD_YOUR_STORY_ {
        padding-bottom: 10%;
        margin-top: 3%;
    }

    #ADD_YOUR_STORY_li {
        padding-bottom: 10%;
        margin-top: 3%;
    }

    #CONTRIBUTE {
        margin-top: 10%;
    }

    #CONTRIBUTEli {
        margin-top: 10%;
    }
}

@media only screen and (max-width: 498px) {
    #CONTRIBUTE {
        font-size: 1.35em;
    }

    #CONTRIBUTEli {
        font-size: 1.35em;
    }

    #ADD_YOUR_STORY_ {
        font-size: 0.77em;
    }

    #ADD_YOUR_STORY_li {
        font-size: 0.77em;
    }
}

@media only screen and (max-width: 349px) {
    #outerboxbutton {
        width: 66.66%;
        margin-left: 16.66%;
    }

    #outerboxbutton_li {
        width: 66.66%;
        margin-left: 16.66%;
    }

    #outerboxbuttonds {
        width: 66.66%;
        margin-left: 16.66%;
    }

    #CONTRIBUTE {
        margin-top: 7%;
    }

    #CONTRIBUTEli {
        margin-top: 7%;
    }

    #ADD_YOUR_STORY_ {
        padding-bottom: 7%;
    }

    #ADD_YOUR_STORY_li {
        padding-bottom: 7%;
    }
}

