/* FAMILY TREE PAGE BEGINS */

#familytreemosaic {
    width: 11250px;    
    height: 1925px;
    margin-top: 6.66%;
    clear: both;
}


/* #DSFamilyTree {
    margin-top: 6.66%;
    max-width: 11200px;
    width: 11200px;
    height: 1925px;
} */

#DSFamilyTree1 {
    /* max-width: 11200px; */
    width: 311px;
    height: 1925px;
    margin-left: -5px;
}

#DSFamilyTree2 {
    width: 414.5px;
    height: 1925px;
    clear: none;
    margin-left: -5px;
}

#DSFamilyTree3 {
    width: 351px;
    height: 1925px;
    clear: none;
    margin-left: -5px;
}

#DSFamilyTree4 {
    width: 621.5px;
    height: 1925px;
    clear: none;
    margin-left: -5px;
}

#DSFamilyTree5 {
    /* max-width: 11200px; */
    width: 995.5px;
    height: 1925px;
    margin-left: -5px;
}

#DSFamilyTree6 {
    width: 1008.5px;
    height: 1925px;
    clear: none;
    margin-left: -5px;
}


#DSFamilyTree7 {
    width: 985.5px;
    height: 1925px;
    clear: none;
    margin-left: -5px;
}

#DSFamilyTree8 {
    width: 901.5px;
    height: 1925px;
    clear: none;
    margin-left: -5px;
}

#DSFamilyTree9 {
    width: 848px;
    height: 1925px;
    margin-left: -5px;
}

#DSFamilyTree10 {
    width: 951.5px;
    height: 1925px;
    clear: none;
    margin-left: -5px;
}

#DSFamilyTree11 {
    width: 879px;
    height: 1925px;
    clear: none;
    margin-left: -5px;
}

#DSFamilyTree12 {
    width: 1057.5px;
    height: 1925px;
    clear: none;
    margin-left: -5px;
}

#DSFamilyTree13 {
    width: 959.5px;
    height: 1925px;
    clear: none;
    margin-left: -5px;
}

#DSFamilyTree14 {
    width: 915.5px;
    height: 1925px;
    clear: none;
    margin-left: -5px;
}

/* FAMILY TREE PAGE ENDS */

#paperwalk2 {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin-top: 3.16%;
    margin-left: 2.08008%;
    clear: none;
}

#Skip_Woodworking_Audio {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin-top: 1.580626%;
    margin-left: 8.33329708%;
    clear: both;
}

#by_SKIP_SALMON5 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 253, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin-top: 5px;
    margin-left: 4.615246%;
    clear: none;
}

#We_joined_a_walking_group_last_summer_and_last_fall_and_we_wou {
    float: left;
    font-size: 1em;
    width: 100.000409%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsh10 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#WALKING_DINING {
    float: left;
    font-size: 2.1875em;
    width: 83.33%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin-top: 6.66660866%;
    margin-left: 8.33329708%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Woodworking_Audio {
    float: left;
    font-size: 1.0625em;
    width: 83.33%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin-top: 6.66660866%;
    margin-left: 8.33329708%;
    clear: both;
}

#Shapedsh_2 {
    float: left;
    height: 1px;
    width: 83.33%;
    background-color: rgb(6, 8, 8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 53;
    margin-top: 6.66659658%;
    margin-left: 8.333285%;
    clear: both;
}

#blackboxdsh5 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0.00297424%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#walkingpaper1 {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin-top: 6.66660866%;
    margin-left: 8.33329708%;
    clear: both;
}

#pensinholder {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 22;
    margin-top: 2.0800080916%;
    margin-left: 8.33329708%;
    clear: both;
}

#the_three_women {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 37;
    margin-top: 2.0800080916%;
    margin-left: 2.080079708%;
    clear: none;
}

#Shapedsh_4 {
    float: left;
    height: 1px;
    width: 83.33%;
    background-color: rgb(6, 8, 8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 15;
    margin-top: 6.66660866%;
    margin-left: 8.33329708%;
    clear: both;
}

#chairbuilding {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin-top: 2.0800080916%;
    margin-left: 2.080079708%;
    clear: none;
}

#tina_babybeach1 {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 38;
    margin-top: 2.0800079708%;
    margin-left: 8.33329708%;
    clear: both;
}

#woodworkingtable {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 23;
    margin-top: 6.66660866%;
    margin-left: 8.33329708%;
    clear: both;
}

#dougnsiblings {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 40;
    margin-top: 2.0800079708%;
    margin-left: 8.33329708%;
    clear: both;
}

#boatingds {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 74;
    margin-top: 2.0800079708%;
    margin-left: 8.333285%;
    clear: both;
}

#kissinggranddaughter {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 39;
    margin-top: 2.0800080916%;
    margin-left: 2.080079708%;
    clear: none;
}

#whitewaterraftingds {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 77;
    margin-top: 2.080008%;
    margin-left: 2.08008%;
    clear: none;
}

/* #Home_•_Perseverance_•_Family_•_Service_•_Hobbie {
    float: left;
    font-size: 0.8458429999999999em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(62, 77, 77);
    font-style: italic;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 104;
    margin-top: 10px;
    margin-left: 24.835654%;
    clear: both;
} */

#QUILTING_WOODWORKING {
    float: left;
    font-size: 2.1875em;
    width: 83.33%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 31;
    margin-top: 6.66659658%;
    margin-left: 8.33329708%;
    clear: both;
}

#skipandsis {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 41;
    margin-top: 6.66660866%;
    margin-left: 2.080079708%;
    clear: none;
}

#fishingrecent1 {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 76;
    margin-top: 2.08000785%;
    margin-left: 8.333285%;
    clear: both;
}

#Title_Line_f2 {
    float: left;
    height: 1px;
    width: 50%;
    background-color: rgb(6, 8, 8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 105;
    margin-top: 65px;
    margin-left: -35.316367%;
    clear: none;
}

#by_SKIP_SALMON4 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 253, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 27;
    margin-top: 5px;
    margin-left: 4.615246%;
    clear: none;
}

#I_used_to_quilt_I_enjoyed_quilting_a_lot_I_made_big_quilts_fo {
    float: left;
    font-size: 1em;
    width: 100.000409%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 29;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsh8 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsh9 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#dougandreamelanie {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 42;
    margin-top: 6.66659658%;
    margin-left: 8.33329708%;
    clear: both;
}

#modgardenraking {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 60;
    margin-top: 2.08000785%;
    margin-left: 8.333285%;
    clear: both;
}

#campingfirewalk11 {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 78;
    margin-top: 2.08000785%;
    margin-left: 8.333285%;
    clear: both;
}

#blackboxdsh4 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 26;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0.00297424%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#quiltingskip {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 32;
    margin-top: 45px;
    margin-left: 8.33466261%;
    clear: both;
}

#modgardenportrait1 {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 59;
    margin-top: 2.080008%;
    margin-left: 2.08008%;
    clear: none;
}

#fishgutting {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 75;
    margin-top: 2.080008%;
    margin-left: 2.08008%;
    clear: none;
}

#Title_Line_f1 {
    float: left;
    height: 1px;
    width: 50%;
    background-color: rgb(6, 8, 8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 108;
    margin-top: 12px;
    margin-left: 26.450116%;
    clear: both;
}

#Shapedsh_3 {
    float: left;
    height: 1px;
    width: 83.33%;
    background-color: rgb(6, 8, 8);
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(7, 9, 9);
    border-right-color: rgb(7, 9, 9);
    border-bottom-color: rgb(7, 9, 9);
    border-left-color: rgb(7, 9, 9);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 33;
    margin-top: 6.66%;
    margin-left: 8.333706738%;
    clear: both;
}

#VISITING_WITH_FAMILY {
    float: left;
    font-size: 2.1875em;
    width: 83.33;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    margin-top: 6.66658449%;
    margin-left: 8.333285%;
    clear: both;
}

#gardeningbush {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 61;
    margin-top: 6.66658449%;
    margin-left: 8.333285%;
    clear: both;
}

#campdeer {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 79;
    margin-top: 6.66658449%;
    margin-left: 8.333285%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#by_SKIP_SALMON3 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 253, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 46;
    margin-top: 5px;
    margin-left: 4.615246%;
    clear: none;
}

#We_enjoy_visiting_with_family_whoever_will_come_and_never_get {
    float: left;
    font-size: 1em;
    width: 100.00027%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 48;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsh6 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#famreunion_log {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 51;
    margin-top: 6.66658449%;
    margin-left: 8.333285%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#blackboxdsh3 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 45;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 27px;
    margin-left: 0%;
    clear: both;
    margin-right: 0%;
}

#GARDENING {
    float: left;
    font-size: 2.1875em;
    width: 83.33%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 69;
    margin-top: 6.66658449%;
    margin-left: 8.3333706738%;
    clear: both;
}

#hikinglog {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 87;
    margin-top: 2.08000785%;
    margin-left: 8.33148444%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#by_SKIP_SALMON2 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 253, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 65;
    margin-top: 5px;
    margin-left: 4.615246%;
    clear: none;
}

#Doug_enjoys_gardening_I_can’t_really_get_down_in_the_dirt_and_ {
    float: left;
    font-size: 1em;
    width: 100.000298%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 67;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsh4 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#corngarden {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 70;
    margin-top: 6.66658449%;
    margin-left: 8.333285%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#by_SKIP_SALMON1 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 253, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 83;
    margin-top: 5px;
    margin-left: 4.615246%;
    clear: none;
}

#By_the_time_we_moved_to_Pleasanton_Doug_got_a_sabbatical_from_ {
    float: left;
    font-size: 1em;
    width: 100.000298%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 85;
    margin-top: 0%;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsh2 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#twofishholdup {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 88;
    margin-top: 2.080008%;
    margin-left: 2.08008%;
    clear: none;
}

#blackboxdsh2 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 64;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#Shapedsh_1 {
    float: left;
    height: 1px;
    width: 83.33%;
    background-color: rgb(6, 8, 8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 71;
    margin-top: 6.66658449%;
    margin-left: 8.333285%;
    clear: both;
}

#blackboxdsh1 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 82;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0%;
    clear: both;
    margin-right: 0%;
}

#tinafishing1 {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 89;
    margin-top: 2.08000785%;
    margin-left: 8.333285%;
    clear: both;
}

#truckerfish1 {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 91;
    margin-top: 2.08000785%;
    margin-left: 8.333285%;
    clear: both;
}

#fishingskip {
    float: left;
    width: 40.630003%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 90;
    margin-top: 2.0800079674%;
    margin-left: 2.080079674%;
    clear: none;
}

#lakefishadamsteve {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 92;
    margin-top: 6.66658449%;
    margin-left: 8.333285%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#CAMPING_FISHING {
    float: left;
    font-size: 2.1875em;
    width: 83.33%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 100;
    margin-top: 6.66658449%;
    margin-left: 8.333285%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#by_SKIP_SALMON {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 253, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 96;
    margin-top: 5px;
    margin-left: 4.615246%;
    clear: none;
}

#One_of_the_things_that_we’ve_always_enjoyed_as_a_family_was_fis {
    float: left;
    font-size: 1em;
    width: 100.000298%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 98;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandsh {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#fishingsmallfish {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 101;
    margin-top: 6.66658449%;
    margin-left: 8.333285%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#blackboxdsh {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 95;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-top: 4.87%;
    margin-left: 0%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

#textspandsh11 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsh7 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsh5 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsh3 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandsh1 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#boxdsh1 {
    float: left;
    height: auto;
    margin-left: 8.333285%;
    margin-top: 6.66659658%;
    clear: both;
    width: 40.6300029879%;
}

#boxdsh {
    float: left;
    height: auto;
    margin-left: 8.333285%;
    margin-top: 3.157628%;
    clear: both;
    width: 40.6300029879%;
}

#boxdsh2 {
    float: left;
    height: auto;
    margin-left: 8.333285%;
    margin-top: 3.869393%;
    clear: both;
    width: 40.6300029879%;
}

#boxdsh3 {
    float: left;
    height: auto;
    margin-left: 8.333285%;
    margin-top: 3.157628%;
    clear: both;
    width: 40.630002989%;
}

#boxdsh4 {
    float: left;
    height: auto;
    margin-left: 8.333285%;
    margin-top: 3.158836%;
    clear: both;
    width: 40.6300029834%;
}

#boxdsh5 {
    float: left;
    height: auto;
    margin-left: 8.333285%;
    margin-top: 3.16%;
    clear: both;
    width: 40.6300029834%;
}

@media only screen and (max-width: 615px) {


    #boxdsh {
        margin-top: 6.6666%;
        width: 83.33%;
    }

    #blackboxdsh {
        margin-top: 2.38%;
    }

    #boxdsh1 {
        width: 83.33%;
    }

    #blackboxdsh1 {
        margin-top: 2.38%;
    }

    #boxdsh2 {
        width: 83.33%;
        margin-top: 6.6666%;
    }

    #blackboxdsh2 {
        margin-left: 0%;
        margin-top: 2.38%;
    }

    #boxdsh3 {
        width: 83.33%;
        margin-top: 6.6666%;
    }

    #blackboxdsh3 {
        margin-top: 2.38%;
    }

    #boxdsh4 {
        margin-top: 6.6666%;
        width: 83.33%;
    }

    #boxdsh5 {
        margin-top: 6.6666%;
        width: 83.33%;
    }

    #blackboxdsh4 {
        margin-top: 2.38%;
    }

    #blackboxdsh5 {
        margin-top: 2.38%;
    }

    #paperwalk2 {
        margin-left: 8.3333%;
        margin-top: 6.6666%;
        width: 83.33%;
    }

    #Skip_Woodworking_Audio {
        width: 83.33%;
        height: 77px;
    }
}

