#notethanks {
    float: left;
    width: 66.66%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-top: 6.6666%;
    margin-left: 16.66%;
    clear: both;
}

#Doug_Parents_Example_Audio {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: 171px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 1.58%;
    margin-left: 8.333333%;
    clear: both;
}

#DOUG_PARENTS_EXAMPLE {
    float: left;
    font-size: 1.0625em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin-top: 6.6666%;
    margin-left: 8.333333%;
    clear: both;
}

#bishopric {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 4;
    margin: 6.66% 0px 0px 8.3333%;
    clear: both;
}

#“They_taught_us_very_young_how_to_serve_and_what_to_look_for_in {
    float: left;
    font-size: 1em;
    width: 83.33%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin: 6.66% 0px 0px 8.3333%;
    clear: both;
}

#textspandss24 {
    float: none;
    font-size: 1.40075em;
    line-height: 1.8em;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss25 {
    float: none;
    font-size: 1.0625em;
    line-height: 39px;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#Skip_Service_Audio {
    float: left;
    width: 40.630063%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 1.58%;
    margin-left: 8.333333%;
    clear: both;
}

#ON_SERVICE {
    float: left;
    font-size: 1.0625em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    margin-top: 6.6666%;
    margin-left: 8.333333%;
    clear: both;
}

#Seminary_Video_Laurie {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin-top: 2.38%;
    margin-left: 8.333333%;
    clear: both;
}

#SACRIFICING_FOR_SEMINARY_ {
    float: left;
    font-size: 1.944468em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(0, 0, 0);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 9;
    margin: 6.66% 0px 0px 8.3333%;
    clear: both;
}

#“My_mother_is_also_a_great_example_of_giving_her_time_being_ {
    float: left;
    font-size: 1em;
    width: 83.33%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 10;
    margin: 6.66% 0px 0px 8.3333%;
    clear: both;
}

#textspandss21 {
    float: none;
    font-size: 1.40075em;
    line-height: 1.8em;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss22 {
    float: none;
    font-size: 1.0625em;
    line-height: 39px;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#Examples_of_Service_Tina_Video {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 2.38%;
    margin-left: 8.3333625992%;
    clear: both;
}

#MODELS_OF_SERVICE {
    float: left;
    font-size: 1.944468em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(0, 0, 0);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin-top: 4.16%;
    margin-left: 8.333333%;
    clear: both;
}

#“Part_of_my_parent’s_legacy_to_me_is_giving_time_to_others_My_ {
    float: left;
    font-size: 1em;
    width: 83.33%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    margin: 6.66% 0px 0px 8.3333%;
    clear: both;
}

#textspandss18 {
    float: none;
    font-size: 1.40075em;
    line-height: 1.8em;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss19 {
    float: none;
    font-size: 1.0625em;
    line-height: 39px;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#linear1 {
    float: left;
    height: 1px;
    width: 83.33%;
    background-color: rgb(6, 8, 8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin-top: 6.6666%;
    margin-left: 8.333333%;
    clear: both;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

#washing_dishes {
    float: left;
    width: 40.63008%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 22;
    margin-top: 2.080079613%;
    margin-left: 8.3333329613%;
    clear: both;
}

#by_DOUG_SALMON1 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 253, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin-top: 5px;
    margin-left: 4.615246%;
    clear: none;
}

#It_was_nice_to_use_some_of_my_logistics_experience_with_the_fac {
    float: left;
    font-size: 1.05em;
    width: 100.0000%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1.7em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin: 0px;
    clear: none;
    padding-left: 2.08px;
}

#textspandss15 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss16 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#bishopsstorehouse {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 23;
    margin-top: 6.66660466%;
    margin-left: 8.3333329613%;
    clear: both;
}

#blackboxdss3 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 4.87% 0px 0px;
    clear: both;
}

#THE_BISHOP_S_STOREHOUSE {
    float: left;
    font-size: 2.1875em;
    width: 83.33%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 32;
    margin-top: 6.66659226%;
    margin-left: 8.3333329613%;
    clear: both;
}

#by_SKIP_SALMON1 {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 253, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 27;
    margin-top: 5px;
    margin-left: 4.615246%;
    clear: none;
}

#When_we_were_worn_out_and_released_from_that_calling_we_settle {
    float: left;
    font-size: 1em;
    width: 100.000098%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 27px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 29;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandss13 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss14 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#church_building {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 31;
    margin-top: 6.66659226%;
    margin-left: 8.3333329613%;
    clear: both;
}

#blackboxdss2 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 26;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 4.87% 0px 0px 0%;
    clear: both;
}

#linear {
    float: left;
    height: 1px;
    width: 83.33%;
    background-color: rgb(6, 8, 8);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 51;
    margin-top: 6.66661706%;
    margin-left: 8.3333464782%;
    clear: both;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

#True_Servants_Video_Laurie {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 33;
    margin-top: 2.379712%;
    margin-left: 8.3333329613%;
    clear: both;
}

#True_Servants_Video_Laurie2 {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 33;
    margin-top: 2.379712%;
    margin-left: 8.3333329613%;
    clear: both;
}

#THE_WAY_THEY_SERVED {
    float: left;
    font-size: 1.944468em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(0, 0, 0);
    font-style: normal;
    letter-spacing: 0.12em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 34;
    margin-top: 4.16986%;
    margin-left: 8.3333329613%;
    clear: both;
}

#“They_didn’t_just_barely_take_care_of_the_things_they_had_to_do {
    float: left;
    font-size: 1em;
    width: 83.33%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 35;
    margin-top: 6.66659226%;
    margin-left: 8.3333329613%;
    clear: both;
}

#textspandss11 {
    float: none;
    font-size: 1.40075em;
    line-height: 1.8em;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss12 {
    float: none;
    font-size: 1.0625em;
    line-height: 39px;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#wmissionpresident {
    float: left;
    width: 56%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 36;
    margin-top: 2.08008%;
    margin-left: 2.08%;
    clear: none;
}

#missionarytable {
    float: left;
    width: 25.25%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 37;
    margin-top: 2.080078373%;
    margin-left: 8.3333329613%;
    clear: both;
}

#missionarycouples {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 38;
    margin-top: 2.080%;
    margin-left: 8.3333329613%;
    clear: both;
}

#apartmentextras {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 39;
    margin: 2.0800373% 0px 0px 8.33329613%;
    clear: both;
}

#bedconstruction {
    float: left;
    width: 40.630063%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 40;
    margin: 6.660466% 0px 0px 2.0800613%;
    clear: none;
}

#boxspring {
    float: left;
    width: 40.630063%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 41;
    margin: 6.660466% 0px 0px 8.33329613%;
    clear: both;
}

#“One_of_the_callings_they_had_as_senior_missionaries_was_to_fin {
    float: left;
    font-size: 1em;
    width: 40.6300241935%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 42;
    margin-top: 3.87%;
    margin-left: 2.08%;
    clear: none;
}

#textspandss8 {
    float: none;
    font-size: 1.40075em;
    line-height: 1.8em;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss9 {
    float: none;
    font-size: 1.0625em;
    line-height: 39px;
    color: rgb(0, 0, 0);
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#by_DOUG_SALMON {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 253, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 46;
    margin-top: 5px;
    margin-left: 4.615246%;
    clear: none;
}

#I_had_retired_from_employment_and_our_Stake_President_got_a_ca {
    float: left;
    font-size: 1em;
    width: 100.002927%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 48;
    margin-top: 0px;
    margin-left: 0%;
    clear: none;
    margin-right: 0%;
}

#textspandss5 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
    width: 40.630063%;
}

#textspandss6 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
    width: 40.630063%;
}

#SERVING_A_MISSION {
    float: left;
    font-size: 2.1875em;
    width: 83.33%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 50;
    margin-top: 6.66659226%;
    margin-left: 8.3333329613%;
    clear: both;
}

#blackboxdss1 {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 45;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 4.87% 0px 0px 0%;
    clear: both;
}

#loadingtruck {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 52;
    margin: 6.66% 0px 0px 8.3333%;
    clear: none;
}

#SERVING_IN_THE_TEMPLE {
    float: left;
    font-size: 2.1875em;
    width: 83.33%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(6, 8, 8);
    font-style: normal;
    letter-spacing: 0.075em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 60;
    margin: 6.659226% 0px 0px 8.33329613%;
    clear: both;
}

#by_SKIP_SALMON {
    float: left;
    font-size: 1.0354284999999999em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    color: rgb(255, 253, 255);
    font-style: normal;
    letter-spacing: 0.06em;
    text-decoration: none;
    font-family: Goldenbook;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 56;
    margin-top: 5px;
    margin-left: 4.615246%;
    clear: none;
}

#One_of_the_things_that’s_always_been_important_to_me_is_church_ {
    float: left;
    font-size: 1em;
    width: 100.002949%;
    height: auto;
    text-align: justify;
    font-weight: normal;
    line-height: 27px;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 58;
    margin-top: 0%;
    margin-left: 0%;
    clear: left;
    margin-right: 0%;
}

#textspandss3 {
    float: none;
    font-size: 2.1729415em;
    line-height: 27px;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss4 {
    float: none;
    font-size: 1.05em;
    line-height: 1.7em;
    color: rgb(8, 10, 10);
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#“I_can’t_think_of_any_time_in_my_whole_life_they_weren’t_servin {
    float: left;
    font-size: 1em;
    width: 80%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 62;
    margin: 0px 0px 0px 10%;
    clear: none;
    color: rgb(0, 0, 0);
    padding-top: 5%;
    padding-bottom: 5%;
}

#blackboxdss {
    float: left;
    width: 180px;
    height: 24px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 55;
    background-image:url("img/blackbox.png");
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 4.87% 0% 0%;
    clear: none;
}

/* #Home_•_Perseverance_•_Family_•_Service_•_Hobbie {
    float: left;
    font-size: 0.8458429999999999em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    color: rgb(62, 77, 77);
    font-style: italic;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 64;
    margin-top: 10px;
    margin-left: 24.515129%;
    clear: both;
} */



#imagedss {
    float: left;
    width: 83.33%;
    max-width: 100%;
    height: auto;
    margin-left: 8.333333%;
    margin-top: 4.16%;
    clear: none;
    color: rgb(0, 0, 0);
}

#boxdss {
    float: left;
    height: auto;
    margin-left: 8.3333327133%;
    margin-top: 4.786706%;
    clear: both;
    width: 83.33%;
    min-height: 50px;
    background-color: rgb(221, 221, 221);
}

#boxdss2 {
    float: left;
    height: auto;
    margin-left: 8.3333327133%;
    margin-top: 3.158482%;
    clear: both;
    width: 40.6300628811%;
}

#boxdss1 {
    float: left;
    height: auto;
    margin: 3.158482% 0px 0px 8.33329613%;
    clear: both;
    width: 40.6300628802%;
}

#boxdss3 {
    float: left;
    height: auto;
    margin: 3.159722% 0px 0px 8.33329613%;
    clear: both;
    width: 40.630062996%;
}

#boxdss4 {
    float: left;
    height: auto;
    margin: 2.08% 0px 0px 2.08%;
    clear: none;
    width: 40.630062996%;
}

#textspandss17 {
    float: none;
    font-size: 1.40075em;
    line-height: 1.8em;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss10 {
    float: none;
    font-size: 1.40075em;
    line-height: 1.8em;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss20 {
    float: none;
    font-size: 1.40075em;
    line-height: 1.8em;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss7 {
    float: none;
    font-size: 1.40075em;
    line-height: 1.8em;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss1 {
    float: none;
    font-size: 1.40075em;
    line-height: 1.8em;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss {
    float: none;
    font-size: 1.40075em;
    line-height: 1.8em;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

#textspandss2 {
    float: none;
    font-size: 1.0625em;
    line-height: 39px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
}

#textspandss23 {
    float: none;
    font-size: 1.40075em;
    line-height: 1.8em;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: normal;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-family: 'Adobe Garamond Pro';
}

@media only screen and (max-width: 802px) {
    #textspandss17 {
        float: none;
        font-size: 1.25em;
        line-height: 1.8em;
    }

    #textspandss18 {
        line-height: 1.8em;
    }

    #textspandss10 {
        float: none;
        font-size: 1.25em;
        line-height: 1.8em;
    }

    #textspandss20 {
        float: none;
        font-size: 1.25em;
        line-height: 1.8em;
    }

    #textspandss21 {
        line-height: 1.8em;
    }

    #textspandss7 {
        float: none;
        font-size: 1.25em;
        line-height: 1.8em;
    }

    #textspandss8 {
        line-height: 1.8em;
    }

    #textspandss1 {
        float: none;
        font-size: 1em;
        line-height: 1em;
    }

    #textspandss {
        float: none;
        font-size: 1.25em;
        line-height: 1.8em;
    }

    #textspandss2 {
        float: none;
        font-size: 0.88em;
        line-height: 1.7em;
    }

    #textspandss23 {
        float: none;
        font-size: 1.25em;
        line-height: 1.8em;
    }

    #textspandss25 {
        line-height: 1.7em;
        font-size: 0.88em;
    }

    #textspandss12 {
        line-height: 1.7em;
        font-size: 0.88em;
    }

    #textspandss9 {
        font-size: 0.88em;
        line-height: 1.7em;
    }

    #textspandss19 {
        font-size: 0.88em;
        line-height: 1.7em;
    }

    #textspandss22 {
        line-height: 1.7em;
        font-size: 0.88em;
    }

    #SACRIFICING_FOR_SEMINARY_ {
        font-size: 1.38em;
    }

    #MODELS_OF_SERVICE {
        font-size: 1.38em;
    }

    #THE_WAY_THEY_SERVED {
        font-size: 1.38em;
    }
}

@media only screen and (max-width: 616px) {
    #boxdss2 {
        margin-top: 4.32%;
        width: 83.33%;
    }

    #boxdss1 {
        margin: 4.32% 0px 0px 8.3333%;
        width: 83.33%;
    }

    #boxdss3 {
        margin-top: 4.32%;
        width: 83.33%;
    }

    #blackboxdss {
        margin-top: 2.38%;
    }

    #blackboxdss1 {
        margin-top: 2.38%;
    }

    #“One_of_the_callings_they_had_as_senior_missionaries_was_to_fin {
        width: 83.33%;
        margin-left: 8.333333%;
        margin-top: 6.6666%;
        text-align: center;
    }

    #THE_WAY_THEY_SERVED {
        margin: 6.66% 0px 0px 8.3333%;
    }

    #blackboxdss2 {
        margin: 2.38% 0px 0px 0%;
    }

    #washing_dishes {
        width: 83.33%;
    }

    #boxdss4 {
        width: 83.33%;
        margin-left: 8.333333%;
        margin-top: 6.6666%;
    }

    #blackboxdss3 {
        margin-top: 2.38%;
    }

    #MODELS_OF_SERVICE {
        margin: 6.66% 0px 0px 8.3333%;
    }

    #notethanks {
        width: 83.33%;
        margin-left: 8.333333%;
    }

    #Skip_Service_Audio {
        width: 83.33%;
    }
}

@media only screen and (max-width: 480px) {
    #boxdss1 {
        margin: 6.66% 0px 0px 8.3333%;
    }

    #boxdss2 {
        margin-top: 6.6666%;
    }

    #boxdss3 {
        margin-top: 6.6666%;
    }

    #“My_mother_is_also_a_great_example_of_giving_her_time_being_ {
        margin-top: 8.3332%;
    }

    #SACRIFICING_FOR_SEMINARY_ {
        margin-top: 8.3332%;
        width: 83.33%;
    }

    #MODELS_OF_SERVICE {
        margin-top: 8.3332%;
        font-size: 1.2em;
        line-height: 1.2em;
    }

    #ON_SERVICE {
        margin: 8.3332% 0px 0px 8.3333%;
    }

    #“They_taught_us_very_young_how_to_serve_and_what_to_look_for_in {
        margin: 8.3332% 0px 0px 8.3333%;
    }

    #bishopric {
        margin: 8.3332% 0px 0px 8.3333%;
    }

    #notethanks {
        margin: 8.3332% 0px 0px 8.3333%;
    }

    #DOUG_PARENTS_EXAMPLE {
        margin-top: 8.3332%;
    }

    #THE_WAY_THEY_SERVED {
        margin: 8.3332% 0px 0px 8.3333%;
        font-size: 1.2em;
        line-height: 1.2em;
    }

    #“They_didn’t_just_barely_take_care_of_the_things_they_had_to_do {
        margin: 8.3332% 0px 0px 8.3333%;
    }

    #“One_of_the_callings_they_had_as_senior_missionaries_was_to_fin {
        margin: 8.3332% 0px 0px 8.3333%;
    }

    #boxspring {
        margin-top: 8.3332%;
    }

    #bedconstruction {
        margin-top: 8.3332%;
    }
}

