
.primaryContainer {
    height: auto;
    margin-left: 6.429125%;
    margin-right: 0px;
    min-height: 100%;
    width: 87.75351%;
    max-width: 1125px;
    min-width: 1100px;
    float: left;
    margin-top: 0px;
    clear: none;
}

#CONTACT_US {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(24, 24, 24);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    margin-top: 502px;
    margin-left: 11.737944%;
    clear: none;
}

#ABOUT_US {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(24, 24, 24);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
    margin-top: 502px;
    margin-left: 37.761601%;
    clear: both;
}

#METHODOLOGY {
    float: left;
    font-size: 1.3125em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 7;
    font-family: trajan-pro-3;
    margin-top: 121px;
    margin-left: -23.839854%;
    clear: none;
}

#White_Box_Shape_2 {
    float: left;
    height: 65px;
    width: 23.657871%;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 8;
    margin-top: 96px;
    margin-left: -26.11465%;
    clear: none;
}

#LEARN_MORE {
    float: left;
    font-size: 1.0625em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 13;
    font-family: trajan-pro-3;
    margin-top: 198px;
    margin-left: -49.500967%;
    clear: none;
}

#painting_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 6;
    margin-top: 19px;
    margin-left: 0.18198362%;
    clear: none;
}

#Learn_More_Button_Shape_ {
    float: left;
    height: 31px;
    width: 13.284804%;
    background-color: rgb(143, 142, 142);
    border: 0px solid rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 12;
    margin-top: 189px;
    margin-left: -49.954504%;
    clear: none;
}

#PRODUCTS {
    float: left;
    font-size: 1.3125em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    font-style: normal;
    letter-spacing: 0.1em;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 30;
    font-family: trajan-pro-3;
    margin-top: 121px;
    margin-left: -49.590537%;
    clear: none;
}

#WE_BUILD_CUSTOM_MUSEUMS_FOR_YOUR_FAMILYS_LIFE_STORIES {
    float: left;
    font-size: 2.0em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(24, 24, 24);
    font-style: italic;
    letter-spacing: 4px;
    text-decoration: none;
    font-family: ltc-bodoni-175;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin-top: 52px;
    margin-left: -26.068699%;
    clear: none;
}

#WE_BUILD_CUSTOM_MUSEUMS_FOR_YOUR_FAMILYS_LIFE_STORIES2 {
    float: left;
    font-size: 2.0em;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 100;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(24, 24, 24);
    font-style: italic;
    letter-spacing: 4px;
    text-decoration: none;
    font-family: kepler-std;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 14;
    margin-top: 52px;
    margin-left: .068699%;
    clear: none;
}

#White_Box_Shape_1 {
    float: left;
    height: 65px;
    width: 23.657871%;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 29;
    margin-top: 96px;
    margin-left: -55.323021%;
    clear: none;
}

#MISSION {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(24, 24, 24);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 18;
    margin-top: 28px;
    margin-left: -45.677889%;
    clear: none;
}

#wheat_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 11;
    margin-top: 19px;
    margin-left: 0.09099181%;
    clear: none;
}

#pathway_png {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 28;
    margin-top: 19px;
    margin-left: 6.369427%;
    clear: both;
}

#HIRE_US {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(24, 24, 24);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 17;
    margin-top: 28px;
    margin-left: -58.509156%;
    clear: none;
}

#life_storytellers {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(24, 24, 24);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 25;
    font-family: trajan-pro-3;
    margin-top: 86px;
    margin-left: -18.290776%;
    clear: none;
}

#LOGIN {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(24, 24, 24);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 21;
    margin-top: 27px;
    margin-left: 10.282075%;
    clear: none;
}

#ANTHO {
    float: left;
    font-size: 4.6875em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(24, 24, 24);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: kepler-std;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 24;
    margin-top: 29px;
    margin-left: 39.581438%;
    clear: none;
}

#BLOG {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(24, 24, 24);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 20;
    margin-top: 27px;
    margin-left: 10.191083%;
    clear: none;
}

#METHOD {
    float: left;
    font-size: 0.75em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: normal;
    word-wrap: break-word;
    color: rgb(24, 24, 24);
    font-style: normal;
    letter-spacing: normal;
    text-decoration: none;
    font-family: jaf-domus-titling-web;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 19;
    margin-top: 27px;
    margin-left: 46.951774%;
    clear: both;
}

@media only screen and (max-width: 1125px) {
   .primaryContainer {
        min-width: 1100px;
        width: 97.777778%;
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        clear: none;
        background-color: rgb(255, 255, 255);
   }
}

